.container

  .page-header
    %h1
      Credentials
      %small Manage your ssh keys and ec2 credentials

  - if current_user.is_allowed?("identity:create_credential", {credential: {user_id: current_user.id} })              
    .toolbar    
      %button.btn.btn-primary.btn-lg{type:"button", data: {toggle:"modal", target: "#credentialForm"}} Create new
    
    .modal#credentialForm.fade{data: { backdrop: 'static' }}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}}
              %span{aria: {hidden: "true"}} &times;
            %h4.modal-title Modal title
        
          .modal-body= render partial: "form", locals: { forms_credential: @forms_credential }

          .modal-footer
            %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
            %button{type: "submit", class: 'btn btn-primary', data: {js_submit: "#credentialForm .modal-body form", disable_with: 'Saving...'}} Save
          
  %table.table
    %thead
      %tr
        %th Type
        %th Scope
        %th Data
        %th
    %tbody#credentials_table
      - @user_credentials.each do |credential|
        = render partial: 'item', locals: {credential: credential}

