.content
  .container
    .page-header
      %h1
        Credentials


    .row
      .col-sm-6
        .list-group
          - @user_credentials.each do |credential|
            = link_to credential.name, credential_path(credential.id, class: "list-group-item")

      .col-sm-6
        = render "form"
