= simple_form_for @forms_credential, url: credentials_path, method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @forms_credential.errors["message"].blank?
      %p.alert.alert-error= @forms_credential.errors.full_messages.to_sentence
    
    = render partial: 'form', locals: {form: f} 
  
  %div.buttons{class: modal? ? 'modal-footer' : ''}  
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Save