%b
  ="#{t("loadbalancing.policies.#{pre}")} (#{pre})"
%p
  Redirects all HTTP calls to HTTPS protocol on port 443.
  A given path will also be added to the https redirect, i.e.
  http://sap.com/hana would result in https://sap.com/hana.