%b
  ="#{t("loadbalancing.policies.#{pre}")} (#{pre})"
%p
  Disables the OneConnect Profile on listeners (used for member connection reuse)
  %a(href='https://support.f5.com/csp/article/K7208') (F5 Documentation)