- if current_user.is_allowed?("dns_service:recordset_create", zone_type: zone.type)
  .toolbar.toolbar-aligntop
    = link_to 'Create New', plugin('dns_service').new_zone_recordset_path(zone_id: zone.id), data: {modal: true}, class: 'btn btn-primary btn-lg'

%table.table#recordsets
  %thead
    %tr
      %th Name
      %th Type
      %th Data
      %th Priority
      %th TTL
      %th.snug
  %tbody
    - if recordsets.length==0
      %tr{data: {empty: true}}
        %td{colspa: 6} No records available
    - else
      - recordsets.each do | recordset |
        
        = render partial: 'dns_service/zones/recordsets/recordset_item', locals: {zone: zone, recordset: recordset}

= render_paginatable(recordsets)