.search-field-hint
  %a{id: 'clear_search', title: "clear search", href:'#', role:'button'}
    = icon('times')
  %a{data: {content: help, popover: {type:'help-hint'}, toggle:'popover'}, href:'#', role:'button', style:'padding-left:13px'}
    %span.fa-stack
      = icon 'square fa-stack-2x'
      = icon 'info fa-inverse fa-stack-1x' 

:javascript 
  $(function() {
    $('#clear_search').click(function(){
      $('#alarm_definitions_search').val('');
      $.cookie("alarm_definition_search", '', { expires: 1, path: '#{plugin('monitoring').alarm_definitions_path()}' });
      search();
    })
  });