-# ripped from /config/initializers/simple_form/help_hint.rb
.help-hint
  %a{data: {content:help, placement:'top', popover: {type:'help-hint'}, toggle:'popover'}, href:'#', role:'button'}
    %span.fa-stack
      = icon 'square fa-stack-2x'
      = icon 'info fa-inverse fa-stack-1x' 
