%strong
  - if state == 'OK'
    .text-success= state.capitalize
  - elsif state == 'UNDERDETERMINED'
    .text-warning= state.capitalize
  - elsif state == 'ALARM'
    .text-danger= state.capitalize
  - else
    = state.capitalize

