%table.table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
  - @alarm_definitions.each do |alarm_definition|
    %tr
      %td= alarm_definition.name
      %td= alarm_definition.description
