= render "intro"

- if @scoped_project_id
  - if current_user.is_allowed?("networking:floating_ip_create", {floating_ip: {user_id: current_user.id} })
    .toolbar
      = link_to 'Allocate new', plugin('networking').new_floating_ip_path, data: {modal: true}, class: 'btn btn-primary btn-lg'

  - if current_user.is_allowed?("networking:floating_ip_list", {floating_ip: {user_id: current_user.id} })
    %table.table#floating_ips
      %thead
        %tr
          %th Floating IP Address
          %th Fixed IP Address
          %th Status
          %th.snug
      %tbody
        - if @floating_ips.length==0
          %tr{dta:{empty:true}}
            %td{colspa: 5} No Floating IP available
        - else
          - @floating_ips.each do | floating_ip |
            = render partial: 'item', locals: {floating_ip: floating_ip}
- else
  = render "application/projects_list"
