<!DOCTYPE html>
<html>
<head>
  <title>DnsService</title>
  <%= stylesheet_link_tag    "dns_service/application", media: "all" %>
  <%= javascript_include_tag "dns_service/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
