%tr
  %td
    = user.name
    %br
    = user.description
  %td.info-text= user.id

/ disabled because write access to ldap is not allowed
/  %td.snug
/    - if current_user.is_allowed?("identity:group_remove_member", {group: group})
/      = link_to plugin('identity').group_members_remove_path(group.id, user.id), class: "btn btn-default btn-sm", method: :delete do
/        %i.fa.fa-trash.fa-fw
/        Remove

