/ disabled because write access to ldap is not allowed
/- if current_user.is_allowed?('identity:group_add_member', group: @group)
/  .toolbar.toolbar-aligntop
/    .main-buttons
/      = link_to 'Add Member', plugin('identity').group_members_new_path(@group.id), data: {modal: true}, class: 'btn btn-primary' 

%table.table#group_members
  %tr
    %th Name
    %th ID
    %th
  - members.each do |user|
    = render partial: 'identity/groups/member', locals: {user: user, group: @group}
