= content_for :title do
  Domain Statistics Report

= @deliverability_dashboard_options.inspect

.modal-body.static-columns
  .modal-section.first      
    - if @domain_statistics_report
      %table.table.table-striped
        %tr
          %td
            %strong report
          %td 
            =@domain_statistics_report
    - else 
      domain statistics report is not generated.

-# resp.overall_volume.domain_isp_placements #=> Array
-# resp.overall_volume.domain_isp_placements[0].isp_name #=> String
-# resp.overall_volume.domain_isp_placements[0].inbox_raw_count #=> Integer
-# resp.overall_volume.domain_isp_placements[0].spam_raw_count #=> Integer
-# resp.overall_volume.domain_isp_placements[0].inbox_percentage #=> Float
-# resp.overall_volume.domain_isp_placements[0].spam_percentage #=> Float
-# resp.daily_volumes #=> Array
-# resp.daily_volumes[0].start_date #=> Time
-# resp.daily_volumes[0].volume_statistics.inbox_raw_count #=> Integer
-# resp.daily_volumes[0].volume_statistics.spam_raw_count #=> Integer
-# resp.daily_volumes[0].volume_statistics.projected_inbox #=> Integer
-# resp.daily_volumes[0].volume_statistics.projected_spam #=> Integer
-# resp.daily_volumes[0].domain_isp_placements #=> Array
-# resp.daily_volumes[0].domain_isp_placements[0].isp_name #=> String
-# resp.daily_volumes[0].domain_isp_placements[0].inbox_raw_count #=> Integer
-# resp.daily_volumes[0].domain_isp_placements[0].spam_raw_count #=> Integer
-# resp.daily_volumes[0].domain_isp_placements[0].inbox_percentage #=> Float
-# resp.daily_volumes[0].domain_isp_placements[0].spam_percentage #=> Float
