= content_for :page_lead do
  .jumbotron
    .container
      %h2
        Welcome
        = current_user.full_name
      %p Your request has been send to the responsibe administrators for the domain. You'll receive an email on your request status after approval or rejection.
      %p Thank you!
