- is_edit_form = form_type == 'edit' ? true : false
-# - name_hint = is_edit_form ? "Custom verification Email template name" : "cannot edit template name. delete and create another template if name has to be changed."
- name_hint = "The name of the custom verification email template."
- email_address_hint = "The email address that the custom verification email is sent from."
- subject_hint = "The subject line of the custom verification email."
- content_hint = "The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see [Custom Verification Email Frequently Asked Questions](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq) in the Amazon SES Developer Guide. "
- success_url_hint = "The URL that the recipient of the verification email is sent to if his or her address is successfully verified"
- fail_url_hint = "The URL that the recipient of the verification email is sent to if his or her address is not successfully verified."
- if !verified_emails_collection || verified_emails_collection.empty? 
  %p.alert.alert-warning
    You have no verified Email addresses defined for this account to send email from. 
    Without a verified Email address, you can't send Email.
    You can get verified your Email address
    = link_to 'here', pl.new_email_verification_path

=f.input :template_name, required: true, label: 'Name', input_html: { autofocus: 'autofocus' }, placeholder: 'Enter name for your verification email template', icon_hint: name_hint

=f.input :from_email_address, required: true, label: 'From Email address', collection: verified_emails_collection, as: :select, placeholder: 'Enter a verfied email Address', icon_hint: email_address_hint

=f.input :template_subject, required: true, label: "Subject", placeholder: "Enter Template Subject", hint: 'Enter Subject', icon_hint: subject_hint

=f.input :template_content, required: true, label: "Content", as: :text, placeholder: "The total size of the email must be less than 10 MB", input_html:  {rows: "10", class: "u-text-monospace" }, icon_hint: content_hint

=f.input :success_redirection_url, required: true, label: "Success Redirection URL", placeholder: "http://host.com/path/to/redirection_url", icon_hint: success_url_hint

=f.input :failure_redirection_url, required: true, label: "Failure Redirection URL", placeholder: "http://host.com/path/to/redirection_url", icon_hint: fail_url_hint