.templates_table
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Subject
      %th.snug
  %tbody
    - unless @paginatable_templates.nil? || @paginatable_templates&.count&.positive?
      %tr
      %td{ colspan: 3 } No Verification Email Template available
    - else
      - @paginatable_templates.each do | item |
        = render partial: 'table_template_item', locals: { item: item }

- unless @paginatable_templates.nil? && @paginatable_templates.empty?
  = paginate @paginatable_templates, :theme => 'twitter-bootstrap-3', :remote => false
