= content_for :title do
  Custom Verification eMail Template details

- unless modal?
  %h3 Custom Verification eMail Template details

.modal-body.static-columns

  .modal-section.first
    %h3
      Details
    - if @custom_template
      %table.table
        %tr
          %td
            %strong Name:
          %td 
            =@custom_template.template_name
        %tr
          %td
            %strong From Email Address:
          %td 
            =@custom_template.from_email_address
        %tr
          %td
            %strong Template Subject:
          %td.html-part
            = @custom_template.template_subject 
        %tr
          %td
            %strong Template Content:
          %td.text-part
            =@custom_template.template_content
        %tr
          %td
            %strong Success Redirection URL:
          %td.text-part
            =@custom_template.success_redirection_url
        %tr
          %td
            %strong Failure Redirection URL:
          %td.text-part
            =@custom_template.failure_redirection_url            
    - else 
      Template not found.
      
%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').templates_url(), class: 'btn btn-default'