- email_address = item['EmailAddress']
- last_update_time = item['LastUpdateTime']
- reason = item['Reason']
%tr
  %td
    = index
  %td
    = link_to email_address, plugin('email_service').suppression_list_path(id: index, email_address: email_address), data: {modal: true}
  %td
    = (Time.at last_update_time).utc
  %td
    = reason