- if suppression_list.length > 0
  .suppression_list_table
  %table.table
    %thead
      %tr
      %th #
      %th Email Address
      %th Time Stamp
      %th Reason
      %th.snug
    %tbody
      - if !suppression_list || suppression_list.empty?
        %tr
          %td{ colspan: 4 } No suppression list available
      - else 
        - index = 1
        -@paginatable_suppressed_destinations.each do | item |
          = render partial: 'table_suppression_list_item', locals: { item: item, index: index }
          - index += 1
  -if suppression_list
    = paginate @paginatable_suppressed_destinations, :theme => 'twitter-bootstrap-3', :remote => false
