= content_for :title do
  Suppressed email details

- unless modal?
  %h3 Suppressed email details

.modal-body.static-columns

  .modal-section.first
    %h3
      Suppressed email Details
    - if @suppressed_destination
      %table.table
        %tr
          %td
            %strong Email Address:
          %td
            =@suppressed_destination['EmailAddress']
        %tr
          %td
            Last Updated
          %td
            =@suppressed_destination['LastUpdateTime']
        %tr
          %td
            Reason:
          %td
            =@suppressed_destination['Reason']
    - else
      Suppressed Destination not found

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').suppression_list_path, class: 'btn btn-default'
