<!DOCTYPE html>
<html>
<head>
  <title>Automation</title>
  <%= stylesheet_link_tag    "automation/application", media: "all" %>
  <%= javascript_include_tag "automation/application_widget" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
