%table.table.public_images.searchable{data:{search_input: '#search_public_images_input'}}
  %thead
    %tr
      %th Name
      %th Format
      %th Size
      %th.snug Status
      %th

  %tbody
    - if @images.empty?
      %tr
        %td{colspan: 4} No public images found.
    - else
      = render partial: 'list', locals: { images: @images }
