.row
  %table.table
    %thead
      %tr
        %th Name
        %th Format
        %th Size
        %th.snug Status
        %th

    %tbody
      - if @images.empty?
        %tr
          %td{colspan: 4} No public images found.
      - else    
        - @images.each do |image|
          = render partial: "item", locals: { image: image }
    
