<% if @success %>
  $("#image_<%=params[:public_id]%>").remove();
  
  // Update tab badge
  var badge = $("#image-tab-private").find('.badge');
  if (badge.length==0) {
    $("#image-tab-private").append(' <span class="badge">+<span class="count">1</span></span>');
  } else {
    var count = badge.find('.count');
    count.text(parseInt(count.text())+1);
  }
  //------------------ 
  
<% else %>
  $("#image_<%=params[:public_id]%>").removeClass('updating');
<% end %>  