<!DOCTYPE html>
<html>
<head>
  <title>ResourceManagement</title>
  <%= stylesheet_link_tag    "resource_management/application", media: "all" %>
  <%= javascript_include_tag "resource_management/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
