= content_for :page_lead do
  .jumbotron
    .container
      %h2 Domain access request submitted!
      %p Your request has been sent to the responsibe administrators for this domain.

%p.lead
  You will receive an email after the request got approved or rejected.
%p.lead
  Thank you!
