<!DOCTYPE html>
<html>
<head>
  <title>Audit</title>
  <%= stylesheet_link_tag    "audit/application", media: "all" %>
  <%= javascript_include_tag "audit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
