<!DOCTYPE html>
<html>
<head>
  <title>BlockStorage</title>
  <%= stylesheet_link_tag    "block_storage/application", media: "all" %>
  <%= javascript_include_tag "block_storage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
