- current_region=ENV["MONSOON_DASHBOARD_REGION"]
- auth_url=ENV["FEDERATION_CUSTOM_AUTH_URL"]
- if auth_url.nil?
    - auth_url="https://identity-3.#{current_region}.cloud.sap/v3/auth/OS-FEDERATION/identity_providers/sap-ias/protocols/openid/websso?origin=https://dashboard.#{current_region}.cloud.sap/verify-auth-token"

.form-signin
    .bs-callout.bs-callout-info.bs-callout-emphasize
        Click the "Sign In with Identity Provider" button to initiate the authentication process, and after a successful login, you will be redirected back to your dashboard.
    %a.btn.btn-lg.btn-primary.btn-block{ href:auth_url, onclick: "storeCurrentUrl()"} Sign In with Identity Provider

:javascript
    //function which is called onclick and store the current url in local storage
    function storeCurrentUrl(e){
        localStorage.setItem("after_login", "#{params[:after_login]}");
    } 
