{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 0.01%",
            "uglify": true,
            "ie": "10"
          },
          "useBuiltIns": true,
          /* "debug": true */
        }],
        "react"
      ],

      "plugins": [
        "react-require",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }]
      ],
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 0.01%",
            "uglify": true,
            "ie": "10"
          },
          "useBuiltIns": true
        }],
        "react"
      ],

      "plugins": [
        "react-require",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }]
      ],
    },
    "test": {
      "presets": [
        ["env"],
        "react"
      ],
      "plugins": [
        "react-require",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }]
      ]
    }
  }
}
