{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true,
        "ie": "11"
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "react-require",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env",{
          "modules": "commonjs"
        }]
      ]
    }
  }
}
