{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": "^2.5.3",
            "modules": false,
            "targets": {
              "browsers": "> 0.1%",
              "ie": "10"
            },
            "forceAllTransforms": true,
            "useBuiltIns": "entry"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "react-require",
        "@babel/plugin-proposal-object-rest-spread",
        [
          "@babel/plugin-proposal-class-properties",
          {
            "spec": true
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": "^2.5.3",
            "modules": false,
            "targets": {
              "browsers": "> 0.1%",
              "ie": "10"
            },
            "forceAllTransforms": true,
            "useBuiltIns": "entry"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "react-require",
        "@babel/plugin-proposal-object-rest-spread",
        [
          "@babel/plugin-proposal-class-properties",
          {
            "spec": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "react-require",
        "@babel/plugin-proposal-object-rest-spread",
        [
          "@babel/plugin-proposal-class-properties",
          {
            "spec": true
          }
        ]
      ]
    }
  }
}
