*.rbc
*.sassc
.sass-cache
.rspec
/.bundle
/vendor/bundle
vendor/bundle
.bundle
.bundle/
.bundle/config
/log/*
!/log/.keep
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
*.orig
rerun.txt
pickle-email-*.html
*.log
.env*
.idea
/spec/reports
/features/reports
features/screenshots
*/.DS_Store
.DS_Store
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.vendor/bundle
webapp
postgres
version
precompile
build
.procfile
tags
.tags
.tags_swap
.tags_swap.tmp
.byebug_history
vendor_4.2.4/
/public/packs
/public/packs-test
/public/assets
/node_modules
/e2e/cypress/videos
/e2e/cypress/screenshots
.vscode
*~
*.swp
*.swo
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep
