*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
vendor/bundle
.bundle
.bundle/
.bundle/config
/log/*
!/log/.keep
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
*.orig
rerun.txt
pickle-email-*.html
*.log
.env*
.idea
/spec/reports
/features/reports
features/screenshots
*/.DS_Store
.DS_Store
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.vendor/bundle
webapp
postgres
version
precompile
build
.procfile
tags
.tags
.tags_swap
.tags_swap.tmp

.byebug_history
vendor_4.2.4/
/public/packs
/public/packs-test
/node_modules

.vscode

*~
*.swp
*.swo

