POSTGRES_SERVICE_HOST=localhost
POSTGRES_SERVICE_PORT=5432

MONSOON_DB_USER=dashboard
MONSOON_DB_PASSWORD=<your-password>

# Devstack standard admin user/pw settings used for elektra service user
MONSOON_OPENSTACK_AUTH_API_ENDPOINT=http://localhost:5000/v3/auth/tokens
MONSOON_OPENSTACK_AUTH_API_USERID=admin
MONSOON_OPENSTACK_AUTH_API_PASSWORD=devstack
MONSOON_OPENSTACK_AUTH_API_DOMAIN=Default

MONSOON_DASHBOARD_REGION=eu-de-1
MONSOON_DASHBOARD_MAIL_SERVER=<your-server>
# Retrieve avatar from Gravatar.com based on hashed user emails
MONSOON_DASHBOARD_AVATAR_URL='https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}?d=mm&size=24x24'


# to access better errors and web console
# should be changed if you accessing the dashboard not from localhost
# TRUSTED_IP=localhost

# The resource_management plugin needs to read quota and usage values from
# various services. Services usually accept the "service" role that the
# dashboard user possesses, but Swift needs a special role (usually
# "ResellerAdmin") which is configured in the /etc/swift/proxy-server.conf as
# "reseller_admin_role". The value shown here is the default.
#SWIFT_RESELLERADMIN_ROLE=ResellerAdmin

# You also need to declare where to find the service project where the service
# user has this role.
#SWIFT_RESELLERADMIN_PROJECT=service
#SWIFT_RESELLERADMIN_PROJECT_DOMAIN=<your-domain>

# The following defaults to MONSOON_DASHBOARD_REGION, and is only needed in
# clouds with heterogenous region setups (which is a very bad idea anyway).
#SWIFT_RESELLERADMIN_REGION=eu-de-1

# SAP Arc Automation settings
#ARC_UPDATES_URL=<your-arc-update-server-url>
#ARC_PKI_URL=<your-arc-pki-server-url>
#ARC_BROKER_URL=<your-arc-broker-server-url>

# default true.
# ELEKTRA_SSL_VERIFY_PEER=false

# debug excon api communication, default false.
# EXCON_DEBUG = true

# debug permission checks in policy engine, default false.
# DEBUG_POLICY_ENGINE = true

# see full errors of caught exceptions in dev, default: key not set i.e. false
# NO_EXCEPTION_PAGE = true
