POSTGRES_SERVICE_HOST=localhost
POSTGRES_SERVICE_PORT=5432

MONSOON_DB_USER=postgres
MONSOON_DB_PASSWORD=XXX

MONSOON_OPENSTACK_AUTH_API_ENDPOINT=http://localhost:5000/v3/auth/tokens
MONSOON_OPENSTACK_AUTH_API_USERID=dashboard
MONSOON_OPENSTACK_AUTH_API_PASSWORD=XXX
MONSOON_OPENSTACK_AUTH_API_DOMAIN=monsooncc
MONSOON_DASHBOARD_REGION=europe

# to access better errors and web console
# should be changed if you accessing the dashboard not from localhost
# TRUSTED_IP=localhost

# The resource_management plugin needs to read quota and usage values from
# various services. Services usually accept the "service" role that the
# dashboard user possesses, but Swift needs a special role (usually
# "ResellerAdmin") which is configured in the /etc/swift/proxy-server.conf as
# "reseller_admin_role". The value shown here is the default.
SWIFT_RESELLERADMIN_ROLE=ResellerAdmin
