.row
  .col-md-2.quota-label
    .text-muted
      Quota usage
  .col-md-9
    = render :partial => 'bar', :locals => { :overview => false, :render_bar_only => true, :data => @resource_status[@service.to_sym][0], :service => @service }   
.row
  .col-md-2.quota-label
    .text-muted
      Resource usage
  .col-md-9
    = render :partial => 'bar', :locals => { :overview => false, :render_bar_only => true, :render_usage => true ,:data => @resource_status[@service.to_sym][0], :service => @service }   


