%table.table
  %thead
    %tr
      %th Project
      %th approved Quota
      %th current Quota
      %th Usage
      %th Edit
  %tbody
    - @projects.each do |project|
      - display_unit = project.attributes[:display_unit] || 1
      - current_quota = project.current_quota / display_unit
      - current_quota = "unlimited" if project.current_quota == -1
      - if current_quota == "unlimited"
        %tr.danger
          %td=project.project_id
          %td=project.approved_quota / display_unit
          %td=current_quota
          %td=project.usage / display_unit
          %td -
      - else
        %tr
          %td=project.project_id
          %td=project.approved_quota / display_unit
          %td=current_quota
          %td=project.usage / display_unit
          %td -

= paginate @projects, :theme => 'twitter-bootstrap-3', :remote => true
 
