%table.table.resource-details{ data: { service: @service, resource: @resource } }
  %thead
    %tr
      %th Project
      %th Approved Quota
      %th Current Quota
      %th Usage
      %th Actions
  %tbody
    - @projects.each do |project_resource|
      = render :partial => 'details_table_row', :locals => { :project_resource => project_resource }
  
= paginate @projects, :theme => 'twitter-bootstrap-3', :remote => true

= content_for :javascripts do
  :javascript
    function set_approved_quota(button) {
      // project ID is annotated on the row
      row = $(button).closest('tr');
      project_id = row.data('project');
      // resource/service is annotated on the table
      table = row.closest('table');

      $.ajax({
        url: "#{plugin('resource_management').admin_update_path()}",
        dataType: 'script',
        data: {
          project:   project_id,
          new_value: row.find('.resource-approved-quota-edit').val(),
          resource:  table.data('resource'),
          service:   table.data('service'),
        },
        error: function(xhr) {
          $('.alert-success').css('display','none');
          $('.alert-danger').html(xhr.responseText);
          $('.alert-danger').css('display','block')
        }
      });
    };
