.row
  .col-md-2.quota-label
    .text-muted
      Quota usage
  .col-md-9
    = render partial: 'bar', locals: { data: @resource_status }
.row
  .col-md-2.quota-label
    .text-muted
      Resource usage
  .col-md-9
    = render partial: 'bar', locals: { data: @resource_status, render_usage: true }


