%table.table
  %thead
    %tr
      %th Project
      %th approved Quota
      %th current Quota
      %th Usage
      %th Edit
  %tbody
    - @projects.each do |project|
      = render :partial => 'details_table_row', :locals => { :project => project }

= paginate @projects, :theme => 'twitter-bootstrap-3', :remote => true
 
