=render :partial => 'header'
=render :partial => 'tabs', :locals => { :tab => 'overview'}

.row.quota-row
  .col-md-9   
    - if @resource_status.blank?
      .bs-callout.bs-callout-info
        Nothing to report! Everything is fine...
    - else
      - @area_services.each do |service|
        - resources = @resource_status[service] || nil
        - unless resources.nil?
          - resources.each do |resource|
            = render :partial => 'bar', :locals => { :overview => true,  :data => resource, :service => service }
  .col-md-3
    = render :partial => 'good_to_know', :locals => { :tab => 'overview'}   
