=render partial: 'header'
=render partial: 'tabs', locals: { scope: 'admin', tab: 'overview' }

.row.quota-row
  .col-md-9#status-bars
    = render partial: 'index_status_bars'
  .col-md-3
    = render partial: 'good_to_know'
:javascript
  // reload/update status bars after closing the modal window
  $( document ).ready(function() {
    $('#modal-holder').on('hidden.bs.modal', 
      function (e) {
        $.ajax({
          url: "#{plugin('resource_management').admin_path()}",
          dataType: 'script'
        }
        )
      }
    );
  });
