=content_for :main_toolbar do
  Email Service
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"emails-pane"}
    %h3
      Send Email
    .col-sm-9
      -#.toolbar
      - if current_user.is_allowed?('context_is_emailservice_editor')
        .main-buttons
          = link_to "New Email", plugin('email_service').new_email_path, data: {modal: true}, class: 'btn btn-primary'

      .js-table-email
        = render partial: 'table_emails', locals: {emails: @emails}
