
=content_for :main_toolbar do
  Email Service
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}
           
.tab-content
  .tab-pane.active{role:"tabpanel", id:"emails-pane"}

  %h4
    Information

%p
  token:
  =current_user.token
%p
  Identity URL:
  ="#{current_user.service_url('identity')}"
  =current_user.service_url('identity')
%p
  user_id
  =current_user.id
%p
  project_id
  =current_user.project_id
%p
  region
  =current_user.default_services_region
%p
  Cronus URL:
  =current_user.service_url('email-aws')


%p
  Verified EMails: 
=@verified_emails
%p
  Pending Emails:
=@pending_emails

%p
  Access:
=@access
%p
  Secret:
  =@secret
%p
  SES Client:
=@ses_client




-#%p
-#  Plugin Email Service
-#  =plugin('email_service').inspect