=content_for :main_toolbar do
  eMail Service - Cronus
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}
           
.tab-content
  .tab-pane.active{role:"tabpanel", id:"emails-pane"}

  %h4
    Information

%table.table
  %tr
    %td
      Timestamp
    %td
      Delivery attempts
    %td
      Bounces
    %td
      Rejects
    %td
      Complaints
  - @send_stats.each do | stat |
    %tr        
      %td
        =stat[:timestamp]
      %td
        =stat[:delivery_attempts]
      %td
        =stat[:bounces]
      %td
        =stat[:rejects]
      %td
        =stat[:complaints]
%hr

%table.table
  %tr
    %td token:
    %td
      =current_user.token
  %tr
    %td Identity URL:
    %td
      ="#{current_user.service_url('identity')}"
      %br
      =current_user.service_url('identity')
  %tr
    %td user_id
    %td 
      =current_user.id
  %tr
    %td project_id
    %td 
      =current_user.project_id
  %tr
    %td region
    %td 
      =current_user.default_services_region
  %tr
    %td Cronus URL:
    %td 
      =current_user.service_url('email-aws')