%h4 What is domain masterdata?
A domain’s masterdata contains different pieces of information about the domain. 
The information provided in the “Cost Object” section is necessary for billing purposes. 
The information in the other sections helps CCloud operations and support find the correct
contact persons in case of incidents, problems or questions about the domain.

