=content_for :main_toolbar do
  Domain Masterdata

- if @domain_masterdata.errors.present?
  .alert.alert-error
    = render_errors(@domain_masterdata.errors)

.row
  .col-sm-8
    #domain_masterdata_details
      = render partial: 'masterdata_details'
  .col-md-4
    #domain_masterdata_additional_infos
      = render partial: 'masterdata_additional_infos'