=content_for :title do
  Maintain new masterdata for domain: #{@scoped_domain_name}

=simple_modal_form_for @domain_masterdata, submit_action: 'Save', url: plugin('masterdata_cockpit').domain_masterdata_create_path(),method: :post, cancel_url: plugin('masterdata_cockpit').domain_masterdata_path do |f|
  = render partial: 'maintain_masterdata',  locals: {f:f}
  
