- if ec2_creds_collection
  .ec2_credentials_table
  %br
  %table.table.table-striped
    %thead
      %tr
        %th Access
        %th.snug
    %tbody
      - if !ec2_creds_collection || ec2_creds_collection.empty?
        %tr
          %td{ colspan: 3 } No EC2 Credentials available
      - else
        - ec2_creds_collection.each do | item |
          = render partial: 'item', locals: { element: item}
