= content_for :title do
  EC2 Credential details

- unless modal?
  %h3 EC2 Credential details

.modal-body.static-columns

  .modal-section.first
    %h3
      Details
    - if ec2_creds
      %table.table
        %tr
          %td
            %strong Access Key:
          %td 
            =ec2_creds.access
        %tr
          %td
            Secret Key:
          %td 
            =ec2_creds.secret
        %tr
          %td
            User ID:
          %td 
            =current_user.id
        %tr
          %td
            Project ID:
          %td 
            =project_id
    - else 
      EC2 Credential found.
      
%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').ec2_credentials_path, class: 'btn btn-default'