<!DOCTYPE html>
<html>
<head>
  <title>MasterdataCockpit</title>
  <%= stylesheet_link_tag    "masterdata_cockpit/application", media: "all" %>
  <%= javascript_include_tag "masterdata_cockpit/application_widget" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
