=content_for :main_toolbar do
  Object Storage Containers

.toolbar
  = link_to 'Create container', '#', class: 'btn btn-primary btn-lg disabled'

%table.table
  %thead
    %tr
      %th Name
      %th Total size
      %th Object count
      %th.snug
  %tbody
    - if @containers.empty?
      %tr
        %td{colspan: 4} No containers found.
    - else
      - @containers.sort_by(&:name).each do |container|
        = render partial: 'item', locals: { container: container }
