=content_for :main_toolbar do
  Object Storage Container: #{@container.name}

%p Here's what I know about this thing:
%ul
  %li contains #{@container.object_count} objects
  %li contains #{@container.bytes_used} bytes of data

%p
  = link_to 'List contents', plugin('swift').list_objects_path(@container.name, path: '')
