<!DOCTYPE html>
<html>
<head>
  <title>ObjectStorage</title>
  <%= stylesheet_link_tag    "object_storage/application", media: "all" %>
  <%= javascript_include_tag "object_storage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
