.configset_table
%table.table
  %thead
    %tr
      %th Name
      %th.snug
  %tbody
    - if !@configsets
      %tr
        %td{ colspan: 2 } No configuration set available
    - else
      -@paginatable_array.each do | configset |
        = render partial: 'table_configset_item', locals: { configset: configset }
    
-#= render_paginatable_for_configset(@paginatable_array, {searchfor: 'configset', search: @search})
= paginate @paginatable_array, :theme => 'twitter-bootstrap-3', :remote => false 

