
=render partial: 'tabs', locals: { tab: 'snapshots' }

- if @scoped_project_id
  - if current_user.is_allowed?("block_storage:volume_create", {volume: {user_id: current_user.id} })
    .toolbar
      = link_to 'Create new', plugin('block_storage').new_volume_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
%table.table
  %thead
    %tr
      %th Snapshot Name
      %th Description
      %th Size(GB)
      %th State
      %th.snug

  %tbody
    %tbody
    - if @snapshots.blank?
      %tr
        %td{colspa: 5} No snapshots available
    - else
      - @snapshots.each do | snapshot |
        = render partial: 'item', locals: {snapshot: snapshot}
