= render_navigation(context: :block_storage, expand_all: true)

%table.table{:style => "margin-top: 50px"}
  %thead
    %tr
      %th Snapshot Name
      %th Description
      %th Size(GB)
      %th State
      %th.snug

  %tbody
    %tbody
    - if @snapshots.blank?
      %tr
        %td{colspa: 5} No snapshots available
    - else
      - @snapshots.each do | snapshot |
        = render partial: 'item', locals: {snapshot: snapshot}
