= link_to 'Debug info', '#', data: { toggle: "modal", target: "#debug" } if current_user

#debug.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        = link_to 'x', '#', class:"close", data: {dismiss: "modal"}
        %h4 Debug Info
      .modal-body
        %pre= JSON.pretty_generate(current_user.context) if current_user
      .modal-footer
        = link_to 'Close', '#', data: {dismiss: "modal"}, class: "btn"


        