.modal-body

  %table.table.datatable
    %tbody
    - @pool.capabilities.keys.each do |capability|
      %tr
        %th= capability.humanize
        %td= @pool.capabilities[capability]


- if modal?
  .modal-footer
    %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } } Close
- else
  = link_to 'Back', plugin('shared_filesystem_storage').cloud_admin_pools_path, class: 'btn btn-default'
