= link_to toggle_alarm_actions_alarm_definition_path(alarm_definition.id), remote: true, title: 'toggle alarm actions', data: { confirm: 'Toggle alarm notifications. Are you sure?', disable_with: 'Loading...' } do
  - if alarm_definition.actions_enabled
    = icon('check-square-o')
  - else
    = icon('square-o')

