%strong
  - if alarm_definition.severity == 'LOW'
    .text-info= alarm_definition.severity.capitalize
  - elsif alarm_definition.severity == 'MEDIUM'
    .text-warning= alarm_definition.severity.capitalize
  - elsif alarm_definition.severity == 'HIGH' || alarm_definition.severity == 'CRTIICAL'
    .text-danger= alarm_definition.severity.capitalize
  - else
    = alarm_definition.severity.capitalize

