= content_for :title do
  Edit Alarm Definition

.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Got it" }} Cancel
  - else
    = link_to "Cancel", plugin('monitoring').alarm_definitions_path, class: 'btn btn-default'

