#healthmonitor
  .toolbar.toolbar-aligntop
    %h4
      Health Monitor
    .main-buttons
      - unless healthmonitor
        - if current_user.is_allowed?('lbaas:resource_create', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          = link_to 'New', plugin('lbaas').new_loadbalancer_pool_healthmonitor_path(loadbalancer_id: loadbalancer.id, pool_id: pool.id ), data: {modal: true}, class: 'btn btn-primary btn-sm'
      - else
        - if current_user.is_allowed?('lbaas:resource_delete', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          = link_to 'Delete', plugin('lbaas').loadbalancer_pool_healthmonitor_path(loadbalancer_id: loadbalancer.id, pool_id: pool.id, id: healthmonitor.id), method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this Health Monitor?', ok: "Yes, delete it", confirmed: :loading_status}, class: 'btn btn-default hover-danger btn-sm'
        - if current_user.is_allowed?('lbaas:resource_update', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          = link_to 'Edit', plugin('lbaas').edit_loadbalancer_pool_healthmonitor_path(loadbalancer_id: loadbalancer.id, pool_id: pool.id, id: healthmonitor.id), data: {modal: true}, class: 'btn btn-primary btn-sm'


  = render :partial => 'lbaas/loadbalancers/pools/healthmonitors/item', locals: {loadbalancer: loadbalancer, pool: pool, healthmonitor: healthmonitor}
