- if modal?
  = content_for :title do
    Error

%div{class: modal? ? 'modal-body' : ''}
  %h3 Project Not Found
  %p
    A project with the name
    %b= params[:project_id]
    doesn't seem to exist. Please check the spelling or choose one of your

    %span{data: {react_auth_projects_link: 'true'}
