.toolbar.toolbar-aligntop
  .main-buttons

    - if current_user.is_allowed?('compute:instance_automation_script')
      = link_to "#", class: 'btn btn-default btn-xs', data: {toggle: 'automationBootstrap', automation_script_action: @automation_script_action} do
        %i.fa.fa-plus.fa-fw
        %i.loading-spinner-button.hide
        Automation
    - else
      = link_to "javascript:void(0)", class: 'btn btn-default btn-xs', :disabled => true do
        %i.fa.fa-plus.fa-fw
        %i.loading-spinner-button.hide
        Automation
      %a.help-link.has-feedback-help{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: 'You are not authorized. Please check (role assignments) if you have one of the following roles: automation_admin.'}}
        %i.fa.fa-question-circle
