.toolbar.toolbar-aligntop
  = link_to '#', class: 'btn btn-default btn-xs', data: {toggle: 'initialRootPassword'} do
    %i.fa.fa-plus.fa-fw
    Root Pass
  = link_to "#", class: 'btn btn-default btn-xs' do
    %i.fa.fa-plus.fa-fw
    Automation
  %span.release-state-wrapper
    = release_state_tag("experimental", "Experimental: Currently works for RHEL7. Other OS versions still under development.")