= content_for :title do
  %i.fa.fa-terminal
  
.modal-body.console
  %iframe{src: @console.url, width: '100%', height: '100%'}

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", plugin('compute').instances_url, class: 'btn btn-default'
    

:javascript
  $(document).ready(function(){
    $modalContent = $('.modal-body.console').closest('.modal').addClass('fullscreen');
  });    