= content_for :title do
  %i.fa.fa-terminal
  Web Console

- if modal?
  .modal-body.console
    %iframe{src: @console.url, width: '100%', height: '650px'}
- else
  %iframe{src: @console.url, width: '100%', height: '850px'}

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", plugin('compute').instances_url, class: 'btn btn-default'
