= render "intro"

- if @scoped_project_id
  - if current_user.is_allowed?("compute:instance_create", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
    .toolbar
      = link_to 'Create new', plugin('compute').new_instance_path, data: {modal: true}, class: 'btn btn-primary btn-lg'

  %table.table.instances
    %thead
      %tr
        %th Name
        %th
          AZ
          %i.fa.fa-fw.fa-info-circle{data: { toggle: "tooltip", placement: "top", title: "Availability Zone"}}         
        %th Network
        %th IPs
        %th OS
        %th Size
        %th Power state
        %th Status
        %th.snug
    %tbody
      - if @instances.empty?
        %tr{data: {empty: true}}
          %td{colspan: 8} No instances available
      - else
        - @instances.each do | instance |
          = render partial: 'item', locals: {instance: instance}
- else
  = render "application/projects_list"
