= render "intro"

- if @scoped_project_id
  - if current_user.is_allowed?("compute:instance_create", {target: { project_id: ( (@active_project.domain_id=='o-monsoon2' and @active_project.parent_id.nil?)? nil : @active_project.id) }})
    .toolbar
      = link_to 'New Instance', plugin('compute').new_instance_path, data: {modal: true}, class: 'btn btn-primary btn-lg'

  %table.table
    %thead
      %tr
        %th Name
        %th OS
        %th IP
        %th Size
        %th Power state
        %th Status
        %th.snug
    %tbody
      - if @instances.empty?
        %tr
          %td{colspa: 5} No instances available
      - else
        - @instances.each do | instance |
          = render partial: 'item', locals: {instance: instance}
- else
  = render "application/projects_list"
