= render partial: 'automation/shared/nav.html', locals: {pane: 'agents'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"agents-pane"}

    .toolbar
      = link_to "Install a new Agent", plugin('automation').install_agents_path, data: {modal: true}, class: 'btn btn-primary btn-sm'

    = render partial: 'table_instances', locals: {instances: @agents, jobs: @jobs}