.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button', id: 'arc_version_dropdown', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true'}
    Select Arc Version
    %span.caret
  %ul.dropdown-menu{'aria-labelledby' => 'arc_version_dropdown'}
    %li
      %a{href: '#'} Linux
    %li
      %a{href: '#'} Windows