.well
  .row
    .col-sm-6
      %h4 Overview
      %ul
        %li
          Instances with Agent:
          %b
            \-
        %li
          External Agents:
          %b
            \-
        %li
          Instances without Agent:
          %b
            \-
          %br
          = link_to "Show", show_section_instances_path, {id: "automation_show_section",remote: true, class: 'loading_section', data:{loading_target_id: 'automation_instances_without_agent', loading_text: 'Retrieving instances...'}}