%table.table
  %thead
    %tr
      %th Name
      %th OS
      %th IP
      %th Action
  %tbody
    - if instances.empty?
      %tr
        %td{colspa: 4} No instances available
    - else
      -instances.values.each do | instance |
        = render partial: 'table_instances_item', locals: {instance: instance}