%table.table
  %thead
    %tr
      %th Name
      %th IP
      %th Online
      %th Status history
      %th Actions
  %tbody
    - if instances.empty?
      %tr
        %td{colspa: 5} No agents available
    - else
      -instances.each do | instance |
        = render partial: 'table_instances_item', locals: {instance: instance}