%tr{class: "", id: "instance_#{instance.id}"}
  -#%td
  -#  - if current_user.is_allowed?("identity:instance_get", {})
  -#    = link_to instance.name, instance_path(id: instance.id), data: {modal: true}

  %td= instance.name
  %td= instance.os
  %td= instance.ip
  %td
    %button.btn.btn-default{ type: "button" }
      Install Agent
