.instances_table{data: {update_path: plugin('automation').index_update_instances_path(), update_interval: 30}}
  %table.table
    %thead
      %tr
        %th Name
        %th Platform
        %th IP
        %th Online
        %th Status history
        %th Actions
    %tbody
      - if instances.empty?
        %tr
          %td{colspa: 6} No agents available
      - else
        -instances.each do | instance |
          = render partial: 'table_instances_item', locals: {instance: instance, jobs: jobs[instance.id.to_sym].data}

  = paginate instances, :theme => 'twitter-bootstrap-3'

  #popover_container