= render "intro"

%section
  %h2
    Agents

  = render partial: 'table_instances', locals: {instances: @agents, jobs: @jobs}

  -#.instances_table{data: {update_path: plugin('automation').index_update_instances_path(), update_immediately: 'true'}}
    %p.text-center
      Loading...
      %span.loading-spinner-section

