= render "intro"

%section
  %h2
    Agents
  = render partial: 'table_instances', locals: {instances: @agents}
  = paginate @agents, :theme => 'twitter-bootstrap-3'

%section#automation_instances_without_agent.hidden
  %h2
    Instances without Agent
