= render "intro"

%section
  %h2
    Instances
  = render partial: 'table_instances', locals: {instances: @instances[:instances]}


%section#automation_instances_without_agent.hidden
  %h2
    Instances without Agent
