.kb11n_table
  %table.table
    %thead
      %tr
        %th Type
        %th Description
        %th Cost Element
        %th Send Costcenter
        %th Rec. Costcenter
        %th Costs
        %th.snug
    %tbody
      - if kb11n_billing_objects.empty?
        %tr
          %td{colspan: 4} No billing data available yet.
      - else
        -kb11n_billing_objects.each do | kb11n_billing_object |
          = render partial: 'table_kb11n_billing_object', locals: {kb11n_billing_object: kb11n_billing_object}