=content_for :title do
  Object Storage: Cluster Capabilities
=content_for :main_toolbar do
  Object Storage: Cluster Capabilities

%div{ class: modal? ? 'modal-body' : '' }
  = render partial: 'capabilities'

  %button#show_full_capabilities.btn.btn-default Show full report
  #full_capabilities.hidden
    %h3 Full report
    - if services.available?(:identity, :web_console)
      %p.help-block
        To display this info on the
        = succeed ',' do
          = link_to 'web console', plugin('identity').projects_web_console_path, target: '_blank', id: 'linkto_webconsole'
        use the
        %code swift info
        command.
    %pre= @capabilities.to_yaml

=content_for :javascripts do
  :javascript
    $('#show_full_capabilities').click(function() {
      $(this).hide();
      $('#full_capabilities').removeClass('hidden');
    });
