=content_for :main_toolbar do
  Object Storage

.bs-callout.bs-callout-warning
  Object Storage can only be used when your user account has the
  %strong admin
  or
  %strong objectstore_admin
  or
  %strong objectstore_viewer
  role for this project.

= link_to 'Back', plugin('identity').project_path, class: 'btn btn-default'
