=content_for :main_toolbar do
  Object Storage

.bs-callout.bs-callout-warning
  Object Storage is not yet activated for this Monsoon 2 project.

%p
  To do so now,
%ol
  %li
    Open the
    = link_to 'Monsoon 2 Dashboard', 'https://localhost'
    and navigate to your organization's settings.
  %li Activate the "Swift" checkbox and "Save". If you do not see the checkbox, ask a staff member to assist you.
  %li
    Finally,
    = link_to "log out", monsoon_openstack_auth.logout_path
    and log back in to apply the new permissions to your session.

Note that sandbox projects are not eligible for Object Storage.
