=content_for :main_toolbar do
  Object Storage

.bs-callout.bs-callout-warning
  Object storage is not enabled for this project, yet. To enable it, request an Object Storage quota in the Resource Management tool.

= link_to 'Cancel', plugin('identity').project_path, class: 'btn btn-default'
= link_to 'Go to Resource Management', plugin('resources').project_path, class: 'btn btn-primary'

