%table.table
  %thead
    %tr
      %th Name
      %th Dimensions
  %tbody
    - metrics.each do |metric|
      %tr
        %td= metric["name"]
        %td
          %table
            - metric["dimensions"].each do |key, value|
              %tr
                %td
                  #{key}
                %td.metrics-divider="="
                %td
                  #{value}
