= content_for :main_toolbar do 
  Monitoring
= render partial: '/monitoring/application/tabs', locals: { tab: 'alarms' }

%p{style: 'margin:20px'}
.toolbar
  Alarms (#{@alarms.length})
#alarms_list
  = render partial: 'list'
