.content
  .container
    .page-header
      %h1
        Projects
        %small Manage your projects in this domain

    .row
      .col-md-6
        .list-group
          - @user_domain_projects.each do |project|
            = link_to project.name, project_path(project.id, domain_id: @domain_id), class: "list-group-item"

      .col-md-6
        = simple_form_for Forms::Project.new(@domain_id, services.identity), url: projects_path(@domain_id), method: :post do |f|
          .js-target-hiddenform
            .well
              .inline-form
                .inline-form-cell
                  = f.input :name,
                    input_html:  { maxlength: 255 },
                    placeholder: "Enter name",
                    autofocus:   true,
                    label:       false

                .inline-form-button
                  = f.submit 'Create Project', class: 'btn btn-primary', data: { disable_with: "Creating..." }
                .inline-form-button
                  %a.btn.btn-default.js-cancel-hiddenform Cancel

          .form-group
            %a.btn.btn-primary.btn-md.js-trigger-hiddenform New Project
