=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav', formats: :html, locals: {pane: 'maillog'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"maillog-pane"}
    = javascript_include_tag 'email_service_maillog-ui_widget', data: { props: { |
      embedded: true,                                                    |
      theme: 'theme-light',                                              |  
      endpoint: "https://maillog.#{current_region}.cloud.sap",           |
      "project": "#{@scoped_project_id}",                                |
      "getTokenFuncName": "_getCurrentToken" } }
