= icon("arrow-right", class: "fa-2x")
= link_to 'Go to maia', "https://maia.#{current_region}.cloud.sap/#{@scoped_domain_name}" , class: 'btn btn-primary btn-sm', style:"margin-bottom:10px", target:"_blank"