<!DOCTYPE html>
<html>
<head>
  <title>Request</title>
  <%= stylesheet_link_tag    "inquiry/application", media: "all" %>
  <%= javascript_include_tag "inquiry/application_widget" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
