= content_for :main_toolbar do
  Monitoring
= render partial: 'tabs', locals: { tab: 'overview' }

.overview
  .row
    .col-md-6
      %svg#State
    .col-md-6
      %svg#Severity

:javascript

  monitoring.render_overview_pie('Severity',#{@severity_pie_data.to_json});
  monitoring.render_overview_pie('State',#{@state_pie_data.to_json});

