= content_for :main_toolbar do
  Monitoring
= render partial: 'tabs', locals: { tab: 'overview' }

= link_to sap_url_for('grafana'), class: "btn btn-primary", style: 'margin:20px',target: "_blank" do
  %i.fa.fa-external-link
  Access Grafana
