= content_for :main_toolbar do
  Monitoring
= render partial: 'tabs', locals: { tab: 'overview' }

.overview
  .row
    .col-md-6
      %svg#state
    .col-md-6
      %svg#severity

:javascript

  monitoring.render_overview_pie('severity',#{@severity_pie_data.to_json});
  monitoring.render_overview_pie('state',#{@state_pie_data.to_json});

