%tr{id: "hypervisor_server_#{server.uuid}"}

  %td
    - if current_user.is_allowed?("compute:instance_get")
      = link_to server.id, plugin('compute').instance_path(id: server.id), data: {modal: true}
    - else
      = server.id

  %td= server.name
  %td.snug
