= content_for :main_toolbar do
  Kubernetes as a Service

- if current_user.is_allowed?('kubernetes:application_get')
  = react_component 'kubernetes.AppProvider', permissions: {}, token: current_user.token, kubernikusBaseUrl: @kubernikus_endpoint
- else
  .bs-callout.bs-callout-info.bs-callout-emphasize
    %h4 Welcome to our Kubernetes-as-a-Service offering
    %p Within minutes you will be able to setup a VM based Kubernetes cluster. Your cluster is fully-managed and allows auto-updating masters and auto-repairing nodes. Identity management and access control is integrated with Converged Cloud.
    %p
      %strong
        This service is currently in closed beta with a limited amount of beta testers. If you are interested in trying it out please contact
        = render_contact_for_beta_access(@beta_contact)
        with a short description of your use case.

  %section
    .row
      .col-sm-5.col-sm-offset-3
        %img{src: "/assets/kubernetes/kubernikus_bubbles.svg", alt: "Kubernikus mascot blowing cluster bubbles"}
