.context-breadcrumb
  .container
    %ol.context-list
      %li.dropdown
        %span.glyphicon.glyphicon-th
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          - if @active_project
            = @active_project.name
          - else
            Choose a project
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - if @user_domain_projects
            - @user_domain_projects.each do |project|
              %li{class: ("active" if project.id == @project_id)}
                = link_to project.name, instances_path(domain_id: @scoped_domain_fid, project_id: project.friendly_id)
          %li.divider
          %li= link_to "Instances overview", instances_path(domain_id: @scoped_domain_fid)
