.well
  .alert.alert-danger
    %strong IMPORTANT!!!
    Remember to turn off the stove before you leave the house!

  .row
    .col-sm-6
      %h4 News
      %p Here are some important news. You won't believe what just happened when he clicked that link.
      %p Read more here:
      %%ul
        %li
          %a(href="#") This is interesting
        %li
          %a(href="#") And this
    .col-sm-6
      %h4 Did You Know?
      %p Pluto is a planet after all

      %h4 Learning Center
      %ul
        %li
          %a(href="#") Where do pineapples grow?
        %li
          %a(href="#") How many 1 Euro coins do you need to stack to reach the Moon?

        %li
          %a(href="#") Why aren't there any teleporters yet?
