= content_for :main_toolbar do
  Cost Report

.bs-callout.bs-callout-info.bs-callout-emphasize
  %p
    Cost report for the last 12 months.
  %ul
    %li
      Click on the columns to show a detailed view for the services.
    %li
      Click on the legend to choose a service.

= javascript_include_tag "reports_app_widget"
