<!DOCTYPE html>
<html>
<head>
  <title>Lbaas</title>
  <%= stylesheet_link_tag    "lbaas/application", media: "all" %>
  <%= javascript_include_tag "lbaas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
