%table.table
  %thead
    %tr
      %th Name
      %th Type
      %th Address
      %th.snug
  %tbody
    - if @notification_methods.empty?
      %tr
        %td{colspan: 4} No notification methods found.
    - else
      - @notification_methods.each do |notification_method|
        = render partial: 'list_row', locals: { notification_method: notification_method }

= paginate @notification_methods, :theme => 'twitter-bootstrap-3', :remote => true
