- if current_user.is_allowed?('resources:project:edit', {selected: {domain_id: @scoped_domain_id, project_id: @scoped_project_id} })
  %end 

:plain
  <script
    defer
    src="https://assets.juno.#{qa? ? 'qa-de-1' : 'global'}.cloud.sap/apps/widget-loader@latest/build/app.js"
    data-name="limesUI"
    data-version="latest"
    data-props-theme="theme-light"
    data-props-endpoint="https://limes-3.#{current_region}.cloud.sap"
    data-props-domain-i-d="#{@scoped_domain_id}"
    data-props-get-token-func-name="_getCurrentToken"
    data-props-can-edit="#{current_user.is_allowed?('resources:project:edit', {selected: {domain_id: @scoped_domain_id} })}"    
    data-props-embedded="true">
  </script>  
