- if modal?
  = content_for :title do
    Jump to Project 
- else
  = content_for :main_toolbar do
    Your Projects


%div{class: modal? ? 'modal-body' : ''}
  / .projects{ data: {update_path: plugin('identity').projects_path(params.merge(partial:true)), update_interval: 1000*60*30} }
  .projects
    .form-group.has-feedback
      = text_field_tag 'jump-to-search-input', '', class: "form-control", placeholder: 'project name'
      %i.glyphicon.glyphicon-search.form-control-feedback
    %ul.content-list.searchable{data:{search_input: '#jump-to-search-input'}}
      - @projects.each do |project|
        %li{data: {search_name: project.name}}
          = link_to project.name, plugin('identity').project_path(project_id:project.friendly_id)
