- if modal?
  = content_for :title do
    Jump to Project
- else
  = content_for :main_toolbar do
    Your Projects


%div{class: modal? ? 'modal-body' : ''}
  .projects{ data: {update_path: plugin('identity').projects_path(params.merge(partial:true)), update_interval: 1000*60*30} }
    -# - if current_user.is_allowed?("identity:project_request",{project: {user_id: current_user.id}})
    -#   .toolbar
    -#     %b Your projects
    -#     = link_to 'Request new project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-primary btn-lg'

    -#= render 'identity/domains/projects_tree'
    %ul.content-list
      - @projects.each do |project|
        %li
          = link_to project.name, plugin('identity').project_path(project_id:project.friendly_id)


-#   - if current_user.is_allowed?("identity:project_request",{project: {user_id: current_user.id}})
-#     .toolbar
-#       %b Your projects
-#       = link_to 'Request new project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
-#
-#   %table.table
-#     %thead
-#       %tr
-#         %th Name
-#         %th ID
-#         %th Parent
-#         %th Description
-#         %th Status
-#         %th Actions
-#     %tbody
-#       - @projects.each do |project|
-#         %tr
-#           %td= link_to project.name, plugin('identity').project_path(project_id:project.friendly_id)
-#           %td= project.id
-#           %td= project.parent_id
-#           %td= project.description
-#           %td= project.enabled ? 'enabled' : 'disabled'
-#           %td.snug
-#             - if current_user.is_allowed?("identity:project_delete", {})
-#               .btn-group
-#                 %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
-#                   %span.fa.fa-cog
-#                   -# %span.spinner
-#
-#                 %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
-#                   - if current_user.is_allowed?("identity:project_delete", {})
-#                     %li= link_to 'Delete Project', plugin('identity').delete_project_path(id:project.id), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }
