=content_for :title do
  Enable sharding for project #{@scoped_project_name}

.modal-body

  - if @project.errors.present?
    .alert.alert-error
      = render_errors(@project.errors)

  %h4 What is sharding?
  .alert.alert-info
    CCloud spreads clusters within an availability zone (AZ) across multiple 
    %strong shards.
    New projects get created in only one shard initially. Only projects that have 
    %strong sharding
    enabled have access to all the resource in all the shards of an AZ. Having 
    %strong sharding
    enabled allows a new server to be scheduled on any and all shards in the AZ.
    %br
    %br
    We highly recommended that you enable Sharding for your project, except for special cases described below.

  %h4 What are the consequence?
  .alert.alert-info
    More resources are available to create servers in your project. This benefits projects in busy and highly-utilized regions especially.

  %h4 Special Cases
  .alert.alert-info
    If you plan to run a Kubernetes cluster in your project, then enabling sharding is 
    %strong not
    recommended. Kubernetes nodes depend on very fast volume attachment and sharding slows cinder volume attachment times somewhat.
    %br
    %br
    If for some other reason you need 
    %strong very
    fast cinder-volume attachment times as well, then enabling sharding 
    %strong might not
    be advisable.

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      = link_to 'Enable', plugin('identity').project_enable_sharding_path(enable: "true"), class: 'btn btn-danger', method: :get, data: { confirm: 'Are you sure you want to enable sharding?', ok: "Yes, do it!", confirmed: :loading_status}
    - else
      = link_to "Cancel", plugin('compute').instances_url, class: 'btn btn-default'

