-# .bs-callout.bs-callout-info-cta.bs-callout-emphasize.bs-callout-announcement
-#   %p.emphasized-text
-#     %strong Important Update: Change to our Multifactor Authentication Mechanism!
-#   %p
-#     On November 6 and 7, we will be transitioning to Azure Active Directory (Azure AD) for multifactor authentication in order to align with corporate policy. This means:
-#   %ul
-#     %li
-#       RSA/Radius OTP tokens will no longer be supported for Multifactor Authentication (MFA).
-#     %li
-#       Use SMS verification, Microsoft Authenticator app or alternative factors for MFA.
-#   %p
-#     %strong Action Needed: Set up your 2FA on
-#     %a{href: "https://mysignins.microsoft.com/security-info", target: "_blank"} 
-#       Azure AD

-#   %p 
-#     For full details, 
-#     %a{href: "https://documentation.global.cloud.sap/docs/blogs/transition-azure-ad/", target: "_blank"} 
-#       read our blog post. 
-#     Need help? Contact our support team!

.row
  .col-md-9
    = render_navigation(expand_all: true, renderer: :fancy_list, context: navigation_context(@scoped_domain_name, @scoped_project_name))
  .col-md-3
    = render partial: 'identity/projects/additional_infos'
