.row
  .col-md-9
    = render_navigation(expand_all: true, renderer: :fancy_list, context: navigation_context(@scoped_domain_name, @scoped_project_name))
  .col-md-3
    = render partial: 'identity/projects/additional_infos'
