%p
  This is the project home page. We will display a nicely rendered list of all available services here soon. For now please use the services dropdown menu above.
  %table
    %tr
      %th Name
      %td= @active_project.name
    %tr
      %th Description&nbsp;
      %td= @active_project.description
    %tr
      %th Enabled?
      %td= @active_project.enabled

/ - if @current_project.subprojects and !@current_project.subprojects.empty?
/   %h4 Subprojects
/   %p= subprojects_tree(@current_project.subprojects,@user_domain_projects, class: 'subprojects')
