// Open console container, set loading message
$("#fixed-webconsole").addClass("open")
$("#webconsole-container").html("<div id='loading-hint'><span class='info-text'>Loading web console</span><span class='spinner'></span></div>");
$("[data-trigger='webconsole']").addClass("active");

// Dynamically load hterm javascripts
$.getScript( "<%= @webcli_endpoint %>/js/hterm.js", function( data, textStatus, jqxhr ) { init_console(); console.log('hterm loaded')}).fail(function( jqxhr, settings, exception ) { console.log("failed to load hterm"); console_error(); });
$.getScript( "<%= @webcli_endpoint %>/js/gotty.js", function( data, textStatus, jqxhr ) { console.log('gotty loaded')}).fail(function( jqxhr, settings, exception ) { console.log("failed to load gotty"); console_error(); });

// Init console (to be called on successful load of js files)
function init_console() {
  $("#webconsole-container").html("<%= escape_javascript(render :partial => "terminal", :locals => { webcli_endpoint: @webcli_endpoint} ) %>");
}

// Display error message (to be called if js file load went wrong)
function console_error() {
  $("#fixed-webconsole").html("<i class='fa fa-warning'></i><span class='info-text'>Couldn't load web console. Please try again later.</span>")
}
