

- if current_user.is_allowed?("identity:credential_create",{credential: {user_id: current_user.id}})
  .toolbar
    .main-buttons
      = link_to 'Create new', new_credential_path, data: {modal: true}, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Type
      %th Scope
      %th Data
      %th
  %tbody#credentials_table
    - if @user_credentials.blank?
      %tr
        %td(colspan="4")
          No credentials available
    - else
      - @user_credentials.each do |credential|
        = render partial: 'item', locals: {credential: credential}
