-# we dot dont Keystone credential store anymore
-# can be deleted later
-# = simple_form_for @credential, url: credentials_path, method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|

-#   %div{class: modal? ? 'modal-body' : ''}
-#     - unless @credential.errors["message"].blank?
-#       %p.alert.alert-error= @credential.errors.full_messages.to_sentence
    
-#     = render partial: 'form', locals: {form: f} 
  
-#   %div.buttons{class: modal? ? 'modal-footer' : ''}  
-#     - if modal?
-#       %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
-#     - else
-#       = link_to "Cancel", credentials_path(), class: 'btn btn-default'
      
-#     %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Save