%p
  Follow these steps to install the automation node on instance
  - unless @instance.nil?
    %b= @instance.name

%ol
  %li
    %p Log in into the instance
    - unless @instance.nil?
      = compute_ips(@instance.addresses)

  %li
    Run the following script in an administrator console as super user:

    %pre.snippet
      %code
        #{CGI.escapeHTML(@script).gsub("&#39;", "'")}
