.nodes_table
  %table.table
    %thead
      %tr
        %th Name
        %th Platform
        %th IP
        %th Tags
        %th Online
        %th Job history
        %th.snug
    %tbody
      - if nodes.empty?
        %tr
          %td{colspa: 7} No nodes available
      - else
        -nodes.each do | node |
          = render partial: 'table_nodes_item', locals: {node: node, jobs: jobs[node.id.to_sym].fetch(:elements, {}), addresses: addresses.fetch(node.id.to_sym, {})}

  = paginate nodes, :theme => 'twitter-bootstrap-3'

  #popover_container