.nodes_table{data: {update_path: plugin('automation').index_update_nodes_path(), update_interval: 30}}
  %table.table
    %thead
      %tr
        %th.snug
        %th Name
        %th Platform
        %th IP
        %th Tags
        %th Online
        %th Job history
        %th.snug
    %tbody
      - if nodes.empty?
        %tr
          %td{colspa: 8} No nodes available
      - else
        -nodes.each do | node |
          = render partial: 'table_nodes_item', locals: {node: node, jobs: jobs[node.id.to_sym].fetch(:elements, {}), addresses: addresses.fetch(node.id.to_sym, {}), is_external_node: external_nodes.fetch(node.id.to_sym, false)}

  = paginate nodes, :theme => 'twitter-bootstrap-3'

  #popover_container