- is_edit_form = form_type == 'edit' ? true : false

- name_hint = form_type == 'edit' ? "enter name" : "cannot edit template name. delete and create another template if name is to be changed."

- template_name_hint = "The name of the template."

- template_html_hint = "The HTML body of the email."

- template_text_hint = "The email body that will be visible to recipients whose email clients do not display HTML."

- template_subject_hint = "The subject line of the email."

=f.input :name, required: true, label: 'Name', input_html: { autofocus: 'autofocus', readonly: is_edit_form }, placeholder: 'Enter name', icon_hint: template_name_hint

=f.input :subject, required: true, label: 'Subject',  placeholder: 'Enter subject', icon_hint: template_subject_hint

=f.input :html_part, required: true, label: "HTML Content", as: :text, placeholder: "Enter HTML part of your email template", input_html: {rows: "10", class: "u-text-monospace"}, icon_hint: template_html_hint

=f.input :text_part, required: true, label: "Text Content", as: :text, placeholder: "Enter PLAIN text part of your email template", input_html:  {rows: "10", class: "u-text-monospace" }, icon_hint: template_text_hint