.btn-group
  %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true } }
    %span.fa.fa-cog
  %ul.dropdown-menu.dropdown-menu-right{ role:"menu" }
    - if current_user.is_allowed?("email_service:template_delete", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
      -#%li= link_to 'Send eMail with this', plugin('email_service').new_templated_emails_path(id: template[:id], name: template[:name]), data: {modal: true}
      %li= link_to 'Show details', plugin('email_service').template_path(id: template[:id], name: template[:name]), data: {modal: true}
      %li= link_to 'Delete', plugin('email_service').template_path(id: template[:id], name: template[:name],action_from_show: show_view), method: :delete, data: { confirm: "Are you sure you want to remove this template '#{template[:name]}'?", ok: "Yes, remove it", confirmed: :loading_status}