%tr
  %td
    = link_to tmpl[:name], plugin('email_service').template_path(id: tmpl[:id], name: tmpl[:name]), data: {modal: true}
  %td
    = tmpl[:subject]
  %td.snug
    = render partial: 'item_actions', locals: { tmpl: tmpl, show_view: false }