= content_for :title do
  Template details

- unless modal?
  %h3 Template details

.modal-body.static-columns

  .modal-section.first
    %h3
      Details
    - if @template
      %table.table
        %tr
          %td
            %strong Name:
          %td
            =@template.name
        %tr
          %td
            %strong Subject:
          %td
            =@template.subject
        %tr
          %td
            %strong HTML part:
          %td.html-part
            = @template.html_part
        %tr
          %td
            %strong Text part:
          %td.text-part
            =@template.text_part
    - else
      Template not found.

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').templates_url(), class: 'btn btn-default'
