= javascript_pack_tag "shared_filesystem_storage_app", data: { name: 'shared_filesystem_storage', maia_api: current_user.service_url('metrics'), castellum_api: current_user.service_url('castellum'), token: current_user.token, project_id: current_user.project_id }
