= content_for :title do
  Access Profiles

- unless @access_error
  = javascript_include_tag "access_profile_app_widget",
    data: { url: plugin("access_profile").root_path }
- else
  .modal-body
    .alert.alert-danger
      You are not allowed to see this page