= content_for :main_toolbar do
  Requests for Processing


- if (current_user.is_allowed?("identity:inquiry_admin_list") or current_user.is_allowed?("cloud_admin"))

  = render partial: "inquiry/shared/tabs", locals: {admin_view: true}

  - container_id = SecureRandom.hex
  - state = params[:show_only] == "processed" ? ['closed','approved','rejected'] : ['open']
  = render partial: 'inquiry/shared/index_toolbar', locals: {container_id: container_id, admin_view: true, state: state}

  .inquiries.spinner

  = remote_inquiries(per_page: Inquiry::Inquiry.default_per_page, filter: {approver_domain_id: current_user.user_domain_id,  state: state}, container_id: container_id)

- else
  .alert.alert-info
    You don't have permission to see these requests. This is for admins only!
