= content_for :main_toolbar do
  Requests for processing

.inquiry-widget{id: SecureRandom.hex, data: {widget: :inquiry}}
  = render partial: 'inquiries_widget', locals: {admin_view: true, remote_links: false}
