%b
  = "#{t("lbaas.policies.#{pre}")} (#{pre})"
%p
  Adds client IP information to the TCP request
  %strong in binary format.
  %br
  For more information please take a look at
  %a(href='https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt' target='_blank') the Proxy Protocol Specification.
  %br
    All backend members have to have Proxy Protocol Version 2 support enabled.
