%b
  = "#{t("lbaas.policies.#{pre}")} (#{pre})"
%p
  Switch listener from FastL4 to standard profile on F5 device.
  Use it only when FastL4 profile doesn't work for your application!!!
  %a(href='https://support.f5.com/csp/article/K55185917' target='_blank') (F5 Documentation)