- class_name = ''
- class_name += 'active' if current_user.id==user_id
- class_name += 'warning' if local_assigns.has_key?(:highlight)
- class_name += 'danger' if local_assigns.has_key?(:new_member)
%tr{class: class_name}
  %td
    = user_name
  - role_ids.each do |role_id|
    %td
      - disabled = current_user.is_allowed?('identity:member_update') ? false : true
      = check_box("role_assignments[#{user_id}]", role_id, {checked: user_role_ids.include?(role_id), disabled: disabled}, "1", "0")