%table.table#project_members
  %thead
    %tr
      %th User
      %th Roles
      %th Actions

  %tbody
    - if @user_roles.blank?
      %tr
        %td{colspan: 3} No members assigned to this project.
    - else
      - can_update = current_user.is_allowed?('identity:project_member_update')
      - @user_roles.each do |user_id, values|
        = render partial: 'identity/projects/members/member', locals: {user_id: user_id, user_name: values[:name], user_description: values[:description], roles: @roles, user_roles: values[:roles], can_update: can_update}
