%table.table#project_groups
  %thead
    %tr
      %th Group
      %th Roles
      %th Actions

  %tbody
    - if @group_roles.blank?
      %tr
        %td{colspan: 3} No groups assigned to this project. 
    - else    
      - can_update = current_user.is_allowed?('identity:project_group_update')
      - @group_roles.each do |group_id, values|
        = render partial: 'identity/projects/groups/group', locals: {group_id: group_id, group_name: values[:name], roles: @roles, group_roles: values[:roles], can_update: can_update}