= content_for :page_lead do
  .jumbotron
    .container
      .row
        .col-sm-8
          %h1 SAP Converged Cloud
          %p Infrastructure as a Service (IaaS) powered by Openstack, SAP HANA & Monsoon automation
          = link_to "Enter the cloud", domain_start_path, class: "btn btn-outline-negative btn-lg"
        .col-sm-4
          .row
            .col-sm-6.hero-info
              .info-stat
                26457
              .info-stat-text
                virtual machines
            .col-sm-6.hero-info
              .info-stat
                578 TB
              .info-stat-text
                storage

          .row
            .col-sm-6.hero-info
              .info-stat
                35
              .info-stat-text
                availability zones
            .col-sm-6.hero-info
              .info-stat
                397
              .info-stat-text
                networks



%h1.page-header What is SAP Converged Cloud?

%p.lead
  SAP Converged Cloud is SAP’s official IaaS. It provides you with the “computing power" for your SAP solutions, compliant & secure, for customer facing and for SAP internal use without any of the red tape slowing down adoption.
Follow Hana Cloud Platform, HCM Success Factors and adopt now.
%p.lead
  SAP Converged Cloud enables SAP and therefore you to run each solution out of each datacenter world wide; on KVM or Vmware hypervisors. Cloud native or Enterprise Virtualisation. One IaaS to go without compromise.




%ul.fancy-list.fancy-list-2col
  %li
    .fancy-icon
      %span.moo-cloud
    %h5.fancy-header Compute & Block Storage
    %ul
      %li Create vms with up to 256 GB Ram
      %li Snapshot running vms and create images on VMWare or KVM.
      %li Create volumes, attach them to vms and take snapshots.
      %li Schedule backups or run ad-hoc backup and restore.

  %li
    .fancy-icon
      %span.fa.fa-sitemap.fa-fw
    %h5.fancy-header Networking & Load Balancing
    %ul
      %li Manage private networks, subnets, routers, elastic IPs, firewalls and security groups
      %li Configure access from zone 2, the internet or via VPN.
      %li Setup loadbalancing and use blue-green deployment strategies.

  %li
    .fancy-icon
      %span.fa.fa-database.fa-fw
    %h5.fancy-header Additional Storage Types & Software Repositories
    %ul
      %li Use Low-cost shared object storage or NFS file system storage as service.
      %li Setup repositories for linux packages, chef cookbooks and docker images
      %li Consume Windows update services.
      %li Replicate your repos into the regions where you need them.

  %li
    .fancy-icon
      %span.fa.fa-lock.fa-fw
    %h5.fancy-header Access Management & Auditing
    %ul
      %li Manage authorizations
      %li Delegate administrative rights to central operator.
      %li Configure Cloud Access Manager (CAM).
      %li Keep an audit trail for your project services.

  %li
    .fancy-icon
      %span.fa.fa-gears.fa-fw
    %h5.fancy-header Monsoon Automation (IaC)
    %ul
      %li Execute ad-hoc jobs using scripts, Chef and Ansible.
      %li Execute defined run-lists, also based on infrastructure events.
      %li Be compliant applying default "base runlist".
      %li Install the open source IaC service into any other OpenStack.

  %li
    .fancy-icon
      %span.fa.fa-code.fa-fw
    %h5.fancy-header API Access & Tested Tool Belt
    %ul
      %li Your choice of OpenStack, AWS or GMP/TIC API
      %li Download the tested SDKs for your preferred language
      %li Consume the supported API documentation.
      %li Use CF Bosh, Packer, kubernetes, terraform and other tested tools.


  %li
    .fancy-icon
      %span.fa.fa-cubes.ga-fw
    %h5.fancy-header Orchestration & Containerization
    %ul
      %li Create complex landscapes using yml or json and combine with IaC
      %li Consume pre-configured software stacks.
      %li Run your cloud native app using container-as-a-service

  %li
    .fancy-icon
      %span.fa.fa-area-chart.ga-fw
    %h5.fancy-header  Monitoring, Logging, cost & capacity control
    %ul
      %li Understand quotas, monitor consumption & cost.
      %li Consume metrics and configure your own metrics and alarms.
      %li Forward logs to make them accessible to your operator's dashboard.

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.ga-fw
    %h5.fancy-header Bare Metal Data Processing & HANA
    %ul
      %li Setup HANA databases on bare metal using HANA cloud cells.
      %li Create bare metal instances or bring your own hardware and connect it to your project.


  %li
    .fancy-icon
      %span.fa.fa-globe.fa-fw
    %h5.fancy-header Global distribution
    %ul
      %li Choose where you want to deploy your VMs: Europe (3 datacenters), US-East (1 datacenter), US-West (2 datacenters), Canada (1 datacenter), Russia (1 datacenter).

  %li
    .fancy-icon
      %span.fa.fa-map-signs.fa-fw
    %h5.fancy-header DNS
    %ul
      %li Manage your own domains
      %li Allow your customers to bring their own domain.

  %li
    .fancy-icon
      %span.fa.fa-archive.fa-fw
    %h5.fancy-header OS Images
    %ul
      %li Choose from CoreOS, Debian, RHEL, SAP Suse, Suse, Ubuntu or Windows flavors.




%h1.page-header Getting Started
.row
  .col-sm-8
    :markdown
      When you start a new project as grassroot or fully funded, the first question you have to ask yourself is "where do I deploy"?

      Launching an SAP solution to the market or releasing a support, shop or collaboration site to employees, customers or partners in the modern cloud world will naturally make you think.... sure AWS or sure Heruku !

      As a general rule, as an SAP employee, you should follow the pattern:

      * If you would deploy to Heruku deploy to Hana Cloud Platform.
      * If you would deploy to AWS use SAP Converged Cloud.

      Why? -- SAP Converged Cloud offers you the same ease of access and API driven feature like AWS, based on openstack run out of SAPs own datacenters at comparable pricing; like on AWS, you only pay what you consume.

      Deploying on SAP Converged Cloud allows you to start in the place you can go productive later. You will limit the worries you will get with SAP DPA, EU-DP, Security audits, Certifications or Operations and can avoid migrating back home.
      You are also in the right spot to integrate with Hana Cloud platform as backing service or extension at any point in your lifecycle, since you can serve your solution out of the same datacenter using the same secure internal networking for integration.


      Start now with a free plan or contact our consulting group for an introduction and additional guidance.

  .col-sm-4
    .bs-callout.bs-callout-primary
      %h4 Are you an exisiting customer of GMP, Monsoon or AWS?
      = link_to "Learn how you can adopt SAP Converged Cloud", "#existing-customer"


%a#existing-customer
%h2 Existing Customers

.row
  .col-sm-8
    %p Night came. The moon was entering her first quarter, and her insufficient light would soon die out in the mist on the horizon. Clouds were rising from the east, and already overcast a part of the heavens.

    %p The pilot had hung out his lights, which was very necessary in these seas crowded with vessels bound landward; for collisions are not uncommon occurrences, and, at the speed she was going, the least shock would shatter the gallant little craft.

.row
  .col-sm-4
    %h3.page-header Monsoon
    %p Fix, seated in the bow, gave himself up to meditation. He kept apart from his fellow-travellers, knowing Mr. Fogg's taciturn tastes; besides, he did not quite like to talk to the man whose favours he had accepted.

    %h4 My heading
    %p He was thinking, too, of the future. It seemed certain that Fogg would not stop at Yokohama, but would at once take the boat for San Francisco; and the vast extent of America would ensure him impunity and safety.

    %h4 My heading
    %p Fogg's plan appeared to him the simplest in the world. Instead of sailing directly from England to the United States, like a common villain, he had traversed three quarters of the globe, so as to gain the American continent more surely; and there, after throwing the police off his track, he would quietly enjoy himself with the fortune stolen from the bank. But, once in the United States, what should he, Fix, do?


  .col-sm-4
    %h3.page-header AWS
    Should he abandon this man? No, a hundred times no! Until he had secured his extradition, he would not lose sight of him for an hour. It was his duty, and he would fulfil it to the end.

    %h4 My heading
    %p At all events, there was one thing to be thankful for; Passepartout was not with his master; and it was above all important, after the confidences Fix had imparted to him, that the servant should never have speech with his master.

    %h4 My heading
    %p Phileas Fogg was also thinking of Passepartout, who had so strangely disappeared.

  .col-sm-4
    %h3.page-header GMP
    %p Looking at the matter from every point of view, it did not seem to him impossible that, by some mistake, the man might have embarked on the Carnatic at the last moment; and this was also Aouda's opinion, who regretted very much the loss of the worthy fellow to whom she owed so much. They might then find him at Yokohama; for, if the Carnatic was carrying him thither, it would be easy to ascertain if he had been on board.

    %h4 My heading
    %p A brisk breeze arose about ten o'clock; but, though it might have been prudent to take in a reef, the pilot, after carefully examining the heavens, let the craft remain rigged as before. The Tankadere bore sail admirably, as she drew a great deal of water, and everything was prepared for high speed in case of a gale.

    %h4 My heading
    %p Mr. Fogg and Aouda descended into the cabin at midnight, having been already preceded by Fix, who had lain down on one of the cots. The pilot and crew remained on deck all night.
