= content_for :page_lead do
  .jumbotron
    .container
      .row
        .col-sm-8
          %h1 SAP Converged Cloud
          %p Infrastructure as a Service (IaaS) powered by Openstack, SAP HANA & Monsoon automation
          = link_to "Enter the cloud", domain_start_path, class: "btn btn-outline-negative btn-lg"
        .col-sm-4
          .row
            .col-sm-6.hero-info
              .info-stat
                26457
              .info-stat-text
                virtual machines
            .col-sm-6.hero-info
              .info-stat
                578 TB
              .info-stat-text
                storage

          .row
            .col-sm-6.hero-info
              .info-stat
                35
              .info-stat-text
                availability zones
            .col-sm-6.hero-info
              .info-stat
                397
              .info-stat-text
                networks



%h1.page-header What is SAP Converged Cloud?

%p.lead
  SAP Converged Cloud is SAP’s official IaaS. It provides you with the “computing power" for your SAP solutions, compliant and secure, for customer facing and for SAP internal use without any of the red tape slowing down adoption. -- Follow Hana Cloud Platform, HCM Success Factors and adopt now.


%ul.fancy-list.fancy-list-2col
  %li
    .fancy-icon
      %span.moo-cloud
    %h5.fancy-header Compute & Block Storage
    %ul
      %li Create vms with up to 256 GB Ram
      %li Snapshot running vms and create images on VMWare or KVM.
      %li Create volumes, attach them to vms and take snapshots.
      %li Schedule backups or run ad-hoc backup and restore.

  %li
    .fancy-icon
      %span.fa.fa-sitemap.fa-fw
    %h5.fancy-header Networking & Load Balancing
    %ul
      %li Manage private networks, subnets, routers, elastic IPs, firewalls and security groups
      %li Configure access from zone 2, the internet or via VPN.
      %li Setup loadbalancing and use blue-green deployment strategies.

  %li
    .fancy-icon
      %span.fa.fa-database.fa-fw
    %h5.fancy-header Additional Storage Types & Software Repositories
    %ul
      %li Use Low-cost shared object storage or NFS file system storage as service.
      %li Setup repositories for linux packages, chef cookbooks and docker images
      %li Consume Windows update services.
      %li Replicate your repos into the regions where you need them.

  %li
    .fancy-icon
      %span.fa.fa-lock.fa-fw
    %h5.fancy-header Access Management & Auditing
    %ul
      %li Manage authorizations
      %li Delegate administrative rights to central operator.
      %li Configure Cloud Access Manager (CAM).
      %li Keep an audit trail for your project services.

  %li
    .fancy-icon
      %span.fa.fa-gears.fa-fw
    %h5.fancy-header Monsoon Automation (IaC)
    %ul
      %li Execute ad-hoc jobs using scripts, Chef and Ansible.
      %li Execute defined run-lists, also based on infrastructure events.
      %li Be compliant applying default "base runlist".
      %li Install the open source IaC service into any other OpenStack.

  %li
    .fancy-icon
      %span.fa.fa-code.fa-fw
    %h5.fancy-header API Access & Tested Tool Belt
    %ul
      %li Your choice of OpenStack, AWS or GMP/TIC API
      %li Download the tested SDKs for your preferred language
      %li Consume the supported API documentation.
      %li Use CF Bosh, Packer, kubernetes, terraform and other tested tools.


  %li
    .fancy-icon
      %span.fa.fa-cubes.ga-fw
    %h5.fancy-header Orchestration & Containerization
    %ul
      %li Create complex landscapes using yml or json and combine with IaC
      %li Consume pre-configured software stacks.
      %li Run your cloud native app using container-as-a-service

  %li
    .fancy-icon
      %span.fa.fa-area-chart.ga-fw
    %h5.fancy-header  Monitoring, Logging, cost & capacity control
    %ul
      %li Understand quotas, monitor consumption & cost.
      %li Consume metrics and configure your own metrics and alarms.
      %li Forward logs to make them accessible to your operator's dashboard.

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.ga-fw
    %h5.fancy-header Bare Metal Data Processing & HANA
    %ul
      %li Setup HANA databases on bare metal using HANA cloud cells.
      %li Create bare metal instances or bring your own hardware and connect it to your project.


  %li
    .fancy-icon
      %span.fa.fa-globe.fa-fw
    %h5.fancy-header Global distribution
    %ul
      %li Choose where you want to deploy your VMs: Europe (3 datacenters), US-East (1 datacenter), US-West (2 datacenters), Canada (1 datacenter), Russia (1 datacenter).

  %li
    .fancy-icon
      %span.fa.fa-map-signs.fa-fw
    %h5.fancy-header DNS
    %ul
      %li Manage your own domains
      %li Allow your customers to bring their own domain.

  %li
    .fancy-icon
      %span.fa.fa-archive.fa-fw
    %h5.fancy-header OS Images
    %ul
      %li Choose from CoreOS, Debian, RHEL, SAP Suse, Suse, Ubuntu or Windows flavors.




%h1.page-header Getting Started
.row
  .col-sm-8
    :markdown
      When you start a new project as grassroot or fully funded, the first question you have to ask yourself is "where do I deploy"?

      Launching an SAP solution to the market or releasing a support, shop or collaboration site to employees, customers or partners in the modern cloud world will naturally make you think.... sure AWS or sure Heruku !

      As a general rule, as an SAP employee, you should follow the pattern:

      * If you would deploy to Heruku deploy to Hana Cloud Platform.
      * If you would deploy to AWS deploy to SAP Converged Cloud.

      SAP Converged Cloud offers you the same ease of access and API driven feature like AWS, based on openstack run out of SAPs own datacenters at comparable pricing; like on AWS, you only pay what you consume.

      Deploying on SAP Converged Cloud allows you to start in the place you can go productive later. You will limit the worries you will get with SAP DPA, EU-DP, Security audits, Certifications or Operations and can avoid migrating back home.

      You are also in the right spot to integrate with Hana Cloud platform as backing service or extension at any point in your lifecycle, since you can serve your solution out of the same datacenter using the same secure internal networking for integration.


      Start now with a free plan or contact our consulting group for an introduction and additional guidance.

  .col-sm-4
    .bs-callout.bs-callout-primary
      %h4 Are you an exisiting customer of GMP, Monsoon or AWS?
      = link_to "Learn how you can adopt SAP Converged Cloud", "#existing-customer"


%a#existing-customer
%h2 Existing Customers

.row
  .col-sm-8
    %p Here goes the official Board Mandate. SAP Converged Cloud Adoption plan.

    %p Here goes the pitch summery, that we provide capabilities for Monsoon, GMP and AWS customers to move as simple as possible.

.row
  .col-sm-4
    %h3.page-header Monsoon

    %p Provides subset of AWS API on top of vmware hypervisor and a powerfull automation API for configuration management with chef in SAPs own datacenters.

    %h4 No migration required
    %p Monsoon's subset of AWS API including the monsoon automation API will be provided in converged cloud. All monsoon datacenters will be upgraded to converged cloud during 2016.

    Link to transition guide with all details.


  .col-sm-4
    %h3.page-header AWS
    Undisputed Market Leader for Infrastructure services.

    %h4 Integration with other SAP solutions
    %p HCP extension etc.

    %h4 Compliants, data protection & operations
    %p SAP DPA, EU-DP etc. simplification of long term operations.

    Link to transition guide with all details.

  .col-sm-4
    %h3.page-header GMP
    %p Provides strong automation for SAP Abab based solutions and databases and provides operations tooling and processes on Xen hypervisor.

    %h4 GMP CC provider
    %p You can keep managing your application through GMP and deploy your computing power in converged cloud.

    Link to transition guide with all details.
