= content_for :page_lead do
  .jumbotron
    .container
      .row
        .col-sm-8
          %h1 SAP Converged Cloud
          %p Get VMs for your development and production scenarios. HANA ready. Monsoon automation enabled.
          = link_to "Enter the cloud", domain_start_path, class: "btn btn-outline-negative btn-lg"
        .col-sm-4
          .row
            .col-sm-6.hero-info
              .info-stat
                26457
              .info-stat-text
                virtual machines
            .col-sm-6.hero-info
              .info-stat
                578 TB
              .info-stat-text
                storage

          .row
            .col-sm-6.hero-info
              .info-stat
                35
              .info-stat-text
                availability zones
            .col-sm-6.hero-info
              .info-stat
                397
              .info-stat-text
                networks



%h1.page-header What is SAP Converged Cloud?

%p.lead
  SAP Converged Cloud is SAP's internal cloud offering running on an
  - external_link_to "OpenStack", "https://www.openstack.org/"
  backend. You can spawn VMs, build whole landscapes for development and productive use on which you can run your applications and services. We offer a powerful automation
  service which you can use to automate many aspects of your landscapes like spawning and configuring new VMs, installing or uninstalling software, updating existing VMs, etc.
%p.lead
  SAP Converged Cloud makes it easy for you to get the landscape you need. You choose what you need and where you need it and you'll get it with the press of a button and minimal red tape.




%ul.fancy-list.fancy-list-2col
  %li
    .fancy-icon
      %span.moo-cloud
    %h5.fancy-header Compute, Block Storage & Networking
    %p
      Create vms from images in sizes up to 256 GB Ram, snapshot running machines and create own images on VMWare or KVM.
      Create volumes and attach them to your vms. Snapshot volumes and create volumes from snapshots.
      Schedule backups or run ad-hoc backup and restore.

  %li
    .fancy-icon
      %span.fa.fa-sitemap.fa-fw
    %h5.fancy-header Networking & Load Balancing
    %p
      Manage your private networks, subnets, routers, elastic IPs, firewalls and security groups.
      Route into internal (zone2) or public internet or into special networks on request. Manage your own VPN.
      Setup loadbalancing and use blue-green deployment strategies, also for sticky applications.

  %li
    .fancy-icon
      %span.fa.fa-database.fa-fw
    %h5.fancy-header Additional Storage Types & Software Repositories
    %p
      Use low-cost shared object storage with swift.
      create NFS file system storage.
      Manage repositories (rpm, deb, swift), chef cookbooks and docker images & replicate them between regions. Consume Windows update services from all regions.
      Manage Chef cookbooks & docker images and replicate them to your regions regions.

  %li
    .fancy-icon
      %span.fa.fa-lock.fa-fw
    %h5.fancy-header Access Management & Auditing
    %p
      Manage authorizations to users using groups and roles & Delegate administrative rights to central groups of operators.
      Delegate authorization management to external applications such as Cloud Access Manager (CAM).
      Keep an audit trail for your project services.

  %li
    .fancy-icon
      %span.fa.fa-code.fa-fw
    %h5.fancy-header API Access & Tested Tool Belt
    %p
      Your choice of OpenStack, AWS API or GMP/Tic API
      Download the tested SDKs for your preferred language and refer to the supported API documentation.
      Learn how to use one of the tested frameworks such as CF Bosh, Packer, kubernetes, terraform and more.

  %li
    .fancy-icon
      %span.fa.fa-map-signs.fa-fw
    %h5.fancy-header DNS
    %p
      Manage your own domains
      Allow your customers to bring their own domain.

  %li
    .fancy-icon
      %span.fa.fa-gears.fa-fw
    %h5.fancy-header Monsoon Automation (IaC)
    %p
      Execute ad-hoc jobs using scripts, Chef, Ansible.
      Publish, configure and execute defined run-lists; also in response to dedicated infrastructure events or custom stages.
      Make all instances compliant to your business needs based on default "base runlist".
      Download and install our open source IaC OpenStack service into any other OpenStack installation.

  %li
    .fancy-icon
      %span.fa.fa-cubes.ga-fw
    %h5.fancy-header Orchestration & Containerization
    %p
      Create complex system landscapes using Heat or AWS CloudFormation format.
      Combine automation and orchestration to implement complex repeatable system setups and updates.
      Consume pre-configured software stacks with relevant SAP and non-SAP software.
      Run your cloud native app using container-as-a-service

  %li
    .fancy-icon
      %span.fa.fa-area-chart.ga-fw
    %h5.fancy-header  Monitoring, Quotas & Logging
    %p
      Understand quotas set for your project, monitor the consumption and request an extension.
      Consume default metrics and configure your own metrics and alarms.
      Forward logs to make them accessible to your operator's dashboard.

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.ga-fw
    %h5.fancy-header Bare Metal Data Processing & HANA
    %p
      Create single or scaleable HANA databases on bare metal using HANA cloud cells.
      Create bare metal instances or bring your own hardware and connect it to your project.

%h2.page-header Technical Overview

%ul.fancy-list
  %li
    .fancy-icon
      %span.fa.fa-globe.fa-fw
    %h5.fancy-header 5 Regions with multiple data centers
    %p Europe (3 datacenters), US-East (1 datacenter), US-West (2 datacenters), Canada (1 datacenter), Russia (1 datacenter)


  %li
    .fancy-icon
      %span.fa.fa-archive.fa-fw
    %h5.fancy-header 13 OS Images
    %p CoreOS, Debian 7, RHEL6, RHEL7, SAP Suse 11 (SP2, SP3), Suse 11 (SP2, SP3), Suse 12, Ubuntu 12, Ubuntu 14, Win 2008, Win 2012

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.fa-fw
    %h5.fancy-header 19 VM Sizes
    %p Small (1 CPU, 1 GB Ram) up to Hana sized (16 CPU, 64 GB Ram)


%h1.page-header Getting Started
.row
  .col-sm-8
    %p asdlfakjsdflasjdf;ld
    %p Add "Are you an existing customer?" here maybe in a box on the right?
  .col-sm-4
    .bs-callout.bs-callout-primary
      %h4 Are you an exisiting customer of GMP, Monsoon or AWS?
      = link_to "Learn how you can adopt SAP Converged Cloud", "#existing-customer"



%h1.page-header Cluster Types
%p
  There are three cluster types, type 1, type 2, and type 3. Depending on your requirements or use case some types will be a better fit than others. See the chart below for a summary or visit the
  = link_to "in-depth documentation", "#"
  if you need more information.

%table.table.table-fancy
  %thead
    %tr
      %th Type 1 Cluster
      %th Type 2 Cluster
      %th Type 3 Cluster

  %tbody
    %tr
      %td
        %p This cluster type is our general purpose cluster, it runs on VMWare. If you don't feel you need the specific features the other types offer, this is the right one to pick.
      %td
        %p If you are a customer of HCP pick this.
      %td
        %p For this use case here this cluster is so much better.


    %tr
      %th Use For
      %th Use For
      %th Use For
    %tr
      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            This usecase
          %li
            %span.fa.fa-li.fa-square-o
            Or this

      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            This usecase
          %li
            %span.fa.fa-li.fa-square-o
            Or this
          %li
            %span.fa.fa-li.fa-square-o
            Or maybe even this

      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            This usecase


    %tr
      %th Available In
      %th Available In
      %th Available In

    %tr
      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            All regions
      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            Europe
          %li
            %span.fa.fa-li.fa-square-o
            US-East
          %li
            %span.fa.fa-li.fa-square-o
            US-West
      %td
        %ul
          %li
            %span.fa.fa-li.fa-square-o
            Europe
          %li
            %span.fa.fa-li.fa-square-o
            Canada


%a#existing-customer
%h1.page-header Existing Customers
%p adslfajsdfadf
