%noscript
  %h1 SAP Converged Cloud
  = link_to "Enter the cloud", main_app.domain_home_path(domain_id: params[:domain_id], project_id:nil)
  
-# global landing page with preselected region/domain
= javascript_include_tag 'https://cdn.juno.global.cloud.sap/widget-loader/latest/app.js', defer: true, data: {name: "dashboard", version: "latest", "props-region": "#{current_region}", "props-domain": "#{current_domain}", "props-prodmode": Rails.env.production?}
