= content_for :page_lead do
  .jumbotron.jumbotron-fancy
    .container
      .row
        .col-sm-8
          %h1 SAP Converged Cloud
          %p From Playground to Production on one Infrastructure-as-a-Service (IaaS), powered by Openstack, SAP HANA and Monsoon Automation
          = link_to "Enter the cloud", plugin('identity').domain_path(project_id:nil), class: "btn btn-outline-negative btn-lg"
        .col-sm-4
          .row
            .col-sm-6.hero-info
              .info-stat
                21.164
              .info-stat-text
                virtual machines
            .col-sm-6.hero-info
              .info-stat
                3,7 PB
              .info-stat-text
                storage

          .row
            .col-sm-6.hero-info
              .info-stat
                13
              .info-stat-text
                regions
            .col-sm-6.hero-info
              .info-stat
                73
              .info-stat-text
                networks



%h1.page-header Digital ideas happen on Converged Cloud

%p.lead
  "Thanks to SAP Converged Cloud we can now manage our system landscapes much more efficiently and support the increasing demand on HANA Core development systems.”

%p <b><em>Markus Oezgen</em></b> (Head of HANA Build Infrastructure Team, TIP HANA Core Berlin)

%ul.fancy-list.fancy-list-2col
  %li
    .fancy-icon
      %span.moo-cloud
    %h5.fancy-header Compute & Block Storage
    %ul.content-list
      %li Create virtual machines with up to 256 GB RAM
      %li Snapshot running vms and create images on VMWare or KVM.
      %li Create volumes, attach them to vms and take snapshots.

  %li
    .fancy-icon
      %span.fa.fa-sitemap.fa-fw
    %h5.fancy-header Networking & Load Balancing
    %ul.content-list
      %li Manage networks, routers, floating IPs and security groups
      %li Apply load balancing services (LBaaS)
      %li Implement blue-green deployment strategies
      %li Configure access from Intranet, Internet or via VPN

  %li
    .fancy-icon
      %span.fa.fa-database.fa-fw
    %h5.fancy-header Additional Storage Types & Software Repositories
    %ul.content-list
      %li Use Low-cost shared object storage or NFS file system storage as service.
      %li Setup repositories for linux packages, chef cookbooks and docker images
      %li Consume Windows update services.
      %li Replicate your repos into the regions where you need them.

  %li
    .fancy-icon
      %span.fa.fa-lock.fa-fw
    %h5.fancy-header Access Management & Auditing
    %ul.content-list
      %li Manage authorizations
      %li Delegate administrative rights to central operator.
      %li Configure Cloud Access Manager (CAM).
      %li Keep an audit trail for your project services.

  %li
    .fancy-icon
      %span.fa.fa-gears.fa-fw
    %h5.fancy-header Monsoon Automation (IaC)
    %ul.content-list
      %li Execute ad-hoc jobs using scripts, Chef and Ansible.
      %li Execute defined run-lists, also based on infrastructure events.
      %li Be compliant applying default "base runlist".
      %li Install the open source IaC service into any other OpenStack.

  %li
    .fancy-icon
      %span.fa.fa-code.fa-fw
    %h5.fancy-header API Access & Tested Tool Belt
    %ul.content-list
      %li Your choice of OpenStack, AWS or GMP/TIC API
      %li Download the tested SDKs for your preferred language
      %li Consume the supported API documentation.
      %li Use CF Bosh, Packer, kubernetes, terraform and other tested tools.


  %li
    .fancy-icon
      %span.fa.fa-cubes.ga-fw
    %h5.fancy-header Orchestration & Containerization
    %ul.content-list
      %li Create complex landscapes using yml or json and combine with IaC
      %li Consume pre-configured software stacks.
      %li Run your cloud native app using container-as-a-service

  %li
    .fancy-icon
      %span.fa.fa-area-chart.ga-fw
    %h5.fancy-header  Monitoring, Logging, Cost & Capacity Control
    %ul.content-list
      %li Understand quotas, monitor consumption & cost.
      %li Consume metrics and configure your own metrics and alarms.
      %li Forward logs to make them accessible to your operator's dashboard.

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.ga-fw
    %h5.fancy-header Bare Metal Data Processing & HANA
    %ul.content-list
      %li Setup HANA databases on bare metal using HANA cloud cells.
      %li Create bare metal instances or bring your own hardware and connect it to your project.


  %li
    .fancy-icon
      %span.fa.fa-globe.fa-fw
    %h5.fancy-header Global distribution
    %ul.content-list
      %li Choose the region where you want to deploy your VMs: Europe, Russia, US-East, US-West, Canada, Brazil, Japan, China, Australia

  %li
    .fancy-icon
      %span.fa.fa-map-signs.fa-fw
    %h5.fancy-header DNS
    %ul.content-list
      %li Manage your own domains
      %li Allow your customers to bring their own domain.

  %li
    .fancy-icon
      %span.fa.fa-archive.fa-fw
    %h5.fancy-header OS Images
    %ul.content-list
      %li Choose from CoreOS, Debian, RHEL, SAP Suse, Suse, Ubuntu or Windows flavors.

%h1.page-header Getting Started
.row
  .col-sm-8.text-copy
    :markdown
      When you start a new project as grassroot or fully funded, the first question you have to ask yourself is "where do I deploy"?

      Launching an SAP solution to the market or releasing a support, shop or collaboration site to employees, customers or partners in the modern cloud world will naturally make you think.... sure AWS or sure Heruku !

      As a general rule, as an SAP employee, you should follow the pattern:

      * If you would deploy to Heruku deploy to Hana Cloud Platform.
      * If you would deploy to AWS deploy to SAP Converged Cloud.

      SAP Converged Cloud offers you the same ease of access and API driven feature like AWS, based on openstack run out of SAPs own datacenters at comparable pricing; like on AWS, you only pay what you consume.

      Deploying on SAP Converged Cloud allows you to start in the place you can go productive later. You will limit the worries you will get with SAP DPA, EU-DP, Security audits, Certifications or Operations and can avoid migrating back home.

      You are also in the right spot to integrate with Hana Cloud platform as backing service or extension at any point in your lifecycle, since you can serve your solution out of the same datacenter using the same secure internal networking for integration.


      Start now with a free plan or contact our consulting group for an introduction and additional guidance.

  .col-sm-4
    .bs-callout.bs-callout-primary
      %h4 Are you an exisiting customer of Monsoon or GMP?
      = link_to "Learn how you can adopt SAP Converged Cloud", "#existing-customer"
    .bs-callout.bs-callout-primary
      %h4 Are you new to Converged Cloud?
      = link_to "Get Started", "#existing-customer"


%a#existing-customer
%h2 Existing Customers

.row
  .col-sm-8
    %p To be ready for the fast growing SAP Cloud Business, the SAP Converged Cloud provides one global and state-of-the-art Cloud Infrastructure for all SAP products, e.g. HCP, S/4HANA, HEC, HCM, SuccessFactor, Business One, ...

    %p SAP Converged Cloud not only supports SAP’s current and future Cloud Business, but will also incorporate all existing “legacy” infrastructures.

.row
  .col-sm-4
    %h3.page-header Monsoon

    %p Provides subset of AWS API on top of vmware hypervisor and a powerfull automation API for configuration management with chef in SAPs own datacenters.

    %h4 No migration required
    %p Monsoon's subset of AWS API including the monsoon automation API will be provided in converged cloud. All monsoon datacenters will be upgraded to converged cloud during 2016.

    Link to transition guide with all details.

  .col-sm-4
    %h3.page-header GMP
    %p Provides strong automation for SAP Abab based solutions and databases and provides operations tooling and processes on Xen hypervisor.

    %h4 GMP CC provider
    %p You can keep managing your application through GMP and deploy your computing power in converged cloud.

    Link to transition guide with all details.
