= render "application/context_selection"

.page-header
  %h1
    Domain:
    = @scoped_domain_name

  -# where to put this? ask esther
  .row
    .col-sm-6
      %p 
        Usage and Quotas
      = link_to "Quotas(X)", plugin('resource_management').admin_path()
      %span.label.label-danger Critical

