

-# resp.dedicated_ip_auto_warmup_enabled #=> Boolean
-# resp.enforcement_status #=> String
-# resp.production_access_enabled #=> Boolean
-# resp.send_quota.max_24_hour_send #=> Float
-# resp.send_quota.max_send_rate #=> Float
-# resp.send_quota.sent_last_24_hours #=> Float
-# resp.sending_enabled #=> Boolean
-# resp.suppression_attributes.suppressed_reasons #=> Array
-# resp.suppression_attributes.suppressed_reasons[0] #=> String, one of "BOUNCE", "COMPLAINT"
-# resp.details.mail_type #=> String, one of "MARKETING", "TRANSACTIONAL"
-# resp.details.website_url #=> String
-# resp.details.contact_language #=> String, one of "EN", "JA"
-# resp.details.use_case_description #=> String
-# resp.details.additional_contact_email_addresses #=> Array
-# resp.details.additional_contact_email_addresses[0] #=> String
-# resp.details.review_details.status #=> String, one of "PENDING", "FAILED", "GRANTED", "DENIED"
-# resp.details.review_details.case_id #=> String
-# resp.vdm_attributes.vdm_enabled #=> String, one of "ENABLED", "DISABLED"
-# resp.vdm_attributes.dashboard_attributes.engagement_metrics #=> String, one of "ENABLED", "DISABLED"
-# resp.vdm_attributes.guardian_attributes.optimized_shared_delivery #=> String, one of "ENABLED", "DISABLED"