- content_for :main_toolbar do
  Backup Network

- has_access = @rbacs && !@rbacs.empty?
.row
  .col-md-9
    %h1.heading-top Get Access to Backup Network
    %p.lead
      CCloud offers the standard/classic File system (FS) and DB Backup / Restore
      from the Global Backup Team for all instances located in the
      different Availability Zones. Find more information
      #{link_to 'here', 'https://documentation.global.cloud.sap/docs/support/backup_process.html', target: '_blank'}


    .bs-callout.bs-callout-emphasize{class: "bs-callout-#{has_access ? 'success' : 'info'}"}
      .row
        .col-md-10
          - if has_access
            %h4 You have access
            You have already access to the backup network
            = link_to 'Show Backup Network', plugin('networking').networks_private_index_path
          - else
            %h4 Get access
            You don't have access yet.

        .col-md-2
          - if has_access
            %i.fa.fa-check.fa-3x.pull-right
          - else
            = link_to 'Get Access', plugin('networking').new_backup_network_path , class: 'btn btn-primary', data: { modal: true }
