.verification_pending_table
%table.table
  %thead
    %tr
      %th eMail address
      %th Verification status
      %th.snug
  %tbody
    - if @pending_emails.empty?
      %tr
        %td{colspan: 3} No email address is in pending verification status
    - elsif @pending_emails.class == String
      = render partial: 'table_pending_email_item', locals: {pending_emails: @pending_emails}
    - elsif @pending_emails.class == Array
      -@pending_emails.each do | pending_email |
        = render partial: 'table_pending_email_item', locals: {pending_email: pending_email}
-#= paginate verified_email, :theme => 'twitter-bootstrap-3', :remote => true

