.verification_table
%table.table
  %thead
    %tr
      %th eMail address
      %th Verification status
      %th.snug
  %tbody
    - if @all_emails.empty?
      %tr
        %td{ colspan: 3 } No verified eMail address available
    - else
      -@all_emails.each do | all_email |
        = render partial: 'table_verified_email_item', locals: { all_email: all_email }
-#= paginate verified_email, :theme => 'twitter-bootstrap-3', :remote => true

