=content_for :main_toolbar do
  eMail Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'verifications'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"verifications-pane"}
    %h3
      Verified Identities
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('context_is_emailservice_editor')
            .main-buttons
              = link_to "Verify an eMail", plugin('email_service').new_verification_path, data: {modal: true}, class: 'btn btn-primary'

        .js-table-verified-email
          = render partial: 'table_verified_emails', locals: { all_emails: @all_emails }

      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            Converged Cloud EMails Service - AWS Simple eMail Service - verified eMails
            = link_to "AWS Simple eMail Service", "https://aws.amazon.com/ses/", :target => "_blank"
            \.