=content_for :main_toolbar do
  Email Service
= render partial: 'email_service/shared/nav.html', locals: {pane: 'verifications'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"verifications-pane"}

