-unless acl_translation[:error] 
  %strong
    =acl_translation[:operation] 
  - if acl_translation[:project]
    from domain/project:
    %strong
      =acl_translation[:project]
  - if acl_translation[:user]
    and domain/user:
    %strong
      =acl_translation[:user]
-else
  %strong
    error:
  %span.text-danger
    = acl_translation[:error]