%table.table
  %thead
    %tr
      %th Container name
      %th Total size
      %th Object count
      %th.snug
  %tbody
    - if @containers.empty?
      %tr
        %td{colspan: 4} No containers found.
    - else
      - @containers.sort_by(&:name).each do |container|
        = render partial: 'item', locals: { container: container }
