- pl = plugin('object_storage')

= simple_modal_form_for @container, submit_action: 'Create', url: pl.containers_path, method: :post, cancel_url: pl.containers_path do |f|
  .row
    .col-md-6
      %fieldset
        = f.input :name, label: 'Container Name'
    .col-md-6
      .bs-callout.bs-callout-info
        %p
          Inside a project, objects are stored in containers. Containers are where you define access permissions and quotas.

=content_for :javascripts do
  :javascript
    setTimeout(function(){
      $('#container_name').focus().select();
    }, 0)
