//close the create request window
Dashboard.hideModal();Dashboard

// show progress and block the dropdown menu
$('#<%=@container_id%>_item_count').html('<small>emptying </small><span class="loading"></span>');
$('#<%=@container_id%>_menu.btn-group button').attr('disabled','disabled');
// empty container
$.post("<%=plugin('object_storage').empty_container_path(@encoded_container_name)%>");
