//close the create request window
Dashboard.hideModal();Dashboard

// show progress and block the dropdown menu
$('#<%=@container.name%>_item_count').html('<small>emptying </small><span class="loading"></span>');
$('#<%=@container.name%>_menu.btn-group button').attr('disabled','disabled');
// empty container
$.get("<%=plugin('object_storage').empty_container_path(@container.name)%>");
