= content_for :title do
  Container: #{@container.name}

.modal-body
  %table.table
    %tbody
      %tr
        %th Object count
        %td= @container.object_count
      %tr
        %th Total size
        -# TODO: format
        %td #{@container.bytes_used} bytes
