= content_for :title do
  Permissions for Container #{@container.name}

- pl = plugin('object_storage')

= simple_modal_form_for @container, 'Edit ACLs', url: pl.container_path(@container.name), method: :put, cancel_url: pl.containers_path do |f|
  %table.table
    %tbody
      %tr
        %th Read ACL
        %td
      %tr
        %th Write ACL
        %td

