= content_for :main_toolbar do
  Users

.toolbar
  .has-feedback
    = text_field_tag 'filter_users', '', class: "form-control", placeholder: 'User name, description or ID'

%table.table#users.searchable{data: {search_input: '#filter_users'}}
  %thead
    %tr
      %th.snug
      %th Name
      %th ID
      %th Status
      %th

  %tbody
    - if @users.empty?
      %tr{data: {empty:true}}
        %td{colspan: 3} No users.
    -else
      - @users.each do |user|
        - next if user.name.start_with?('t_')
        = render partial: 'user', locals: {user: user}
