<!DOCTYPE html>
<html>
<head>
  <title>Kubernetes</title>
  <%= stylesheet_link_tag    "kubernetes/application", media: "all" %>
  <%= javascript_include_tag "kubernetes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
