<!DOCTYPE html>
<html>
<head>
  <title>KeyManager</title>
  <%= stylesheet_link_tag    "key_manager/application", media: "all" %>
  <%= javascript_include_tag "key_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
