= render_navigation(context: :block_storage, expand_all: true)

- if @scoped_project_id
  - if current_user.is_allowed?("block_storage:volume_create", {volume: {user_id: current_user.id}, target: {scoped_domain_name: @scoped_domain_name} })
    .toolbar
      = link_to 'Create new', plugin('block_storage').new_volume_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
%table.table.volumes
  %thead
    %tr
      %th Volume Name
      %th
        AZ
        %i.fa.fa-fw.fa-info-circle{data: { toggle: "tooltip", placement: "top", title: "Availability Zone"}}         
      %th Description
      %th Size(GB)
      %th Attached to
      %th Status
      %th.snug

  %tbody
    %tbody
    - if @volumes.blank?
      %tr
        %td{colspa: 5} No volumes available
    - else
      - @volumes.each do | volume |
        = render partial: 'item', locals: {volume: volume, servers: @servers}
