%ul.nav.nav-tabs
  - if params[:controller]=='identity/projects/cloud_admin/project_members'
    %li{ role: 'presentation', class: 'active'}= link_to 'Project User Role Assignments', '#'
    %li{ role: 'presentation' }
      = link_to 'Project Group Role Assignments',
      projects_cloud_admin_project_groups_path(domain: @domain.try(:id),
      project: @project.try(:id) )
  - else
    %li{ role: 'presentation'}= link_to 'Project User Role Assignments',
      projects_cloud_admin_project_members_path(domain: @domain.try(:id),
      project: @project.try(:id) )
    %li{ role: 'presentation', class: 'active' }= link_to 'Project Group Role Assignments', '#'
