.row
  .col-md-6
    = render partial: 'loadbalancing/pools/item_detail', locals: {pool: @pool}

  .col-md-6
    = render partial: 'loadbalancing/pools/healthmonitors/item', locals: {healthmonitor: @healthmonitor}

.row
  .col-md-12
    = render partial: 'loadbalancing/pools/members/index', locals: {pool: @pool, members: @members, servers: @servers}
