
.toolbar
  .has-feedback.has-feedback-searchable
    = text_field_tag 'search_ports_input', '', class: "form-control", placeholder: 'Port name, ID, Device Owner/ID, Fixed IP or Network ID'

  .has-feedback-help
    %a.help-link{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: "Searches by port name, ID, Device Owner/ID, Fixed IP or Network ID in visible port list only. Entering a search term will automatically start loading the next pages and filter the loaded items using the search term. Emptying the search input field will show all currently loaded items."}}
      %i.fa.fa-question-circle

%table.table.ports.searchable{data:{search_input: '#search_ports_input'}}
  %thead
    %tr
      %th Name
      %th Status
      %th Network ID
      %th Fixed IPs
      %th Device Owner / ID
      %th.snug
  %tbody
    - if @ports.length==0
      %tr
        %td{colspa: 6} No ports available.
    - else
      = render partial: 'networking/ports/list', locals: { ports: @ports }

- if @pagination_has_next
  .ajax-paginate{ data: { ajax_paginate: true, list_selector: 'table.ports tbody', search_input_selector: '#search_ports_input'} }
