#chef-automation{class: ('hide' if hide_chef_automation(@automation.type))}
  %h3 Chef

  = f.input :run_list, as: :text, required: false, label: 'Runlist', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'tag', tagEditor_name: 'runlist'} }, placeholder: 'Enter runlist',
  required: true,
  icon_hint: 'Runlist is an array of strings. See hint for more information.',
  help_hint: t('automation.help_hint.string_array')

  = f.input :chef_attributes, as: :hidden

  .form-group
    %label.text.optional.col-sm-4.control-label
      Attributes
    .col-sm-8
      .input-wrapper
        #jsoneditor{data:{mode: "code", content_id: "$('#forms_automation_chef_attributes').val()"}}

  = f.input :log_level, custom_wrapper_html: {class: 'col-sm-5'}, required: false, label: 'Log level', input_html: {}, placeholder: 'Enter log level'