.panel.panel-danger
  .panel-heading
    Danger zone
  .panel-body
    %h4
      Remove automation
    .row.clearfix
      .col-sm-10
        %p
          Once you delete an automation, there is no going back. Please be certain.
      .col-sm-2
        = link_to "Remove", '#', data: {modal: true}, class: 'btn btn-danger btn-sm pull-right'