%a{href:'#', role: 'button', data: {popover_type: 'help-hint', toggle: 'popover', placement: 'top', container: '#popover_container', content: "Key-value pairs are separated by ':' or '='. Start a new pair by hitting the Enter key or ','. You can also copy and paste a string containing tags following this pattern: 'key1:value1,key2=value2...'"}}
  %span.fa-stack.fa-lg
    %i.fa.fa-square.fa-stack-2x
    %i.fa.fa-info.fa-inverse.fa-stack-1x