#script-automation.hide
  .row
    .col-sm-10.col-sm-offset-2
      %h3 Script

  = f.input :path, custom_wrapper_html: {class: 'col-sm-5'}, required: true, label: 'Path', input_html: {}, placeholder: 'Enter path'

  = f.input :arguments, custom_wrapper_html: {class: 'col-xs-11 col-sm-9'}, as: :text, label_html: {:class => "col-xs-12"}, required: false, label: 'Arguments', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'key-value'} }, placeholder: 'Enter arguments',
  icon_hint: 'Arguments are key-value pairs. See hint for more information.',
  help_hint: "Key-value pairs are separated by ':' or '='. Start a new pair by hitting the Enter key or ','. You can also copy and paste a string containing key value pairs following this pattern: 'key1:value1,key2=value2...'"

  = f.input :environment, custom_wrapper_html: {class: 'col-xs-11 col-sm-9'}, as: :text, label_html: {:class => "col-xs-12"}, required: false, label: 'Environment', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'key-value'} }, placeholder: 'Enter environment variables',
  icon_hint: 'Environment variables are key-value pairs. See hint for more information.',
  help_hint: "Key-value pairs are separated by ':' or '='. Start a new pair by hitting the Enter key or ','. You can also copy and paste a string containing key value pairs following this pattern: 'key1:value1,key2=value2...'"