#script-automation{class: ('hide' if hide_script_automation(@automation.type))}
  %h3 Script

  = f.input :path, custom_wrapper_html: {class: 'col-sm-5'}, required: true, label: 'Path', input_html: {}, placeholder: 'Enter path'

  = f.input :arguments, as: :text, required: false, label: 'Arguments', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'key-value'} }, placeholder: 'Enter arguments',
  icon_hint: 'Arguments are key-value pairs. See hint for more information.',
  help_hint: t('automation.help_hint.key_value_pairs')

  = f.input :environment, as: :text, required: false, label: 'Environment', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'key-value'} }, placeholder: 'Enter environment variables',
  icon_hint: 'Environment variables are key-value pairs. See hint for more information.',
  help_hint: t('automation.help_hint.key_value_pairs')