.runs_table{data: {update_path: plugin('automation').index_update_runs_automations_path(page: @pag_params[:run][:page]), update_interval: 30}}
  %table.table
    %thead
      %tr
        %th Name/ID
        %th Started
        %th Duration
        %th Owner
        %th State
        %th Jobs
    %tbody
      - if @runs.empty?
        %tr
          %td{colspan: 6} No automation runs available
      - else
        -@runs.each do | run |
          = render partial: 'table_runs_item', locals: {run: run}
