.automations_table
  %table.table
    %thead
      %tr
        %th Name
        %th Started
        %th Duration
        %th Owner
        %th State
        %th Jobs
    %tbody
      - if runs.empty?
        %tr
          %td{colspan: 6} No automation runs available
      - else
        -runs.each do | run |
          = render partial: 'table_runs_item', locals: {run: run}

= paginate runs, :theme => 'twitter-bootstrap-3', :remote => true, :params => {model: 'run'}
