- user_allowed = current_user.is_allowed?('automation:automation_update') || current_user.is_allowed?('automation:automation_delete')

.automations_table
  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Repository
        %th Repository revision
        - if user_allowed
          %th.snug
    %tbody
      - if automations.empty?
        %tr
          %td{colspan: (user_allowed ? 5 : 4 )} No automations available
      - else
        -automations.each do | automation |
          = render partial: 'table_automations_item', locals: {automation: automation}

= paginate automations, :theme => 'twitter-bootstrap-3', :remote => true, :params => {model: 'automation'}
