%tr
  %td
    = link_to(run.automation_name, plugin('automation').run_path(id: run.id), data: {modal: true})
  %td
    = date_humanize(run.created_at)
  %td
    = run.duration
  %td
    = run.owner
  %td
    - run_state(run.state, run.state_to_string)
  %td