- user_allowed = current_user.is_allowed?('automation:node_install') || current_user.is_allowed?('automation:node_delete')
= render partial: 'automation/shared/nav.html', locals: {pane: 'automations'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"automation-pane"}

    .js-table-params{data: {automation: {page: @pag_params[:automation][:page]}, run: {page: @pag_params[:run][:page]} }}

      %h3
        Available Automations

      - if current_user.is_allowed?('automation:automation_create')
        .toolbar
          .main-buttons
            = link_to "New Automation", plugin('automation').new_automation_path, data: {modal: true}, class: 'btn btn-primary btn-sm'

      .js-table-automations{data: {toggle: 'paginationSpinner'}}
        = render partial: 'table_automations', locals: {automations: @automations}


      %section
        %h3
          Recent Automation Runs

      .js-table-runs{data: {toggle: 'paginationSpinner'}}
        = render partial: 'table_runs_pagination'
