= content_for :title do
  Automation details

.modal-body

  .flashes_area
    = render "automation/shared/flashes.html"

  .row
    .col-md-1.col-xs-2.col-md-offset-11.col-xs-offset-10
      = link_to '#', data: {modal: true}, class: 'btn btn-primary' do
        %i.fa.fa-pencil

  .form-horizontal
    - form_horizontal_static_input('Name', @automation.name)
    - form_horizontal_static_input('Repository', @automation.repository)
    - form_horizontal_static_input('Repository version', @automation.repository_revision)
    - form_horizontal_static_input('Timeout', @automation.timeout)
    - form_horizontal_static_hash('Tags', @automation.tags)
    - form_horizontal_static_input('Type', @automation.type)


    - form_horizontal_static_array('Runlist', @automation.run_list)
    - form_horizontal_static_input('Attributes', @automation.chef_attributes.attributes)
    - form_horizontal_static_input('Log level', @automation.log_level)

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Close
    - else
      = link_to "Close", instances_url(), class: 'btn btn-default'