<!DOCTYPE html>
<html>
<head>
  <title>CostControl</title>
  <%= stylesheet_link_tag    "cost_control/application", media: "all" %>
  <%= javascript_include_tag "cost_control/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
