.bs-callout.bs-callout-info.bs-callout-emphasize
  %h4
    Please note: EC2 Credentials are not created.
  %p
    Click on the button below to create EC2 credentials for this project.
  %br
    - if current_user.is_allowed?('email_service:ec2_credentials_list')
      = button_to "Create EC2 credentials", plugin('email_service').ec2_credentials_path, method: :post, data: { modal: true }, class: 'btn btn-primary'