.bs-callout.bs-callout-info.bs-callout-emphasize
  %h4
    Please note:
  %p
    Two new roles,
    %code
      email_admin
    and
    <code>email_user</code>, are available to manage the email service. From now on you will need either role to be able to access automation.
  %ul
    %li
      %b email_admin:
      email administrator in the project. Can perform any action in the email service.

    %li
      %b email_user:
      email user can send emails, verify identities (domains and email addresses) and manage templates, configsets.
