.bs-callout.bs-callout-info.bs-callout-emphasize
  %h4 SANDBOX state
  %p
    Your account is in sandbox state:
    %ul
      %li You can only send mail to verified email addresses and domains
      %li You can only send mail from verified email addresses and domains
      %li You can send a maximum of 200 messages per 24-hour period
      %li You can send a maximum of 1 message per second
    To get started use this guide: https://documentation.global.cloud.sap/docs/customer/services/email-service/
  %p
    Sandbox will be moved automatically within 72 hours to production state