.configset_table
%table.table
  %thead
    %tr
      %th Name
      %th.snug
  %tbody
    - if !configsets
      %tr
        %td{ colspan: 2 } No configuration set available
    - else
      -@paginatable_configsets.each do | configset |
        = render partial: 'table_configset_item', locals: { configset: configset }
-if @paginatable_configsets
  = paginate @paginatable_configsets, :theme => 'twitter-bootstrap-3', :remote => false
