/ = content_for :title do
/   Show

.modal-body.networking
  #graph

  :javascript
    try {
      new networking.Topology("#graph",#{sanitize(@topology_graph.to_json)}, {details_url: "#{plugin('networking').router_node_details_path(@router.id)}"});                 
    } catch(e) {console.log('Error in Topology',e)}

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", networks_url(), class: 'btn btn-default'
