%ul.nav.nav-tabs
  %li{class: ('active' if pane == 'secrets'), role: "presentation"}= link_to 'Secrets', plugin('key_manager').secrets_path, aria: {controls:"secrets-pane"}, role: "tab"
  %li{class: ('active' if pane == 'containers'), role: "presentation"}= link_to 'Containers', plugin('key_manager').containers_path, aria: {controls:"containers-pane"}, role: "tab"