- flash.each_with_index do |(key,value),index|
  %div{class: "alert alert-#{key.to_s} alert-dismissible word-wrap", 'role' => 'alert', id: "flash_message_#{index}"}
    %button.close{type:'button', data: {dismiss: 'alert'}, "aria-label" => "Close"}
      %span{'aria-hidden' => 'true'}
        &times;
    = value.to_s