.bs-callout.bs-callout-warning.bs-callout-emphasize
  %p
    %b
      Chef business model change
  %p
    Starting with Chef client version 15 commercial license terms are attached to the 
    Apache 2 license of the software distribution (binaries). See 
    %a{href: "https://www.chef.io/pricing/subscription-model-faq", target:"_blank"}
      Chef Enterprise Subscription FAQ
    for more information. Therefore we can only offer Chef client versions older than 15, 
    keeping in mind that those versions have been in “end-of-support” since May 1, 2020 
    and no further bug fixes or security updates will be available without commercial license.

.bs-callout.bs-callout-info.bs-callout-emphasize
  %p
    %b
      GIT Repository Authentication
  %p
    You can now add credentials for git repositories. Credentials on existing 
    = link_to 'automations', automations_path 
    can be updated by choosing "Repository Credentials" from the function menu
    %span.fa.fa-cog
    \.

%ul.nav.nav-tabs
  %li{class: ('active' if pane == 'nodes'), role: "presentation"}= link_to 'Nodes', nodes_path, aria: {controls:"nodes-pane"}, role: "tab"
  %li{class: ('active' if pane == 'automations'), role: "presentation"}= link_to 'Automations', automations_path, aria: {controls:"automations-pane"}, role: "tab"