.bs-callout.bs-callout-info.bs-callout-emphasize
  %h4
    Atention! Automation has introduced policy roles restriction
  %p
    Two new roles,
    %code
      automation_admin
    and
    %code
      automation_viewer
    , are available to manage the automation service.
  %ul
    %li
      %b automation_admin:
      automation administrator in the project. Can perform any action in the automation service:

      %ul
        %li Add and remove Nodes
        %li Update Node tags
        %li Create, update and run Automations
        %li List and show Nodes, Automations, Runs, Jobs and Logs

    %li
      %b automation_viewer:
      automation read-only in the project. Can just list and show Nodes, Automations, Runs, Jobs and Logs.
