.jobs_table
  %table.table
    %thead
      %tr
        %th ID
        %th Agent
        %th Action
        %th Started
        %th Duration
        %th State
    %tbody
      - if jobs.empty?
        %tr
          %td{colspan: 6} No jobs available
      - else
        -jobs.each do | job |
          = render partial: 'automation/shared/table_jobs_item', locals: {job: job}