<!DOCTYPE html>
<html>
<head>
  <title>Identity</title>
  <%= stylesheet_link_tag    "identity/application", media: "all" %>
  <%= javascript_include_tag "identity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
