

-# %iframe{src: "https://ccloudshell.eu-de-2.cloud.sap/", height: 'viewport', width: '100%'}

#webconsole-container{ data: {plugin_name: plugin_name, toolbar: 'on', title: "Web console", buttons: ['help','reload', 'fullscreen'], height: 'viewport'} }