%tr
  %td
    - if current_user.is_allowed?("image:image_get", {})
      = link_to image.name, plugin('image').os_image_path(id: image.id), data: {modal: true, cancel: "Close"}

  %td= image.visibility
  %td= image.status
