%tr
  %td
    - if current_user.is_allowed?("image:image_get", {})
      = link_to image.name, plugin('image').send("os_images_#{@visibility}_path", image.id), data: {modal: true, cancel: "Close"}

  - if @visibility != 'public'
    %td= project_id_and_name(image.owner)

  %td= image.status
