%div{class: modal? ? 'modal-body' : ''}
  = javascript_include_tag "image_app_widget",
    data: { url: plugin('image').root_path,
    project_parent_id: @active_project.parent_id,
    scoped_domain_name: @scoped_domain_name,
    launch_instance_url: plugin('compute').new_instance_path}


%div.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Close
