- if resource.config
  .row
    = render partial: 'resource_name', locals: { resource: resource, scope: 'cloud_admin', overview: overview }
    .col-md-7
      = render partial: 'bar', locals: { resource: resource }

    .col-md-1.quota-details
      = link_to 'Details', plugin('resource_management').cloud_admin_details_path(service: resource.service_type, resource: resource.name, overview: overview), data: { modal: true }, class: 'btn btn-primary btn-sm', title: 'Show usage/quotas per domain'
    .col-md-1.quota-configure
      = link_to 'Configure', plugin('resource_management').cloud_admin_edit_capacity_path(service: resource.service_type, resource: resource.name), data: { modal: true }, class: 'btn btn-default btn-sm', title: 'Manage capacity data'
