.row
  .col-md-2.quota-label.text-muted Resource usage
  .col-md-9= render partial: 'bar', locals: { data: @cloud_status }
.row
  .col-md-2.quota-label.text-muted Quota usage
  .col-md-9= render partial: 'bar', locals: { data: @cloud_status, render_quota: true }
