%table.table.resource-details
  %thead
    %tr
      %th Domain
      %th Approved Quota
      %th Granted to projects
      %th Usage
      %th Edit
  %tbody
    - @domains.each do |domain_status|
      = render partial: 'details_table_row', locals: { domain_status: domain_status }

= paginate @domains, theme: 'twitter-bootstrap-3', remote: true
