%table.table.resource-details{ data: { cluster_id: @cluster_id } }
  %thead
    %tr
      %th.details_table#sortable_name_column
        Domain
        %i.fa.fa-sort-alpha-asc.hide-sort-order
      %th.details_table#quota_column
        Quota
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th.details_table#projects_quota_column
        Granted to projects
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th.details_table#usage_column
        Usage
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th.details_table#burst_usage_column
        Thereof burst
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th Actions
  %tbody
    - @domain_resources.each do |resource|
      = render partial: 'details_table_row', locals: { resource: resource }

= paginate @domain_resources, theme: 'twitter-bootstrap-3', remote: true

= content_for :javascripts do
  :javascript
    #{render partial: 'details_table_script.js', locals: { scope: 'cloud_admin'} }
