.bs-callout.bs-callout-primary
  %p
    These bars show the resource usage across the cloud. The total length of
    each bar indicates the available capacity for the corresponding resource,
    as maintained on the "Settings" tab.
