- if @resources.blank?
  .bs-callout.bs-callout-info
    Nothing to report! Everything is fine.
- else
  - @resources.sort_by { |r| [ r.name, r.config.service.name ] }.each do |res|
    = render partial: 'bar_row', locals: { overview: true, resource: res }

-# commented out because For other non swift quotas the user acting as cloud admin would need an admin role in each and every domain
-# this is right now not possible so we don't want to roll out a feature now to production (in thant case for swift) and than take it 
-# away from the user. First we need more clarity here...
-# data age display needs to always be visible! (if there are no warnings it might be because of outdated data)
=render partial: 'data_age' #, locals: { sync_now_url: plugin('resource_management').cloud_admin_sync_now_path }
