- if level.eql? "overview"
  %li{:role => "presentation", :class => "active"}
    %a{:href => '#'}
      Overview
- else
  %li{:role => "presentation"}
    %a{:href => plugin('resource_management').cloud_admin_path()}
      Overview

- if level.eql? "compute"
  %li{:role => "presentation", :class => "active"}
    %a{:href => '#'}
      Compute
- else
  %li{:role => "presentation"}
    %a{:href => plugin('resource_management').cloud_admin_compute_path()}
      Compute

- if level.eql? "network"
  %li{:role => "presentation", :class => "active"}
    %a{:href => '#'}
      Network
- else
  %li{:role => "presentation"}
    %a{:href => plugin('resource_management').cloud_admin_network_path()}
      Network

- if level.eql? "storage"
  %li{:role => "presentation", :class => "active"}
    %a{:href => '#'}
      Storage
- else
  %li{:role => "presentation"}
    %a{:href => plugin('resource_management').cloud_admin_storage_path()}
      Storage
