=render partial: 'header'
=render partial: 'tabs', locals: { scope: 'cloud_admin', tab: @area.to_s }
=render partial: 'refresh_view_on_modal_close', locals: { url: plugin('resource_management').cloud_admin_area_path(area: @area.to_s) }

.row.quota-row
  .col-md-9#status-bars
    = render partial: 'area_status_bars'
  .col-md-3
    = render partial: 'good_to_know'

- content_for :javascripts do
  :javascript
    $(function() {
      $('[data-toggle=popover]').popover();
    });
