.bs-callout.bs-callout-primary
  %p
    Valid Identifiers vary by Object:
    %table.table.identifiers
      %thead
        %tr
          %th Type
          %th Identifier
          %th Comment
      %tbody
        %tr
          %td Server
          %td UUID
          %td exact match
        %tr
          %td Network
          %td UUID
          %td exact match
        %tr
          %td DNS Record
          %td Name
          %td wildcard, first hit is returned
        %tr
          %td Project
          %td UUID
          %td exact match
