#easy_dkim{class: ('hide' if hide_easy_dkim(@verified_domain.dkim_type))}
  = f.input :next_signing_key_length, required: true, label: "Next Signing Key Length", input_html: {data: {toggle: 'dkimSelect'}}, collection: @rsa_key_length, as: :select, hint: next_signing_key_length_hint, icon_hint: next_signing_key_length_hint