.verified_domain_table
%table.table
  %thead
    %tr
      %th Domain Identity
      %th Verified for Sending
      %th DKIM Type
      %th.snug
  %tbody
    - if !domains || domains.empty?
      %tr
        %td{ colspan: 4 } No verified domain available
    - else
      -@paginatable_domains.each do | item |
        = render partial: 'table_verified_domain_item', locals: { domain_item: item }
-if @paginatable_domains
  = paginate @paginatable_domains, :theme => 'twitter-bootstrap-3', :remote => false
