- identity = domain_item[:identity_name]
- sending_status = domain_item[:verified_for_sending_status]
- verification_status = domain_item[:verification_status]
- dkim_enabled = domain_item[:dkim_enabled]
- dkim_type = domain_item[:dkim_type]

%tr
  %td
    = link_to identity, plugin('email_service').domain_verification_path(id: domain_item[:id], identity_name: identity), data: {modal: true}
  %td
    - if sending_status == true
      %i.fa.far.fa-check-circle
    - elsif sending_status == false
      %a{ href: "#", title: "You need to create a TXT record for your domain. Click on the domain link for more details.", data: { toggle: "tooltip", html: true} }
        %i.fa.far.fa-pause-circle
  %td
    = dkim_type
  %td.snug
    - if current_user.is_allowed?("email_service:verified_domain_delete", {target: { domain_item: domain_item, project: @active_project, scoped_domain_name: @scoped_domain_name}}) or current_user.is_allowed?("email_service:verified_domain_update", {})
      = render partial: 'domain_item_actions', locals: { domain_item: domain_item, show_view: false }