- if nebula_details
  %table.table.table-striped
    %tr
      %td 
        Nebula Status
      %td 
        = nebula_details.status
    %tr
      %td Nebula endpoint
      %td
        = nebula_endpoint_url
- else
  %p Cronus is not enabled on this project.
