=content_for :main_toolbar do
  eMail Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'settings'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"settings-pane"}
    %h3
      Settings
    .row
      .col-sm-9
        %table.table.table-striped
          %tr
            %td AWS Access Key
            %td 
              =@access if @access
          %tr
            %td AWS Secret Key 
            %td
              -# if current_user.is_allowed?('email_service:settings_create')
                -#=@secret if @secret
              -# else 
              XXXXXXX
          %tr
            %td Cronus Endpoint 
            %td 
              =current_user.service_url('email-aws')
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            Here you can find information about Cronus Endpoint and AWS Credentials to interact with cronus programmatically. More information can be found
            = link_to "here", "https://documentation.global.cloud.sap/services/email-overview", :target => "_blank"
            and you can find How-To guides
            = link_to "here", "https://documentation.global.cloud.sap/services/email-howto", :target => "_blank"
            \.