%h3 Cloud Watch Dashboard
%table.table.table-striped
  - if @cloud_watch_client
    %tr
      %td cloud_watch_client
      %td
        =@cloud_watch_client.inspect
  - if @cloud_watch_put_dashboard
    %tr
      %td cloud_watch_put_dashboard
      %td
        =@cloud_watch_put_dashboard

