=content_for :main_toolbar do
  Email Service

.bs-callout.bs-callout-info.bs-callout-emphasize
  %p
    %h4 Welcome to Cronus, Converged Cloud's Email service
  %p
    For your convenience we have made the cronus CLI available in the webshell right here in the dashboard where the necessary credentials are already in place.
  %p
    For more information on the service and how to use it please refer to the
    %a{href: "#{sap_url_for('documentation')}docs/customer/services/email-service/overview", target: "_blank"} Email service documentation.
    Additionally you can use
    %code cronuscli help
    in the web shell below to view the available CLI commands


#webconsole-container{ data: {plugin_name: plugin_name, toolbar: 'on', title: "Web Shell", buttons: ['help','reload', 'fullscreen'], height: 'viewport'} }
