- domain_source_hint = 'Choose a verified domain to send email from'
- name_hint = 'name part of the email address'
#domain-source{class: ('hide' if hide_domain_source(@plain_email.source_type))}
  = f.input :source_domain, required: true, label: "Sender domain", input_html: {data: {toggle: 'sourceDomainSelect'}}, collection: verified_domains_collection, as: :select, icon_hint: domain_source_hint
#domain-source-name{class: ('hide' if hide_domain_source(@plain_email.source_type))}
  = f.input :source_domain_name_part, required: false, label: "name@domain", icon_hint: name_hint