%ul.nav.nav-tabs
  - %w(public private suggested).each do |tab|
    %li{ role: 'presentation', class: tab==current_tab ? 'active' : '' }
      = link_to tab.humanize, tab==current_tab ? '#' : plugin('image').send("os_images_#{tab}_index_path")  
