<!DOCTYPE html>
<html>
<head>
  <title>Maia</title>
  <%= stylesheet_link_tag    "maia/application", media: "all" %>
  <%= javascript_include_tag "maia/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
