.bs-callout.bs-callout-primary
  %p
    These bars show the current resource usage in your project. The total
    length of each bar indicates the quota that you have been granted by your
    domain administrator.
  - if current_user.is_allowed?('resource_management:project_resource_create_request')
    %p
      If you need more resources, you can request a larger quota from your domain administrator.
      - unless @show_package_request_banner or @has_requested_package
        You can also enlarge several quotas at once by requesting a pre-defined quota package.
    - unless @show_package_request_banner or @has_requested_package
      - if current_user.is_allowed?('resource_management:project_resource_create_package_request')
        %p= link_to 'Request quota package', plugin('resource_management').resources_new_package_request_path, class: 'btn btn-default btn-sm', data: {modal: true}
