- if @can_request_package
  - if @has_requested_package
    .bs-callout.bs-callout-warning.bg-warning
      %h4 Quota package requested
      %p Please wait for your domain administrator to approve your initial quota package.
  - else
    .bs-callout.bs-callout-info.bg-info
      %h4 Getting started with your project
      %p Your domain administrator has not approved any quotas for this project yet. To get started quickly, you can request a pre-defined quota package.
      %p= link_to 'Request quota package', plugin('resource_management').resources_new_package_request_path, class: 'btn btn-primary', data: {modal: true, disable_with: 'Requesting...'}
