&ndash;
%span.syncing-message.hidden
  Syncing
  %span.loading
= link_to 'Sync now', "javascript:sync_now()", class: 'sync-now'

- error_message = "Could not complete sync before timeout. Please try again later."
- content_for :javascripts do
  :javascript

     function sync_now_error() {
       $('.sync-now').show();
       $('.syncing-message').hide();
       $('.flashes').append("#{escape_javascript(render partial: 'flash_dismissible', locals: { key: 'warning', value: error_message })}");
     }

     function sync_now() {
      $('.sync-now').hide();
      $('.syncing-message').show().removeClass("hidden");
      $.ajax({
        url: "#{plugin('resource_management').resources_sync_now_path}",
        dataType: 'script',
        error: sync_now_error,
      });
     }

     function sync_now_polling(startTime, retryCounter) {

      $.ajax({
        url: "#{plugin('resource_management').resources_path}",
        data : {
          'if_updated_since': startTime
        },
        success: function(response){
          if(response.sync_running) {
            // poll every 5 seconds 12 times
            if(retryCounter <= 10) {
              window.setTimeout(function(){ sync_now_polling(startTime, retryCounter + 1); }, 5000);
            }
            else {
              sync_now_error();
            }
          }
          else {
            location.reload();
          }
        },
        error: sync_now_error,
      });
    }
