%nav
  %ul.nav.nav-tabs
    - if tab == "overview"
      %li.active{:role => "presentation"}
        = link_to 'Overview', '#'
    - else
      %li{:role => "presentation"}
        = link_to 'Overview', plugin('resource_management').resources_path()

    - list_areas_with_enabled_services.each do |area|
      - area_str = area.to_s
      - if tab == area_str
        %li.active{:role => "presentation"}
          = link_to area_str.humanize, '#'
      - else
        %li{:role => "presentation"}
          = link_to area_str.humanize, plugin('resource_management').resources_area_path(admin: area_str)
