%nav
  %ul{:class => "nav nav-tabs"}
    - if tab.eql? "overview"
      %li{:role => "presentation", :class => "active"}
        %a{:href => '#'}
          Overview
    - else
      %li{:role => "presentation"}
        %a{:href => plugin('resource_management').resources_path()}
          Overview

    - list_areas_with_enabled_services.each do |area|
      - area_str = area.to_s
      - if tab.eql? area_str
        %li{:role => "presentation", :class => "active"}
          %a{:href => '#'}
            = area_str.humanize
      - else
        %li{:role => "presentation"}
          %a{:href => plugin('resource_management').resources_area_path(area_str)}
            = area_str.humanize
