= content_for(:title, "Request more resources for  #{@resource}")
.modal-body
  .container
    
- if modal?
  .modal-footer
    - if modal?
      = link_to 'Send', '#', class: 'btn btn-primary btn-sm'
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
   


