=render partial: 'header'
=render partial: 'tabs', locals: { scope: 'resources', tab: @area.to_s }
=render partial: 'offer_package_request'

.row.quota-row
  .col-md-9#resource_area
    = render partial: 'resource_area'
  .col-md-3
    = render partial: 'good_to_know'

- content_for :javascripts do
  :javascript
    $(function() {
      $('[data-toggle=popover]').popover();
    });
