%section
  .bs-callout.bs-callout-success.bs-callout-emphasize
    %h4
      Your token has been verified successfully. 
    %p
      Please wait a moment as we prepare your session.
    .spinner    

:javascript
  const after_login = "/#{@domain_name}/home";
  // try to get the after_login from the localStorage
  if (localStorage.getItem('after_login')) {
    after_login = localStorage.getItem('after_login');
    localStorage.removeItem('after_login');
  }
  window.location = `/#{@domain_name}/auth/consume-auth-token?domain_name=#{@domain_name}&auth_token=#{@auth_token}&after_login=${after_login}`
