
.container

  - if @error.present?
    %section
      .bs-callout.bs-callout-danger.bs-callout-emphasize
        %h4
          Authentication failed. Please check your credentials and try again.
        - if @details.present?
          %p
            = @details  
      
      %button.btn.btn-primary{type: "button", onclick: "window.location.href = '/'"} Try Again    

  - else 
    %section
      .bs-callout.bs-callout-success.bs-callout-emphasize
        %h4
          Your token has been verified successfully. 
        %p
          Please wait a moment as we prepare your session.
        