<!DOCTYPE html>
<html>
<head>
  <title>SharedFilesystemStorage</title>
  <%= stylesheet_link_tag    "shared_filesystem_storage/application", media: "all" %>
  <%= javascript_include_tag "shared_filesystem_storage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
