.row
  -# render the data age only if there is data
  -if @min_updated_at and @max_updated_at
    .col-md-10.col-md-offset-2.small.text-muted
      Usage data last updated #{data_age_as_string(@min_updated_at, @max_updated_at)}
      -# allow the calling view to embed a "Sync Now" button
      = yield
