- if plugin_available?('resource_management') and current_user and (current_user.is_allowed?('resource_management:cloud_admin_list') or  current_user.is_allowed?('resource_management:domain_admin_list') )

  %h4 Usage and Quotas
  %p
    - if current_user.is_allowed?('resource_management:cloud_admin_list')
      = link_to "Cloud Quotas Admin(X)", plugin('resource_management').cloud_admin_path
      %br
    - if current_user.is_allowed?('resource_management:domain_admin_list')
      = link_to "Domain Quotas Admin(X)", plugin('resource_management').admin_path


    
/ %h4 Usage and Quotas
/ %p
/   = link_to "Quotas(X)", plugin('resource_management').admin_path()
/   %span.label.label-danger Critical
