= render :partial => 'header'
%ul{:class => "nav nav-tabs"}
  = render :partial => 'tabs', :locals => { :tab => 'compute'}

.container
  .row.quota-row
    .col-md-9
      - unless @compute_quotas.nil? or @compute_quotas.blank?
        - @compute_quotas.each do |resource_data|
          = render :partial => 'bar', :locals => { :overview => false,  :data => resource_data }
      - else
        .bs-callout
          No Compute Quotas found!

    .col-md-3
      = render :partial => 'good_to_know'   
