.modal-body
  .container
    .row
      .col-md-5
        %h3 
          Details for #{t(@resource_type)}
          = link_to 'Show compute', plugin('resource_management').send("resources_#{@level}_path".to_sym, domain_id: @scoped_domain_fid, project_id: @scoped_project_id) , class: 'btn btn-primary btn-xs'

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", instances_url(), class: 'btn btn-default'
   


