=render :partial => 'header'
%ul{:class => "nav nav-tabs"}
  = render :partial => 'tabs', :locals => { :tab => 'overview'}

.container
  .row.quota-row
    .col-md-9   
      - if @critical_quotas.blank?
        .bs-callout.bs-callout-info
          Nothing to report! Everything is fine...
      - else
        - @critical_quotas.each do |resource_data|
          = render :partial => 'bar', :locals => { :overview => true, :data => resource_data }
    .col-md-3
      = render :partial => 'good_to_know'      

