.has-help-hint {

  .input-wrapper {
    position: relative;
    padding-right: 36px;
  }

  .help-hint {
    position: absolute;
    font-size: $font-size-small;
    color: $medium-blue;
    top: 3px;
    right: 0;
  }

}

.help-block {
  font-size: $font-size-small;
  .fa {
    margin-right: 5px;
  }
}

.inline-form-buttons {
  text-align: right;
  .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
}