$globa-notifications-section-height: 55;
.has-global-notifications {
  padding-top: #{$globa-notifications-section-height + 92}px;

  .navbar.navbar-sap {
    top: #{$globa-notifications-section-height}px;
  }
  .context-breadcrumb {
    top: #{$globa-notifications-section-height + 51}px;
  }

  .global-notifications {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1029;
    height: #{$globa-notifications-section-height}px;
    overflow-y: auto;

    .notification {
      display: flex;
      align-items: center;

      .notification-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
      }
    }

    .alert {
      margin-bottom: 0;
      padding: 5px 15px;
      height: #{$globa-notifications-section-height}px;
    }
  }
}
