$globa-notifications-section-height: 100;
.has-global-notifications {
  padding-top: #{$globa-notifications-section-height + 92}px;

  .navbar.navbar-sap {
    top: #{$globa-notifications-section-height}px;
  }
  .context-breadcrumb {
    top: #{$globa-notifications-section-height + 51}px;
  }

  .global_notifications {
    background-color: white;
    // padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1029;
    height: #{$globa-notifications-section-height}px;
    overflow-y: scroll;
  }

  .global_notifications {
    .alert {
      margin-bottom: 0;
      height: #{$globa-notifications-section-height}px;
    }
    .carousel .alert {
      padding-left: 70px;
      padding-right: 70px;
    }

    .carousel-control {
      width: 80px;
      background: none;
      color: #090909;
    }
  }
}
