@mixin pie-clearfix() {
  display: inline-block;
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  display: block;
}

@mixin button-variant-outline($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $border;
    border-color: $border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: #fff;
    background-color: $color;
  }
}

@mixin button-variant-outline-negative {
  @include button-variant-outline(#fff, transparent, #fff);

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $medium-blue;
    background-color: #fff;
    border-color: #fff;
  }
}

@mixin container-width-responsive($factor: 1) {
  @media (min-width: $screen-sm-min) {
    width: $container-sm * $factor;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md * $factor;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg * $factor;
  }
}
