// ---------------------------------------------------------------------------------
// Variables based on bootstrap variables
// (can't be in the variables.scss because it is included before bootstrap to be
// able to overwrite bootstrap variables in it)
// ---------------------------------------------------------------------------------

$font-size-medium: ceil(($font-size-base * 1.125));
$context-breadcrumb-font-size: $font-size-medium;
$state-info-bg:         #d9edf7;
$state-info-border:     #bcdff1;
$state-info-text:       #31708f;
$state-warning-bg:      #fcf8e3;
$state-warning-border:  #faf2cc;
$state-warning-text:    #8a6d3b;
$state-success-bg:      #dff0d8;
$state-success-border:  #d0e9c6;
$state-success-text:    #3c763d;
$state-danger-bg:       #f2dede;
$state-danger-border:   #ebcccc;
$state-danger-text:     #a94442;

/* Bootstrap descriptive colors */
$brand-primary: $medium-blue;
$brand-info:    lighten($bright-blue, 10%);
$brand-success: $medium-green;
$brand-warning: lighten($bright-orange, 5%);
$brand-danger:  #e22;



// ---------------------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------------------

@font-face {
    font-family: 'MonsoonIcons';
    src: font-url('MonsoonIcons-Regular.eot'); /* IE9 Compat Modes */
    src: font-url('MonsoonIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    font-url('MonsoonIcons-Regular.woff') format('woff'), /* Modern Browsers */
    font-url('MonsoonIcons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    font-url('MonsoonIcons-Regular.svg#c6b2bb2514051854bf2bababb8772ce0') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}


//
// icons
//
i.dialog-title-icon {
  @include fa-icon;
  @extend .fa;
  @extend .fa-fw;
  margin-right: 5px;

  &.confirm {
    @extend .fa-exclamation-triangle;
  }
  &.info {
    @extend .fa-info-circle;
    color: $help-info-blue;
  }
  &.error {
    @extend .fa-exclamation-triangle;
    color: $alarm-red;
  }

}

span.highlight {
  background-color: $hover-orange;
}

//
// Flashes React
//
.flashes-container {
  &.flashes-react {

  }
}

.role-assignments{
  ul {
    list-style-type: none;
    padding-left: 0;
    label {
      font-weight: normal;
    }
  }
}

// ---------------------------------------------------------------------------
// Collapsible
// ---------------------------------------------------------------------------
.collapsable {
  .collapsable-content {
    overflow: hidden;
    margin-left: 20px;
    height: 100%;
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }

  .collapsable-toggle-button {
    position: absolute;
    // margin-top: $line-height-computed;
    i {
      @include fa-icon;
      @extend .fa;
      @extend .fa-chevron-circle-down;

      /* Firefox */
      -moz-transform: rotate(0deg);
      /* WebKit */
      -webkit-transform: rotate(0deg);
      /* Opera */
      -o-transform: rotate(0deg);
      /* MS IE */
      -ms-transform: rotate(0deg);
      /* Standard */
      transform: rotate(0deg);
      transition: 250ms linear all;
    }
  }

  &.collapsed {
    .collapsable-content {
      max-height: $line-height-computed*2;
      transition: max-height 0.15s ease-out;
    }

    .collapsable-toggle-button i {
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* WebKit */
      -webkit-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* MS IE */
      -ms-transform: rotate(-90deg);
      /* Standard */
      transform: rotate(-90deg);
    }
  }
}
// ---------------------------------------------------------------------------

.input-group-addon {
  &.select-addon {
    padding-top: 4px;
    padding-bottom: 3px;
  }
}

.icon-monsoon {
  font-family: 'MonsoonIcons';
  display: inline-block;
  font-size: 1em;
  font-style: normal;
}

.icon-monsoon-cloud:before {
  content: "\E000"
}



// ---------------------------------------------------------------------------------
// General
// ---------------------------------------------------------------------------------

html {
  /* Needed for sticky footer */
  position: relative;
  min-height: 100%;

  &.flex-layout {
    height: 100%;
  }
}

body {
  padding-top: $navbar-height + $context-breadcrumb-height;
  margin-bottom: $footer-height + $footer-margin-top; // needed for sticky footer

  &.landing, &.onboarding {
    padding-top: $navbar-height;
  }
}

// FLEX LAYOUT /w sticky header and footer
// ---------------------------------------------------------------------------

.flex-layout body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.flex-header-sticky, .flex-footer-sticky {
  flex: 0 0 auto;
}

.flex-body {
  flex: 1 0 auto;
}

// ---------------------------------------------------------------------------

h4 {
  font-family: $font-family-sans-serif-medium;
}

h1, h2, h3, h4, h5, h6 {
  small, .small {
    font-family: $font-family-sans-serif-light;
  }

  &.heading-top {
    margin-top: 0;
  }

  &.heading-whitespace {
    margin-top: $line-height-computed*1.5;
    margin-bottom: $line-height-computed;
  }

  &.action-heading {
    position: relative;
  }

  &.form-heading {
    border-bottom: 1px solid #ccc;
  }

  .header-action {
    font-family: $font-family-sans-serif;
    position: absolute;
    top: 0;
    right: 2px;
    color: #666;
    cursor: pointer;

    &:hover {
      color: $bright-blue;
    }
  }
}

h5, h6 {
  font-weight: bold;
}

.content {

  .nav li {
    background-image: none;
    padding-left: 0;
  }
}

.nav-with-buttons {
  position: relative;

  .nav-main-buttons {
    position: absolute;
    right: 0;
    top: 5px;
  }
}


ul {
  &.content-list {
    padding-left: 0;
    list-style-type: none;

    li {
      background: inline-svg('rounded-square-outline.svg') 0 4px no-repeat;
      padding-left: 19px;
    }
  }

  &.plain-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: $line-height-computed;

    &.plain-list-widespaced {
      li {
        padding-bottom: 8px;
      }
    }
  }
}

.text-copy, .well {
  ul {
    @extend .content-list;
  }
}



.navbar a, a.btn {
  text-decoration: none;
}

abbr[title],
abbr[data-original-title] {
  color: $medium-blue;
}

section {
  padding: $line-height-computed*2 0;
}

.content {
  margin: ($line-height-computed) 0 0 0;
}

.lead {
  font-family: $font-family-sans-serif-light;
}

.avatar {
  margin-right: 6px;
}

.debug-info {
  display: none;
}

.visible {
  display: block;
}

.spinner {
  @include spinner(background rgba(0, 0, 0, 0.2));

  color: $medium-blue;
  margin: 0 5px;
}

.info-text {
  @include opacity(0.45);


  &.info-clickable:hover {
    @include opacity(1);
  }
}

.info-box {
  text-align: right;
  line-height: 1.3;
  max-width: 50%;
}

.scrollable-text {
  @include border-radius;
  background: $input-bg-disabled;
  border: 1px solid #ccc;
  padding: 15px;
  height: 500px;
  overflow-y: scroll;
  &.plain {
    background: none;
    border: none;
  }
  &.error-details-area {
    height: 250px;
  }
}

.text-nobreak {
  white-space: nowrap;
}

.pagination {
  position: relative;
  float: right;

  li {
    background: none;
    padding-left: 0;
  }
}

.can-copy {
  cursor: pointer;
}

.release-state {
  display: none;
  cursor: help;
  font-size: $font-size-base;

  i {
    margin-right: 1px;
  }

  &.release-state-experimental {
    display: inline;
    color: $dark-sapgold;
  }

  &.release-state-tech_preview,
  &.release-state-beta {
    display: inline;
    color: $bright-blue;
  }
}

// style for shared/foreign object in a list
.foreign-object {
  background: #f5f5f5;
  color: #777;
}


// ---------------------------------------------------------------------------------
// Scaffolding
// ---------------------------------------------------------------------------------

.container-xs {
  width: $login-max-width;
  margin: 0 auto;
}

.modal-xl {
  width: $container-lg;
}


// ---------------------------------------------------------------------------------
// Icons
// ---------------------------------------------------------------------------------

.glyphicon-cloud {
  top: 3px;
}

.moo-cloud {
  background: inline-svg('monsoon_logo_flat.svg') 0 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.moo-cloud-white {
  background: inline-svg('monsoon_logo_flat_white.svg') 0 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.moo-cloud-black {
  background: inline-svg('monsoon_logo_flat_black.svg') 0 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.monsoon-cloud-logo {
  background: inline-image('monsoon_cloud.png') 0 0px no-repeat;
  display: inline-block;
  width: 49px;
  height: 43px;
  margin-right: -15px;
}

.jumbotron .moo-cloud-white {
  @include opacity(0.2);
  width: 256px;
  height: 256px;
  background-size: 256px;
  position: absolute;
  top: -20px;
  right: 60px;
}

.fancy-nav-icon {
  @include background-size($font-size-h3);
  width: $font-size-h3;
  font-size: $font-size-h3;
  font-weight: normal;
}

.fa-question-circle {
  color: $help-info-blue;
}

.error-icon {
  color: $alarm-red;
}

.services-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-cloud;
}

.cloud-admin-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-magic;
}

.compute-icon {
  @extend .icon-monsoon;
  @extend .icon-monsoon-cloud;
  @extend .fa-fw;
}

.containers-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-cube;
}

.automation-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-gears;
}

.hana-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-hdd-o;
}

.api-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-code;
}

.access_management-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-lock;
}

.networking-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-sitemap;
}

.storage-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-database;
}

.monitoring-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-area-chart;
}

.project-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-folder-o;
}

.inquiry-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-exchange;
}

.lookup-icon {
  @extend .fa;
  @extend .fa-fw;
  @extend .fa-search;
}

.experimental-icon {
  @extend .fa;
  @extend .fa-flash;
}

.tech_preview-icon {
  @extend .fa;
  @extend .fa-paper-plane-o;
}

.beta-icon {
  @extend .fa;
  @extend .fa-rocket;
}

// ---------------------------------------------------------------------------------
// Buttons
// ---------------------------------------------------------------------------------

.btn-outline {
  @include button-variant-outline($btn-outline-color, $btn-outline-bg, $btn-outline-border);
}

.btn-outline-negative {
  @extend .btn-outline;

  @include button-variant-outline-negative;
}

.btn-plain {
  background-color: #dfdfdf;
  border: 1px solid #ccc;
}

.btn-md {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-medium-vertical, $padding-medium-horizontal, $font-size-large, $line-height-large, $border-radius-base);
}

.btn {
  &.btn-icon-text i {
    margin-right: 5px;
  }

  &.btn-icon-only {
    i {
      margin: 0;
    }
  }

  &.hover-danger:hover {
    @extend .btn-danger;
  }
}


// ---------------------------------------------------------------------------------
// Labels
// ---------------------------------------------------------------------------------

.label-warning-greyscale {
  background-color: $label-warning-greyscale-bg;
}

.label-danger-greyscale {
  background-color: $label-danger-greyscale-bg;
}



// ---------------------------------------------------------------------------------
// Toolbar
// ---------------------------------------------------------------------------------

.toolbar {
  @include pie-clearfix;
  position: relative;
  display: flex;
  color: #666;
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #eee;
  padding: $toolbar-vertical-padding 8px;
  margin-top: $line-height-computed;
  line-height: 34px; // to match input height

  * {
    flex-shrink: 0;
  }

  &.toolbar-aligntop {
    margin-top: 0;
  }

  &.toolbar-bottom {
    margin-top: 0;
    margin-bottom: $line-height-computed * 2.5;
  }

  &.toolbar-inline {
    margin-top: 0;
    margin-bottom: $line-height-computed / 2;
    border-top: 1px solid #eee;
  }

  &.toolbar-fancy {
    background: none;
    border-top: 10px solid $bright-blue;
    padding: 0;
    margin-bottom: 10px;
    color: #333;

    h1, h2, h3, h4, h5, h6 {
      margin-top: $line-height-computed / 2;
      margin-bottom: $line-height-computed / 2;
    }
  }

  label {
    margin: 0 10px 0 0;

    &.radio-inline, &.checkbox-inline {
      margin-right: 2px;
    }
  }

  .inputwrapper {
    margin: 0 10px 0 0;
  }

  .toolbar-input-divider {
    padding: 0 8px;
  }

  .toolbar-container {

  }

  .main-buttons {
    margin-left: auto;
    flex-shrink: 1;

    .input-group {
      width: 320px;
    }
  }

  .input-group-left-button .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn {
    margin: 0 0 0 5px;

    &:first-child {
      margin-left: 0;
    }
  }


  h3, h4 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .radio-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
    margin-top: 11px;
  }

  &.toolbar-with-h {
    .main-buttons {
      top: ($line-height-computed / 2) - 2px;
    }
  }

  .has-feedback.has-feedback-searchable {
    width: 250px;
  }

  .has-feedback-help {
    padding-left: 8px;
    font-size: $font-size-medium;
    line-height: $input-height-base;
  }
}

.toolbar-secondary {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;

  &.searchable-input {
    display: none;

    &.expanded {
      display: block;
    }
  }
}

// ---------------------------------------------------------------------------------
// Navigation
// ---------------------------------------------------------------------------------

.flex-layout .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

// special top of page navbar
.navbar-sap {
  &.navbar-inverse .dropdown-menu > .active > a {
    background: rgba(255, 255, 255, 0.25);
    color: #999;
  }
}

.nav-highlight {
  background: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding-left: 80px;
  color: #555;
}

#navbar-login-btn {
  @extend .btn;
  @extend .btn-info;
  padding-top: 3px;
  padding-bottom: 2px;
  top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
}

.navbar-identity {
  .avatar {
    margin-top: -5px;
  }
}

.navbar-inverse {

  .dropdown-menu {
    background-color: $inverse-dropdown-bg;

    .divider {
      @include nav-divider($inverse-dropdown-divider-bg);
    }

    > li > a {
      color: $inverse-dropdown-link-color;

      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
      }
    }

  }

}

.navbar-login {
  max-width: $login-max-width;
  margin: 0 auto;
}

.fancy-nav {
  @include column-count(2);
  padding-left: 0;
  margin-top: $line-height-computed;


  a {
    padding-left: 0;
  }

  > li {
    @include column-break(inside, avoid);
    padding-left: $grid-gutter-width * 1.4;
  }

  ul {
    list-style-type: none;
    padding: 0 0 $line-height-computed 0;
  }

  .fancy-nav-header {
    @include column-break(after, avoid);
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: $line-height-computed / 4;

    > span {
      font-weight: bold;

      &.fancy-nav-icon {
        font-size: $font-size-h3;
        font-weight: normal;
      }
    }

    .fancy-nav-icon {
      position: absolute;
      left: 0;
      color: $bright-blue;
    }

    a.active {
      background: inline-svg("angle-right-outline.svg") 0 4px no-repeat;
      padding-left: 12px;
      text-decoration: underline;
    }
  }
}

.nav-tabs {
  margin-bottom: $line-height-computed;
}



// ---------------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------------

.logo {
  background: inline-svg("sap-logo.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: $navbar-padding-vertical - 5px;
  left: $grid-gutter-width / 2;
  height: 30px;
  width: 62px;
}



// ---------------------------------------------------------------------------------
// Footer
// ---------------------------------------------------------------------------------

footer, .footer {
  @include pie-clearfix;
  background: #e9e9e9;
  margin-top: $footer-margin-top;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}

.flex-footer-sticky .footer {
  position: static;
  height: auto;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    color: #555;
  }
}


// ---------------------------------------------------------------------------------
// Breadcrumb
// ---------------------------------------------------------------------------------

.breadcrumb {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;

  > li {

    > a {
      color: #333;
    }

    &.active > a {
      color: $breadcrumb-active-color;
    }
  }

  & > li + li:before {
    padding: 0 10px 0 14px;
  }

}

.context-breadcrumb {
  @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 5px);
  @include pie-clearfix;
  background: $context-breadcrumb-bg;
  border-bottom: 1px solid #ddd;
  height: $context-breadcrumb-height;
  position: fixed;
  top: $navbar-height + 1;
  left: 0;
  right: 0;
  z-index: 1029;

  // Setup for megaflyout so that it can be positioned relative to the container rather than the dropdown parent
  .context-container {
    position: relative;
    display: flex;


    .dropdown-mega {
      position: static;
    }
  }

  .special-crumb {
    margin-left: auto;
    display: flex;
    align-items: center;

    > * {
      margin-left: 8px;
    }

    .context-list {
      margin-left: $context-breadcrumb-padding-horizontal;
    }
  }

  .universal-search-input {
    input {
      height: 26px;
      background-color: #efefef;
      width: 260px;
      padding-left: 10px;
      padding-right: 30px;
    }

    .form-control-feedback {
      line-height: 26px;
      height: 26px;
    }
  }

  .solo-icon-link {
    display: block;
    float: left;
    padding: ($context-breadcrumb-height - $font-size-small*2)/2 0;

    &:hover, &.active {
      .fa-stack-2x {
        @include opacity(0.8);
      }
    }

    .fa-stack {
      font-size: $font-size-small;
    }

    .fa-stack-2x {
      @include opacity(0.3);
      color: #000;
    }

    .fa-inverse {
      color: #fff;
    }

  }

  .context-list {
    @include pie-clearfix;
    list-style-type: none;
    margin-left: -$context-breadcrumb-padding-horizontal;
    margin-right: $context-breadcrumb-padding-horizontal;
    margin-bottom: 0;
    padding: 0;

    > li {
      border-right: 1px solid rgba(51, 51, 51, 0.4);
      display: block;
      font-size: $context-breadcrumb-font-size;
      position: relative;
      float: left;
      padding: 0 0 0 $context-breadcrumb-padding-horizontal;

      &.context-admin {
        background: rgba(255, 255, 255, 0.2);
        border-right: none;

        > .dropdown-menu {
          right: -1px;
          left: auto;
        }
      }

      &.open, &:hover {
        background-color: $dropdown-bg;
        border-color: $dropdown-border;
      }

      .fa, .icon-monsoon {
        margin-right: 5px;

        &.icon-link {
          margin-right: 0;
        }
      }

      > .dropdown-menu {
        @include border-top-radius(0);
        left: -1px;
        border-top: none;
        margin-top: 0;
      }

      > .fancy-nav {
        @extend .dropdown-menu; // extend TWBS dropdown-menu class

        // Megaflyout (full-width, requires context-container wrapper)
        @include container-width-responsive;
        @include column-count(3);

        left: -1px;
        padding: $line-height-computed 0;



        > li {
          padding-left: $grid-gutter-width * 1.5;
        }


        .fancy-nav-header {
          > span {
            font-size: $font-size-base;

            &.fancy-nav-icon {
              @include background-size($font-size-medium);
              font-size: $font-size-medium;
              left: $grid-gutter-width / 2;
              width: $font-size-medium;
            }
          }
        }
      }


      > a {
        color: #333;
        display: inline-block;
        padding: (($context-breadcrumb-height - ($context-breadcrumb-font-size - $font-size-base) - $line-height-computed) / 2) 0; // to calculate the correct padding subtract from the total height the actual line-height (computed + adjustment for font size (if other than base size)), then divide by 2
        padding-right: $context-breadcrumb-padding-horizontal;

        &:active, &:focus {
          text-decoration: none;
        }
      }
    }
  }

  &.context-breadcrumb-fancy {
    background: $context-breadcrumb-fancy-bg;

    .context-list {
      > li {
        border-right-color: rgba(255, 255, 255, 0.4);

        &.open, &:hover {
          > .glyphicon {
            color: #333;
          }
          > a {
            color: #333;
          }
        }

        > .glyphicon {
          color: #fff;
        }

        > a {
          color: #fff;
        }
      }
    }
  }
}

// ---------------------------------------------------------------------------------
// Main Toolbar Mega Nav
// ---------------------------------------------------------------------------------

.mega-nav-responsive {
  background: linear-gradient(darken(#f5f5f5, 5%), #f5f5f5);
  z-index: 1029;

  .container {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .mega-nav-items {
    display: flex;
    flex-wrap: wrap;

  }

  ul.mega-nav-block {
    padding-left: 0;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    padding-right: 25px;

    a {
      color: #333;
      font-size: $font-size-small;
      padding-bottom: 5px;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
        border-bottom: 2px solid #555;
      }

      &.active {
        border-bottom: 2px solid $medium-blue;
        text-decoration: none;

        &:hover {
          border-color: $medium-blue;
        }

      }
    }
  }

  .mega-nav-utils {
    margin-left: auto;
    display: flex;
  }

  .has-feedback.has-feedback-searchable {
    width: 250px;
  }

  @media (min-width: 1700px) { }

}


// ---------------------------------------------------------------------------------
// Main Toolbar
// ---------------------------------------------------------------------------------

.main-toolbar {
  // border-bottom: 1px solid $bright-blue;
  padding: $line-height-computed;

  h1 {
    position: relative;
    margin: 0;
    font-size: $font-size-h2;

    .info-box {
      position: absolute;
      top: 0;
      right: 0;
    }

    .small {
      font-size: 45%;
      a {
        color: #888;

        &.help-link {
          &:hover, &:active, &:focus {
            color: $link-color;
            text-decoration: none;
          }
        }
      }
    }

    .page-title {
      font-family: $font-family-sans-serif-light;
      padding-top: $line-height-computed / 3;

      .fa {
        @include opacity(0.8);
      }

      a {
        color: #333;
      }
    }
  }
}


// ---------------------------------------------------------------------------------
// Alerts
// ---------------------------------------------------------------------------------

.alert {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.alert-error, .alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.alert a {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}


.alert-extended {
  padding: 0;

  hr {
    margin: 0;
  }

  .alert-body {
    padding: $alert-padding;
  }
  .alert-footer {
    @include opacity(0.8);
    padding: 5px $alert-padding;
    font-size: $font-size-small;
  }
}

// ---------------------------------------------------------------------------------
// Callouts / Blockouts
// ---------------------------------------------------------------------------------

.bs-callout {
  padding: 20px;
  margin: 0 0 $line-height-computed;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  p {
    @include pie-clearfix;
  }

  .callout-footer {
    border-top: 1px solid #eee;
    padding-top: 5px;
  }

  &.bs-callout-emphasize {
     background: #f9f9f9;
  }

  &.bs-callout-primary {
    border-left-color: $btn-primary-border;

    .btn {
      @extend .btn-primary;

      &.btn-default {
        @extend .btn-default;
      }
    }

    .fa {
      color: $brand-primary;
    }

    a {
      color: darken($brand-primary, 10);
    }
  }

  &.bs-callout-info {
    border-left-color: $btn-info-border;

    &.bs-callout-emphasize {
      border-color: $emphasize-info-border-color;
      border-left-color: $bright-blue;
      background: lighten($alert-info-bg, 5);
    }

    .btn {
      @extend .btn-info;

      &.btn-default {
        @extend .btn-default;
      }
    }

    .fa {
      color: $bright-blue;
    }
  }

  &.bs-callout-success {
    border-left-color: $btn-success-border;

    &.bs-callout-emphasize {
      background: lighten($alert-success-bg, 5);
    }

    .btn {
      @extend .btn-success;

      &.btn-default {
        @extend .btn-default;
      }
    }

    .fa {
      color: $brand-success;
    }

    a {
      color: darken($brand-success, 10);
    }
  }

  &.bs-callout-warning {
    border-left-color: $btn-warning-border;

    &.bs-callout-emphasize {
      background: lighten($alert-warning-bg, 2);
    }

    .btn {
      @extend .btn-warning;

      &.btn-default {
        @extend .btn-default;
      }
    }

    .fa {
      color: $brand-warning;
    }

    a {
      color: darken($brand-warning, 10);
    }
  }

  &.bs-callout-danger {
    border-left-color: $btn-danger-border;

    &.bs-callout-emphasize {
      background: lighten($alert-danger-bg, 5);
    }

    .btn {
      @extend .btn-danger;

      &.btn-default {
        @extend .btn-default;
      }
    }

    .fa {
      color: $brand-danger;
    }

    a, h1,h2,h3,h4,h5,h6  {
      color: darken($brand-danger, 10);
    }

  }



  table {
    margin-bottom: 0;
  }

}

blockquote, .bs-callout {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

// ---------------------------------------------------------------------------------
// Infobox
// ---------------------------------------------------------------------------------

.infobox {
  border-top: 10px solid $bright-blue;

  hr {
    margin: 0;
    margin-bottom: 8px;
  }
  .table {
    th, td {


      &:first-child {
        padding-left: 0;
      }
    }
  }
}

// ---------------------------------------------------------------------------------
// Jumbotron
// ---------------------------------------------------------------------------------

.jumbotron-fancy {
  background: $medium-blue;
  background: linear-gradient($deep-blue, $bright-blue);
  color: rgba(255, 255, 255, 0.8);
  font-family: $font-family-sans-serif-light;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

.jumbotron-plain {
  padding: $line-height-computed*1.5 $line-height-computed $line-height-computed $line-height-computed;

  h1 {
    font-size: $font-size-h1;
    margin-top: 0;
    margin-bottom: $line-height-computed;
  }

  p {
    font-size: $font-size-base;
  }
}

// ---------------------------------------------------------------------------------
// Hero Elements
// ---------------------------------------------------------------------------------

.hero-info {
  margin-bottom: $line-height-computed;

  .info-stat {
    font-size: $font-size-h1;
  }

  .info-stat-text {
    @include opacity(0.7);
    font-size: $font-size-small;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
}

.jumbotron .hero-info .info-stat {
  color: #fff;
}

// ---------------------------------------------------------------------------------
// Text Transformation
// ---------------------------------------------------------------------------------
.capitalize {
  text-transform:capitalize;
}


// ---------------------------------------------------------------------------------
// Tables
// ---------------------------------------------------------------------------------

.datatable {
  margin-top: $line-height-computed * 2;
}

div, td, th {
  &.actions {
    width: 12%
  }

  &.snug {
    width: 1px;
  }

  &.snug-nowrap {
    @extend .snug;
    white-space: nowrap;
  }

  &.big-data-cell {
    word-break: break-all;
    word-break: break-word;
  }

  &.user-name-cell {
    @extend .big-data-cell;
    width: 252px;

    .info-text {
      font-family: monospace;
      font-size: $font-size-small;
    }
  }
}

.title-row {
  th,td {
    background-color: #efefef;
  }
}

.table.no-borders {
  td, th {
    border: none;
  }
}

table.table-select tbody tr {
  td {
    a {
      display: block;
    }

    &:hover {
      background-color: $hover-light-blue;
    }

    &.active {
      background-color: $bright-blue;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}

tr.deleting, tr.updating {

  td:first-child {
    &:before {
      content: " ";
      @include spinner(background rgba(0, 0, 0, 0.2));
      margin-right: 3px;
    }
  }

  td {
    color: #999;
    background-color: #efefef;
  }

  .btn {
    .glyphicon {
      @include spinner(background rgba(0, 0, 0, 0.2));

      &:before {
        content: "";
      }

    }
  }
  .state-error-icon, .state-suspended-icon, .state-paused-icon,
  .state-locked-icon, .state-shutoff-icon {
    display: none;
  }
}

.table > tbody > tr.details > td {
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  border-top: none;
  background: #f5f5f5;

  table {
    background: none;
  }
}

.state-locked-icon {
  &:before {
    @include fa-icon;
    @extend .fa;
    @extend .fa-fw;
    @extend .fa-lock;
    color: $alarm-red;
  }
}

// .state-active-icon {
//   &:before {
//     @include fa-icon;
//     @extend .fa;
//     @extend .fa-fw;
//     @extend .fa-power-off;
//     color: $medium-green;
//   }
// }

.state-shutoff-icon {
  &:before {
    @include fa-icon;
    @extend .fa;
    @extend .fa-fw;
    @extend .fa-power-off;
    color: $medium-gray;
  }
}

.state-suspended-icon, .state-paused-icon {
  &:before {
    @include fa-icon;
    @extend .fa;
    @extend .fa-fw;
    @extend .fa-power-off;
    color: $medium-gray;
  }
}

.state-error-icon {
  &:before {
    @include fa-icon;
    @extend .fa;
    @extend .fa-fw;
    @extend .fa-exclamation-triangle;
    color: $alarm-red;
  }
}

tr.state-active {
  td:first-child {
  }
}

tr.state-shutoff {
  &:not(.deleting):not(.updating) {
    td:first-child {
      @extend .state-shutoff-icon;
    }
  }
}

tr.state-error {
  &:not(.deleting):not(.updating) {
    td:first-child {
      @extend .state-error-icon;
    }
  }
}

tr.state-locked {
  &:not(.deleting):not(.updating) {
    td:first-child {
      @extend .state-locked-icon;
    }
  }
}

tr.task-state {
  background-color: #ffffb5;
  .btn {
    .glyphicon {
      @include spinner(background rgba(0, 0, 0, 0.2));

      &:before {
        content: "";
      }

    }
  }
}


// DATATABLES

.data-tabular-display {
  display: table;
}

.data-tabular-row {
  display: table-row;
}

.data-tabular-cell {
  display: table-cell;
  padding-right: 8px;
  word-break: break-word;

  &.label-cell {
    min-width: 100px;
  }
}

// >> Fancy Table <<

.table-fancy {
  table-layout: fixed;
  margin: $line-height-computed*2 0;

  thead {
    tr {
      background: linear-gradient($medium-blue, $bright-blue);
    }

    th {
      color: #fff;
      font-size: $font-size-medium;
    }
  }

  td {
    background: #f9f9f9;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      background: inline-svg('rounded-square-outline.svg') 0 1px no-repeat;
      padding-left: 22px;
    }
  }

}

.loading {
  &:before {
    content: " ";
    @include spinner(background rgba(0, 0, 0, 0.2));
    margin-right: 3px;
  }
}

.btn-primary.loading {
  &:before {
    content: " ";
    @include spinner(border-color #efefef, background rgba(0, 0, 0, 0.2));
    margin-right: 0.5em;
  }
}

.modal-body {
  .loading-spinner {
    position: relative;
    left: 50%;
    margin-left: -3em;
    @include spinner(6em);
  }
  .loading-text {
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
    left: 50%;
    margin-left: -2.5em;
  }
}

.modal-footer .token {
  text-align: left;
}




// ---------------------------------------------------------------------------------
// Lists
// ---------------------------------------------------------------------------------

.fancy-list {
  @include pie-clearfix;
  @extend .row;
  padding-left: 0;
  margin-top: $line-height-computed * 3;
  list-style-type: none;

  > li {
    @include make-md-column(4);
    background: none;
    height: $line-height-computed * 5;
    position: relative;
    padding-left: $font-size-large * 1.5 + $grid-gutter-width * 1.25;
    margin-bottom: $line-height-computed;
    overflow: hidden;
    text-overflow: ellipsis;

    .fancy-icon {
      position: absolute;
      top: 0;
      left: $grid-gutter-width / 2;
      color: $bright-blue;
      font-size: $font-size-large * 1.5;
      line-height: 1.2;
    }

    .fancy-header {
      margin-top: 2px;
      margin-bottom: 3px;
      font-weight: bold;
    }

  }

  &.fancy-list-2col {
    > li {
      @include make-md-column(6);
      padding-left: $font-size-large * 1.5 + $grid-gutter-width * 1.25;

    }
  }

  &.fancy-list-2col-indented {
    > li {
      @include make-md-column(5);
      padding-left: $font-size-large * 1.5 + $grid-gutter-width * 1.25;

    }
  }

  &.fancy-list-xl-height {
    > li {
      height: $line-height-computed * 12;
    }
  }
}


// ---------------------------------------------------------------------------------
// Tree
// ---------------------------------------------------------------------------------

.tree-expandable {
  & {
    columns: 280px 3;
  }

  &, ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    @extend .u-text-break-word;
    position: relative;
    padding-left: 19px;
    break-inside: avoid;

    a, span {
      display: inline-block;
      padding-bottom: 8px;
    }

    .icon-square-outline {
      stroke: #ddd;
    }

    > .node-icon {
      position: absolute;
      left: 0;
      background: inline-svg('rounded-square-outline-grey.svg') 0 5px no-repeat;
      cursor: pointer;
      height: 16px;
      width: 19px;
      padding-left: 19px;

    }


    &.has-children {

      > .node-icon {
        background-image: inline-svg('angle-right-outline.svg');
        background-position: 2px 4px;

      }

      > ul {
        display: none;
      }


      &.node-expanded {
        > .node-icon {
          background-image: inline-svg('angle-down-outline.svg');
          background-position: 0 8px;
        }

        > ul {
          display: block;
        }
      }

    }
  }
}

.projects-tree {

  .tree {
    margin-top: ($line-height-computed / 2);
  }
}



// ------------------------------------
// Searchable
// ------------------------------------
.searchable.search-mode {

  a {
    color: #ccc;
  }

  &.show-only-matches {
    li {
      display: none;

      &.search-result {
        display: block;
      }
    }
  }

  .search-result {
    color: #333;

    > a {
      color: $link-color;
    }
  }

  li.has-search-result ul  {
    display: block;
  }
}

.form-control-feedback.not-empty {
  cursor: pointer;
  pointer-events: all;
}

[data-trigger="show-searchable-search"] {
  &.active {
    color: #ddd;

    &:hover {
      color: #333;
    }
  }
}


table.searchable.search-mode {
  tr {
    display: none;
    a {
      color: #333;
    }
    &.search-result {
      display: table-row;
    }
  }

  // ensure table head is always shown
  thead tr {
    display: table-row;
  }
}




// ------------------------------------
// Pagination
// ------------------------------------

.ajax-paginate {
  @include pie-clearfix;

  .main-buttons {
    float: right;
  }

  .btn {
    margin-left: 8px;
  }
}


// ---------------------------------------------------------------------------------
// Forms
// ---------------------------------------------------------------------------------

.form-inline {
  .form-group {
    margin-right: 3px;
  }

  label {
    margin-right: 8px;
  }

  &.form-inline-flex {
    display: flex;
    justify-content: space-between;

    label {
      margin-right: 8px;
    }

    .form-group {
      flex: 1 1 auto;
      margin-left: 15px;
    }

    .btn {
      margin-left: 8px;
    }
  }
}

i.confirm-icon {
  color: orange;
  margin-right: 5px;
}
.confirm-term input {
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
}

label {
  input[type='checkbox'], input[type='radio'] {
    margin-right: 4px;
  }
}

.inline-form {
  display: table;

  .form-group {
    margin: 0;
  }
}

.inline-form-cell, .inline-form-button {
  display: table-cell;
}

.inline-form-button {
  padding-left: 5px;
  width: 1%;
}

.dynamic-form-target {
  display: none;
  &.visible {
    display: block;
  }
}

.form-readonly {
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include box-shadow(none);
    background: #fff;
    border: none;
    padding: 0;
    height: auto;
  }
}

// ------------------------------------
// User Feedback
// ------------------------------------

#wish-text {
  color: #777;
}

#wish-value {
  background: none;
  border: none;
  border-bottom: 1px dashed #999;
  padding-left: 3px;
  width: 180px;

  &:focus {
    background: #fff;
  }
}

// ---------------------------------------------------------------------------------
// Interactive
// ---------------------------------------------------------------------------------

.js-target-hiddenform {
  display: none;
}


// ---------------------------------------------------------------------------------
// DEV: News
// ---------------------------------------------------------------------------------

.news {
  .new {
    margin-bottom: $line-height-computed * 3;

    h1, h2, h3, h4, h5, h6 {
      margin-top: $line-height-computed * 1.5;
    }
  }

  .author-title {
    font-weight: bold;
    border-bottom: 2px solid $bright-blue;
    margin: $line-height-computed 0;
  }
}

// ---------------------------------------------------------------------------------
// DEV: Token Info
// ---------------------------------------------------------------------------------

.token-info {
  position: absolute;
  right: 5px;
  top: -25px;
  color: #ccc;

  &.two-factor-info {
    top: -45px;
  }
}


// ---------------------------------------------------------------------------------
// Help
// ---------------------------------------------------------------------------------

.plugin-help {
  position: relative;
  display: none;

  &.visible {
    display: block;
  }

  .close-button {
    @include opacity(0.75);
    position: absolute;
    right: 7px;
    top: 2px;

    &:hover {
      text-decoration: none;
    }
  }

  .plugin-help-text {
    @extend .col-sm-9;
    border-right: 1px solid $emphasize-info-border-color;
  }

  .plugin-help-links {
    @extend .col-sm-3;

    ul {
      @extend .content-list;
    }
  }
}


// ---------------------------------------------------------------------------------
// jQuery Autocomplete
// ---------------------------------------------------------------------------------
.ui-autocomplete {
  @include border-radius(5px);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.list-group {
  &.borderless {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

// --------------------------------------------------------------------------------------
// Bootstrap Accordion
// --------------------------------------------------------------------------------------

.panel-group.smooth-accordion  > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group.smooth-accordion  {

  .panel {
    margin-top: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .panel-collapse .panel-body {
    border-top: none;
  }
  .panel-heading {
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
    background: transparent;
  }

  .panel-title a {
    display: block;
    color: #008fcc;
    padding: 15px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    background: transparent;

    &.collapsed {
      color: #888888;
      background-color: #f9f9f9;
    }

    &:focus, &:hover  {
      text-decoration: none;
    }
  }

  .panel-body {
    background: #fff;
  }

  .panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
  }

  .panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
  }

  .panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
  }

  .panel-collapse > .panel-body {
     border-top-color: none;
  }

  /* #bs-collapse icon scale option */

  .panel-heading a:before {
    content: "\f138";
    font-size: 20px;
    color: #008fcc;
    position: absolute;
    font-family: 'FontAwesome';
    right: 10px;
    top: 10px;
    transform: rotate(90deg);
    transition: all 0.5s;
  }

  .panel-heading a.collapsed:before {
    transition: all 0.5s;
    transform: rotate(0deg);
    color: #888888;
  }
}



// --------------------------------------------------------------------------------------
// Domain specific styling (only for danger domains)
// --------------------------------------------------------------------------------------

.ccadmin {
  .context-breadcrumb.context-breadcrumb-fancy {
    background: $context-breadcrumb-fancy-bg-danger;
  }
}


// ---------------------------------------------------------------------------------
// Utilities
// ---------------------------------------------------------------------------------


.u-margin-top-small {
  margin-top: 8px;
}

.u-margin-top-normal {
  margin-top: $line-height-computed;
}

.u-margin-top-large {
  margin-top: $line-height-computed*2;
}

.u-clearfix {
  @include pie-clearfix;
}

.u-text-monospace {
  font-family: monospace;
}

.u-text-small {
  font-size: $font-size-small;
}

.u-flex-container {
  display: flex;
  align-items: center;
}

.u-flex-pos-right {
  margin-left: auto;
}

.u-text-remove-highlight {
  background-color: #ddd;
  text-decoration: line-through;
}

.u-text-icon-left-margin {
  margin-left: 5px;
}

.u-text-break-word {
  word-break: break-all;
  word-break: break-word;
}

.u-nowrap {
  white-space: nowrap;
}
