// ---------------------------------------------------------------------------------
// General
// ---------------------------------------------------------------------------------

html {
  /* Needed for sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $navbar-height + $context-breadcrumb-height;
  margin-bottom: $footer-height + $footer-margin-top;

  &.services, &.users, &.projects, &.credentials {
    padding-top: $navbar-height;
  }
}

h1, h2, h3, h4, h5, h6 {
  small, .small {
    font-family: $font-family-sap-light;
  }
}

section {
  padding: $line-height-computed*2 0;
}

.content {
  margin: ($line-height-computed) 0 0 0;
}

.lead {
  font-family: $font-family-sap-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.avatar {
  margin-right: 6px;
}

.debug-info {
  display: none;
}

.visible {
  display: block;
}

.scrollable-text {
  @include border-radius;
  background: $input-bg-disabled;
  border: 1px solid #ccc;
  padding: 15px;
  height: 500px;
  overflow-y: scroll;
}

.text-nobreak {
  white-space: nowrap;
}



// ---------------------------------------------------------------------------------
// Scaffolding
// ---------------------------------------------------------------------------------

.container-xs {
  width: $login-max-width;
  margin: 0 auto;
}



// ---------------------------------------------------------------------------------
// Buttons
// ---------------------------------------------------------------------------------

.btn-outline {
  @include button-variant-outline($btn-outline-color, $btn-outline-bg, $btn-outline-border);
}

.btn-outline-negative {
  @extend .btn-outline;

  @include button-variant-outline-negative;
}

.btn-md {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-medium-vertical, $padding-medium-horizontal, $font-size-large, $line-height-large, $border-radius-base);
}


// ---------------------------------------------------------------------------------
// Toolbar
// ---------------------------------------------------------------------------------

.toolbar {
  @include pie-clearfix;
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #eee;
  padding: 5px 8px;
  margin-top: $line-height-computed * 2.5;

  &.toolbar-bottom {
    margin-top: 0;
    margin-bottom: $line-height-computed * 2.5;
  }

  .btn {
    @extend .btn-sm;
  }

  .btn-primary {
    float: right;
  }
}



// ---------------------------------------------------------------------------------
// Navigation
// ---------------------------------------------------------------------------------


.nav-highlight {
  background: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding-left: 80px;
  color: #555;
}

.navbar-identity {
  .avatar {
    margin-top: -5px;
  }
}

.navbar-inverse {

  .dropdown-menu {
    background-color: $inverse-dropdown-bg;

    .divider {
      @include nav-divider($inverse-dropdown-divider-bg);
    }

    > li > a {
      color: $inverse-dropdown-link-color;

      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
      }
    }

  }

}

.navbar-login {
  max-width: $login-max-width;
  margin: 0 auto;
}


// ---------------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------------

.logo {
  background: inline-image("sap-logo.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: $navbar-padding-vertical - 5px;
  left: $grid-gutter-width / 2;
  height: 30px;
  width: 62px;
}

.navbar-sap {
  // border-bottom: 10px solid $sapgold;
}



// ---------------------------------------------------------------------------------
// Footer
// ---------------------------------------------------------------------------------

footer, .footer {
  @include pie-clearfix;
  background: #e9e9e9;
  margin-top: $footer-margin-top;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}


// ---------------------------------------------------------------------------------
// Breadcrumb
// ---------------------------------------------------------------------------------


.breadcrumb {
  margin-top: 20px;
  margin-bottom: 50px;

  > li {

    > a {
      color: #333;
    }

    &.active > a {
      color: $breadcrumb-active-color;
    }
  }

  & > li + li:before {
    padding: 0 10px 0 14px;
  }

}

.context-breadcrumb {
  @include box-shadow(rgba(0,0,0,0.2) 0 1px 5px);
  background: $context-breadcrumb-bg;
  border-bottom: 1px solid #ddd;
  height: $context-breadcrumb-height;
  position: fixed;
  top: $navbar-height + 1;
  left: 0;
  right: 0;
  z-index: 1029;

  .glyphicon {
    @include opacity(0.85);
    margin-right: 1px;
  }

  .context-list {
    @include pie-clearfix;
    list-style-type: none;
    margin-left: -$context-breadcrumb-padding-horizontal;
    padding: 0;

    > li {
      border-left: 1px solid $context-breadcrumb-bg;
      display: block;
      position: relative;
      float: left;
      padding: 0 $context-breadcrumb-padding-horizontal;

      &.open {
        background-color: $dropdown-bg;
        border-color: $dropdown-border;
      }

      > .dropdown-menu {
        @include border-top-radius(0);
        left: -1px;
        border-top: none;
        margin-top: 0;
      }

      > a {
        display: inline-block;
        padding: (($context-breadcrumb-height - 1px - $line-height-computed) / 2) 0;
      }
    }
  }
}


// ---------------------------------------------------------------------------------
// Alerts
// ---------------------------------------------------------------------------------



.alert-error, .alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

// ---------------------------------------------------------------------------------
// Jumbotron
// ---------------------------------------------------------------------------------

.jumbotron {
  background: linear-gradient($deep-blue, $bright-blue);
  color: rgba(255, 255, 255, 0.8);
  font-family: $font-family-sap-light;


}



// ---------------------------------------------------------------------------------
// Tables
// ---------------------------------------------------------------------------------

.datatable {
  margin-top: $line-height-computed * 2;
}

td, th {
  &.snug {
    width: 1px;
  }
}

.data-tabular-display {
  display: table;
}

.data-tabular-row {
  display: table-row;
}

.data-tabular-cell {
  display: table-cell;
  padding-right: 8px;
  word-break: break-word;
}


table tr.deleting {
  td {
    color: #aaa;
  }
}


// ---------------------------------------------------------------------------------
// Forms
// ---------------------------------------------------------------------------------

input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
}


.inline-form {
  display: table;

  .form-group {
    margin: 0;
  }
}

.inline-form-cell, .inline-form-button {
  display: table-cell;
}

.inline-form-button {
  padding-left: 5px;
  width: 1%;
}

.dynamic-form-target {
  display: none;
  &.visible {
    display: block;
  }
}


// ---------------------------------------------------------------------------------
// Interactive
// ---------------------------------------------------------------------------------

.js-target-hiddenform {
  display: none;
}
