.css-transition-fade-enter {
  opacity: 0.01;
}

.css-transition-fade-enter.css-transition-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.css-transition-fade-leave {
  opacity: 1;
}

.css-transition-fade-leave.css-transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
