.topology-tooltip {
  position: absolute;
  text-align: center;
  min-width: 100px;
  min-height: 30px;
  padding: 2px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
