// Worldmap styles
#worldmap {
  path {
    stroke-width: 0.5px;
    stroke: white;
    fill: $bright-blue;
  }

  .worldmap-city {
    fill: lighten($light-sapgold, 20);
    stroke: #666;
    cursor: pointer;

    &.active {
      cursor: crosshair;
      fill: $light-sapgold;
      stroke: #333;
    }

    &.notavailable {
      cursor: crosshair;
      fill: #eee;
      stroke: #666;

      &.cominglater {
        fill: #fefefe;
        stroke: #777;
      }
    }
  }
}


#worldmap-city-info {
  display: none;
}
