%div#custom-metadata
  - metadata.each do |key,value|
    .row
      .col-md-6= text_field_tag 'metadata[keys][]',   key,   placeholder: 'Key'
      .col-md-6= text_field_tag 'metadata[values][]', value, placeholder: 'Value'
  -# add an empty row for entering new keys (this row will be duplicated once
  -# the user enters values, so that there is always an empty row available)
  .row.duplicate-on-edit
    .col-md-6= text_field_tag 'metadata[keys][]',   '', placeholder: 'Key'
    .col-md-6= text_field_tag 'metadata[values][]', '', placeholder: 'Value'

=content_for :javascripts do
  :javascript
    var duplicateLastRowOnFocus = function() {
      var row = $(this).closest('.row');
      if (row.hasClass('duplicate-on-edit')) {
        //make a new row
        newRow = row.clone();
        //only the bottom row has the "duplicate-on-edit" class at any time
        row.removeClass('duplicate-on-edit');
        row.parent().append(newRow);
        //install event handler on new input elements
        newRow.find('input').on('focus', duplicateLastRowOnFocus);
      }
    };
    $('#custom-metadata input').on('focus', duplicateLastRowOnFocus);
