%table.table
  %thead
    %tr
      %th Object name
      %th Size
      %th Last Modified
      %th.snug
  %tbody
    - if @objects.empty?
      %tr
        %td{colspan: 4} No objects found.
    - else
      - @objects.sort_by(&:ui_sort_order).each do |object|
        = render partial: 'object_list_entry', locals: { object: object }
