- if modal?
  = content_for :title do
    Backend error
- else
  = content_for :main_toolbar do
    Object Storage

%div{ class: modal? ? 'modal-body' : '' }
  %p An error was encountered while executing an Object Storage API call:
  %p.alert.alert-error= @exception_msg
  - if @request_dump
    %p The original request was:
    = content_tag('pre') { @request_dump }
