= javascript_include_tag "object_storage_app_widget", data: {base_name: plugin('object_storage').widget_path, object_store_endpoint:  services.os_api.service("object-store").endpoint_url, project_path: plugin('identity').project_path, resources_path: plugin('resources').project_path}
