<!DOCTYPE html>
<html>
<head>
  <title>BareMetalHana</title>
  <%= stylesheet_link_tag    "bare_metal_hana/application", media: "all" %>
  <%= javascript_include_tag "bare_metal_hana/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
