=render partial: 'networking/shared/tabs', locals: { tab: 'bgp_vpns' }

:javascript 
  if(window.location.href.indexOf('?r=') < 0)  {
      window.history.replaceState(null, "BGP VPNs", window.location.href+'/?r=');
  }

= javascript_include_tag "networking_bgp_vpns_widget"