:javascript 
  if(window.location.href.indexOf('?r=') < 0)  {
      window.history.replaceState(null, "Security Groups", window.location.href+'/?r=');
  }

= javascript_pack_tag "networking_security_groups"
