- details ||= nil

%div{class: "alert alert-error alert-dismissible word-wrap", 'role' => 'alert'}
  %button.close{type:'button', data: {dismiss: 'alert'}, "aria-label" => "Close"}
    %span{'aria-hidden' => 'true'}
      &times;
  = h(description) if description

  - unless details.nil?
    %p
      = link_to "#", data: {toggle: "show-error-details"} do
        Show error details
        %i.fa.fa-caret-down

    .scrollable-text.error-details-area.hide
      = details
