= f.input :payload, as: :text, required: true, label: 'Payload', placeholder: 'Enter payload', input_html: { rows: 15},
          icon_hint: t('key_manager.form.new.icon_hint.payload')

= f.input :payload_content_type, required: true, label: 'Payload Content Type', collection: payload_content_types, selected: 1

-if payload_content_encoding
  = f.input :payload_content_encoding, required: true, readonly: true, label: 'Payload Content Encoding', input_html: {value: ::KeyManager::Secret::Encoding::BASE64},
          icon_hint: t('key_manager.form.new.icon_hint.payload_content_encoding')