= f.input :payload_content_type,
  required: true,
  label: 'Payload Content Type',
  collection: payload_content_types,
  selected: @selected_payload_content_type || 1,
  input_html: {data: {encoding_relation: payload_encoding_relation, toggle: 'secretPayloadTypeSwitcher'}}

.js-secret-encoding{class: ('hide' if payload_encoding_relation[selected_payload_content_type.to_sym].nil?)}

  .row
    .col-sm-8.col-sm-push-4
      .js-secret-encoding-warning.bs-callout.bs-callout-warning.bs-callout-emphasize
        %h4
          Warning
        %p
          Please encode the 
          %b payload
          according to the choosen content encoding below.

  = f.input :payload_content_encoding,
    required: true,
    readonly: true,
    label: 'Payload Content Encoding',
    input_html: { value: ::KeyManager::Secret::Encoding::BASE64, data: {target: "payload-content-encoding-input"}},
    icon_hint: t('key_manager.form.new.icon_hint.payload_content_encoding'),
    disabled: (true if payload_encoding_relation[selected_payload_content_type.to_sym].nil?)
