= simple_form_for :secret,
  url: plugin('key_manager').secrets_path(),
  method: :post,
  remote: request.xhr?,
  html: {id: 'form_secrets', data: {modal: true}, class: 'form-horizontal' },
  wrapper: :horizontal_form do |f|
  = render partial: 'secret_payload',
    locals: {f: f, payload_content_types: payload_content_types, payload_encoding_relation: payload_encoding_relation, selected_payload_content_type: selected_payload_content_type}
