.secrets_table
  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Content Types
        %th Status
        %th.snug
    %tbody
      - if secrets.empty?
        %tr
          %td{colspan: 5} No secrets available
      - else
        -secrets.each do | secret |
          = render partial: 'table_secrets_item', locals: {secret: secret}

= paginate secrets, :theme => 'twitter-bootstrap-3', :remote => true, :params => {model: 'secrets'}