= render partial: 'key_manager/shared/nav.html', locals: {pane: 'secrets'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"secrets-pane"}

    %h3
      Available Secrets

    .row

      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('context_is_keymanager_editor')
            .main-buttons
              = link_to "New Secret", plugin('key_manager').new_secret_path, data: {modal: true}, class: 'btn btn-primary'

        .js-table-secrets{data: {toggle: 'paginationSpinner'}}
          = render partial: 'table_secrets', locals: {secrets: @secrets}

      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            The secrets resource is the heart of the Barbican service. It provides access to the secret/keying material
            stored in the system. Barbican supports the secure storage of data for various content types. For more information, visit the
            = link_to "Barbican OpenStack documentation", "http://developer.openstack.org/api-guide/key-manager/secrets.html", :target => "_blank"
            \.
