= render partial: 'key_manager/shared/nav.html', locals: {pane: 'secrets'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"secrets-pane"}

    %section
      %p
        The secrets resource is the heart of the barbican service. It provides access to the secret / keying material
        stored in the system. Barbican supports the storage of data for various content-types securely. For more information visit the
        = link_to "barbican openstack documentation", "http://docs.openstack.org/developer/barbican/api/userguide/secrets.html", :target => "_blank"
        \.

    %h3
      Available Secrets

    .toolbar
      = link_to "New Secret", plugin('key_manager').new_secret_path, data: {modal: true}, class: 'btn btn-primary btn-sm'

    .js-table-secrets{data: {toggle: 'paginationSpinner'}}
      = render partial: 'table_secrets', locals: {secrets: @secrets}