= render partial: 'key_manager/shared/nav.html', locals: {pane: 'secrets'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"secrets-pane"}

    %h3
      Available Secrets

    .toolbar
      = link_to "New Secret", "#", data: {modal: true}, class: 'btn btn-primary btn-sm'

    .js-table-secrets{data: {toggle: 'paginationSpinner'}}
      = render partial: 'table_secrets', locals: {secrets: @secrets}