= content_for :javascripts do
  :javascript
    var cost_object_inherited = #{@project_masterdata.cost_object_inherited};
    var domain_co_inheritance = #{@inheritance.co_inheritable};
    
    $(function() {

        if ( $('#project_masterdata_additional_information').val() == '' && 
             $('select#project_masterdata_business_criticality').val() == 'prod' 
          ) {
          $('#project_masterdata_additional_information').parent().addClass('has-error');
        }

        if (cost_object_inherited && domain_co_inheritance) {
          $('select#project_masterdata_cost_object_type').prop('disabled', function(i, v) { return !v; });
          $('input#project_masterdata_cost_object_name').prop('disabled', function(i, v) { return !v; });
        }
        
        // empty fields if inherited is true
        if ($('#project_masterdata_cost_object_inherited').val() == "true") {
          $('select#project_masterdata_cost_object_type').val("");
          $('input#project_masterdata_cost_object_name').val("");
        }
        
        // handle inherited true or false
        $('#project_masterdata_cost_object_inherited').change(function(){
          if ($('#project_masterdata_cost_object_inherited').val() == "true") {
            $('select#project_masterdata_cost_object_type').data('old_value',$('select#project_masterdata_cost_object_type').val());
            $('input#project_masterdata_cost_object_name').data('old_value',$('input#project_masterdata_cost_object_name').val());
            
            $('select#project_masterdata_cost_object_type').val("");
            $('input#project_masterdata_cost_object_name').val("");

            $('select#project_masterdata_cost_object_type').prop('disabled', true);
            $('input#project_masterdata_cost_object_name').prop('disabled', true);
          }
          else {
            $('select#project_masterdata_cost_object_type').val($('select#project_masterdata_cost_object_type').data('old_value'));
            $('input#project_masterdata_cost_object_name').val($('input#project_masterdata_cost_object_name').data('old_value'));

            $('select#project_masterdata_cost_object_type').prop('disabled', false);
            $('input#project_masterdata_cost_object_name').prop('disabled',false);
          }
        })

        $('textarea#project_masterdata_additional_information').on("propertychange input", function(){
           if ( $(this).val() == '' && 
                $('select#project_masterdata_business_criticality').val().match(/^prod/g) 
            ) {
              $(this).parent().addClass('has-error');
              $('#project_masterdata_business_criticality').parent().addClass('has-error');
            }
            else {
              $(this).parent().removeClass('has-error');
              $('#project_masterdata_business_criticality').parent().removeClass('has-error')
            }

            if (this.value.length > this.maxlength) {
               this.value = this.value.substring(0, this.maxlength);
            }
            
            chars_left = parseInt($(this).attr('maxlength')) - this.value.length;
            $('span#additional_information_length').html("Remaining characters "+chars_left);
        })

        $('select#project_masterdata_business_criticality').change(function(){
          if ( $(this).val().match(/^prod/g) && 
               $('#project_masterdata_additional_information').val() == ''
            ) {
            $('#project_masterdata_additional_information').parent().addClass('has-error');
            $('#project_masterdata_business_criticality').parent().addClass('has-error');
          }
          else {
            $('#project_masterdata_additional_information').parent().removeClass('has-error');
            $('#project_masterdata_business_criticality').parent().removeClass('has-error');
          }
        });
        
    });