= content_for :javascripts do
  :javascript
    var solutions = #{@solutions.to_json.html_safe};
    var cost_object_inherited = #{@project_masterdata.cost_object_inherited};
    
    $(function() {

        if (cost_object_inherited) {
          $('.project_masterdata_solution').hide();
          $('.project_masterdata_cost_object_type').hide();
          $('.project_masterdata_cost_object_name').hide();
        }
        
        $('#project_masterdata_cost_object_inherited').change(function(){
          $('.project_masterdata_solution').fadeToggle();
          $('.project_masterdata_cost_object_type').fadeToggle();
          $('.project_masterdata_cost_object_name').fadeToggle();
        })
        
        $('#project_masterdata_solution').change(function(){
          $.get("#{plugin('masterdata_cockpit').project_masterdata_revenue_relevances_path()}", { solution: $(this).val() } , function(data){});
        })
        
    });