- if @project_masterdata && !flash.now[:error]
  = link_to 'Edit Masterdata', plugin('masterdata_cockpit').project_masterdata_edit_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'
- elsif !@project_masterdata && !flash.now[:error]
  = link_to 'Maintain Masterdata', plugin('masterdata_cockpit').project_masterdata_new_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'