.masterdata-group
  .row
    .col-sm-4.details-label
      Name
    .col-sm-8.details-value
      = @project&.name
  .row
    .col-sm-4.details-label
      Description
    .col-sm-8.details-value
      =# use active project here because at the moment masterdata api supports max. 255 chars
      %span.description
        = @project&.description || '-'