=content_for :main_toolbar do
  Project Masterdata

.row
  .col-sm-9
    - unless @masterdata_found
      .alert.alert-danger
        No masterdata is maintained for this project yet.
    - else
      #project_masterdata_details
        = render partial: 'masterdata_details'

  .col-md-3
    - unless @masterdata_found
      = link_to 'Create Masterdata', plugin('masterdata_cockpit').project_masterdata_new_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'
    - else
      = link_to 'Edit Masterdata', plugin('masterdata_cockpit').project_masterdata_edit_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'
