=content_for :main_toolbar do
  Project Masterdata

.row
  .col-sm-8
    #project_masterdata_details
      - if !@project_masterdata
        .alert.alert-warning
          = icon('exclamation-circle')
          No masterdata maintained for this project.
      - elsif !flash.now[:error]
        = render partial: 'masterdata_details'
  .col-md-4
    #project_masterdata_additional_infos
      = render partial: 'masterdata_additional_infos'

