=content_for :main_toolbar do
  Project Masterdata

.row
  .col-sm-9
    #project_masterdata_details
      - if !@project_masterdata
        .alert.alert-warning
          = icon('exclamation-circle')
          No masterdata maintained for this project.
      - elsif !flash.now[:error]
        = render partial: 'masterdata_details'

  .col-md-3
    #project_masterdata_buttons
      = render partial: 'masterdata_buttons'

