// update masterdata and project
// this is used to close the modal window in project wizard
Dashboard.hideModal();
$('#project_masterdata_details').html("<%= escape_javascript(render partial: 'masterdata_details') %>");
$('#project_masterdata_additional_infos').html("<%= escape_javascript(render partial: 'masterdata_additional_infos') %>");
$('#edit_masterdata_btn').before('<span class="badge badge-success updated">Updated</span>');
$('.updated').fadeOut(3000);
