// this is used to close the modal window in project wizard
Dashboard.hideModal();
$('#project_details').html("<%= escape_javascript(render partial: 'project_details') %>");
$('#edit_project_btn').before('<span class="badge badge-success updated">Updated</span>');
$('.updated').fadeOut(3000);
