= content_for :main_toolbar do
  Container Image Registry

- if not @can_view
  .bs-callout.bs-callout-danger.bs-callout-emphasize
    You do not have the right permissions for this service.
    %ul
      %li
        To see this view and pull images, you need the
        %code registry_viewer
        role.
      %li
        To push or delete images, you need the
        %code registry_admin
        role.
      %li
        To create accounts and configure them, you need both the
        %code admin
        and the
        %code registry_admin
        role.
- elsif not @can_edit
  .bs-callout.bs-callout-info.bs-callout-emphasize
    This view is read-only. To push or delete images, you need the
    %code registry_admin
    role. To create accounts and configure them, you also need the
    %code admin
    role.
- elsif not @is_admin
  .bs-callout.bs-callout-info.bs-callout-emphasize
    To create accounts and configure them, you also need the
    %code admin
    role.

- if @can_view
  = javascript_pack_tag "keppel_app", data: @js_data
