.infobox
  %h4.action-heading
    Loadbalancer Info
  %table.table
    %tbody
      %tr
        %th
          Provisioning Status:
        %td
          .state{data:{update_loadbalancer_state: plugin('loadbalancing').get_item_loadbalancer_path(id: loadbalancer.id), initial_loadbalancer_state: loadbalancer.provisioning_status}}
      %tr
        %th.snug-nowrap
          Name:
        %td
          = loadbalancer.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = loadbalancer.description
      %tr
        %th.snug-nowrap
          ID:
        %td.small
          = loadbalancer.id
      %tr
        %th.snug-nowrap
          IP Address:
        %td
          = loadbalancer.vip_address