%tr
  %td
    = link_to(secret.display_name, plugin('key_manager').secret_path(id: secret.uuid), data: {modal: true})
  %td
    = secret.secret_type
  %td
    = secret.status
  %td
    %input{type: 'checkbox', name: "secrets[#{secret.name}]", value: secret.uuid}