.secrets_table
  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Status
        %th.snug
    %tbody
      - if containers.empty?
        %tr
          %td{colspa: 4} No containers available
      - else
        -containers.each do | container |
          = render partial: 'table_containers_item', locals: {container: container}

= paginate containers, :theme => 'twitter-bootstrap-3', :remote => true, :params => {model: 'containers'}