%tr
  %td
    = secret.display_name
  %td
    = secret.secret_type
  %td
    = secret.status
  %td
    %input{type: 'checkbox', name: "secrets[#{secret.uuid}]", value: {name: secret.name, secret_ref: secret.secret_ref}.to_json}