.container_secrets_table
  %table.table
    %thead
      %tr
        %th.snug #
        %th Name
    %tbody
      - if secrets.empty?
        %tr
          %td{colspan: 2} No secrets available
      - else
        -secrets.each_with_index do | secret, index |
          = render partial: 'table_container_secrets_item', locals: {index: index, secret: secret}