= render partial: 'key_manager/shared/nav', locals: {pane: 'containers'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"containers-pane"}

    %h3
      Available Containers

    .row

      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('context_is_keymanager_editor')
            .main-buttons
              = link_to "New Container", plugin('key_manager').new_container_path, data: {modal: true}, class: 'btn btn-primary'

        .js-table-container
          = render partial: 'table_containers', locals: {containers: @containers}

      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            The containers resource is the organizational center piece of barbican. It creates a logical object that can be
            used to hold secret references. This is helpful when having to deal with tracking and having access to hundreds
            of secrets. For more information visit the
            = link_to "Barbican OpenStack documentation", "http://developer.openstack.org/api-guide/key-manager/containers.html", :target => "_blank"
            \.
