.well
  .alert.alert-danger
    %strong Service Health:
    Maintenance - BB04 (Walldorf DC1 – EUROPE ) is undergoing a planned activity today

  .row
    .col-sm-6
      %h4 News
      %ul
        %li
          Datacenter Santa Clara (US East) will go live in February 2016.
        %li
          Datacenter Amsterdam (Europe) will go live in June 2016.
    .col-sm-6
      %h4 Do you know?
      %ul
        %li
          %a(href="#") How to deploy an instance in Europe?
        %li
          %a(href="#") How to make you app available in the Internet?
