= content_for :title do
  Role Based Access Control

%div{class: modal? ? 'modal-body' : ''}
  %table.table
    %thead
      %tr
        %th Action
        %th Target Project
        %th.snug
    %tbody
      - if @rbacs.length == 0
        %tr
          %td{colspa: 5} No Access given to other projects
      - else
        - @rbacs.each do | rbac |
          = render partial: 'rbac_item', locals: {rbac: rbac}


%div.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
  - else
    = link_to "Cancel", networks_url, class: 'btn btn-default'
  -# %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Save
