%table.table.suggested_images.searchable{data:{search_input: '#search_suggested_images_input'}}
  %thead
    %tr
      %th Name
      %th Format
      %th Size
      %th Owning Project
      %th Status
      %th.snug
  %tbody
    - if @images.empty?
      %tr
        %td{colspan: 6} No suggested images found.
    - else
      = render partial: 'list', locals: { images: @images }
