.inquiries-container
  %table.table
    %thead
      %tr
        %th Request for
        %th Description
        %th Requester
        %th Updated
        %th Status
        %th.snug
    %tbody
      - if @inquiries.length==0
        %tr
          %td{colspa: 6} No requests available
      - else
        - @inquiries.each do | inquiry |
          = render partial: 'item', locals: {inquiry: inquiry, remote_links: true}

  .pagination
    = paginate @inquiries, :window => 1, :outer_window => 1, :theme => 'twitter-bootstrap-3'
