.inquiries-container{data: {update_path: plugin('inquiry').inquiries_path(params.merge(partial:true)), update_interval: 30}}
  %table.table
    %thead
      %tr
        %th Request for
        %th Description
        %th Requester
        %th Date
        %th Status
        %th.snug
    %tbody
      - if @inquiries.length==0
        %tr
          %td{colspa: 6} No inquiries available
      - else
        - @inquiries.each do | inquiry |
          = render partial: 'item', locals: {inquiry: inquiry, remote_links: remote_links}

  .pagination
    = paginate @inquiries, :window => 1, :outer_window => 1, remote: remote_links, :theme => 'twitter-bootstrap-3'
