= content_for :main_toolbar do
  My Requests


= render partial: 'inquiry/shared/tabs', locals: {admin_view: false}

.tab-content
  = render partial: 'inquiry/shared/index_toolbar'

  = render partial: 'inquiries'
