= content_for :main_toolbar do
  Your Requests

.inquiry-widget{id: SecureRandom.hex, data: {widget: :inquiry}}
  = render partial: 'inquiries_widget', locals: {admin_view: false, remote_links: false}
