<!DOCTYPE html>
<html>
<head>
  <title>MonsoonAutomation</title>
  <%= stylesheet_link_tag    "monsoon_automation/application", media: "all" %>
  <%= javascript_include_tag "monsoon_automation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
