= content_for :main_toolbar do
  Key Manager

%script{"data-importmap-only" => "true", :src => "https://assets.juno.global.cloud.sap/apps/widget-loader@latest/build/app.js"}

.bs-callout.bs-callout-info
  %p
    This is the new version of Key Manager. If you prefer to use the previous version, click 
    =link_to "here", plugin('key_manager').secrets_path

= javascript_include_tag "keymanagerng_app_widget", data: { url: plugin("keymanagerng").root_path }