.well
  .alert.alert-info
    %strong Service Health:
    All services are operating normally.

  .row
    .col-sm-6
      %h4 News
      %ul
        %li
          Datacenter Santa Clara (US East) will go live in February 2016.
        %li
          Datacenter Amsterdam (Europe) will go live in June 2016.
          
    .col-sm-6
      %h4 Learning Center
      %ul
        %li
          %a(href="#") Deploying an instance in Europe
        %li
          %a(href="#") Making your app available from the Internet
