.projects-tree
  %h4.action-heading.heading-top
    Your Projects
    = "(#{@user_domain_projects.count})"
    .header-action
      %i.fa.fa-search{data: {trigger: "show-searchable-search"}}

  .toolbar-secondary.searchable-input
    .has-feedback
      = text_field_tag 'search-input', '', class: "form-control", placeholder: 'Search project name'
      %i.glyphicon.glyphicon-search.form-control-feedback


  = render_project_tree(@user_domain_projects_tree.root.children, html: {class: 'searchable', data:{search_input: '#search-input'} })
