.row
  .col-md-4
    .form-group.has-feedback
      = text_field_tag 'search-input', '', class: "form-control", placeholder: 'project name'
      %i.glyphicon.glyphicon-search.form-control-feedback
          
.row
  .col-md-12= render_project_tree(@user_domain_projects_tree.root.children, html: {class: 'searchable', data:{search_input: '#search-input'} })
