%h3 All domains

%table.table
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th 
  %tbody
    - @domains.each do |domain|
      %tr
        %td= domain.id
        %td= domain.name
        %td= domain.description
        
        %td.snug
