.mega-nav-responsive
  .container
    %h2 CloudOps
    .has-feedback.has-feedback-searchable.u-flex-pos-right
      %input(type="text" class="form-control" value="" placeholder="Object ID, name or project ID")
      %span.form-control-feedback
        %i.fa.fa-search
