- if @can_access_domain
  .main-toolbar
    .container
      %h1
        .page-title
          %i.fa.fa-angle-right
          - crumb,url = active_service_breadcrumb
          = link_to url do
            - if content_for? :main_toolbar
              = yield :main_toolbar
            - else
                = crumb

