
.well

  .alert.alert-info
    %strong Service Health:
    All services are operating normally.

  .row
    .col-sm-6
      %h4 News
      %ul
        %li
          Datacenter Santa Clara (US East) will go live in February 2016.
        %li
          Datacenter Amsterdam (Europe) will go live in June 2016.
    .col-sm-6
      %h4 Do you know?
      %ul
        %li
          %a(href="#") How to deploy an instance in Europe?
        %li
          %a(href="#") How to make you app available in the Internet?

-# %h3 Choose where you want to go:
-# .row
-#   .col-sm-6
-#     - if @user_domain_projects
-#       %table.table.table-striped.table-bordered.table-select
-#         %thead
-#           %tr
-#             %th
-#               Projects
-#         %tbody
-#           - @user_domain_projects.each do |project|
-#             %tr
-#               %td{class: ("active" if project.id == @scoped_project_id)}
-#                 = link_to "#{project.name}", project_id: project.fid



-# %table.table.table-striped.table-bordered
-#   %thead
-#     %tr
-#       %th(colspan="2")
-#         Services
-#   %tbody
-#     %tr
-#       %td.snug Compute
-#       %td
-#         = link_to "Instances", plugin('compute').instances_path
-#
-#     %tr
-#       %td.snug(rowspan="2") Identity
-#       %td
-#         = link_to "Credentials", plugin('identity').credentials_path
-#     %tr
-#       %td
-#         = link_to "Projects", plugin('identity').projects_path
