- auto_dismissible || false
- html_safe || false
%div{class: "alert alert-#{key} alert-dismissible word-wrap #{"auto-dismissible" if auto_dismissible}", 'role' => 'alert','aria-expanded' => 'true'}
  %button.close{type:'button', data: {dismiss: 'alert'}, "aria-label" => "Close"}
    %span{'aria-hidden' => 'true'}
      &times;
  - if html_safe
    = value.html_safe
  - else
    = value
