- flash.each do |key, value|
  - key = key.to_s.downcase
  - types = ['success', 'info', 'notice', 'warning', 'danger', 'alert', 'error']
  - if types.include? key
    = render partial: 'application/flash_dismissible', locals: {key: key, value: value}
  - elsif key.start_with?('keep_') && types.include?(key.sub(/^keep_/, ''))
    = render partial: 'application/flash_dismissible', locals: {key: key.sub(/^keep_/, ''), value: value, keep: true}
  - else
    = render partial: 'application/flash_default', locals: {key: key.sub(/^default_/, ''), value: value}
