%h3 Choose a project context to view its instances:
.row
  .col-lg-6
    .list-group
      - @user_domain_projects.each do |project|
        = link_to project.name, instances_path(domain_id: @scoped_domain_fid, project_id: project.friendly_id), class: "list-group-item"
