%h3 Choose a project context to view its instances:
.row
  .col-lg-6
    .list-group
      - @user_domain_projects.each do |project|
        = link_to project.name, instances_path(domain_fid: @domain_fid, project_fid: project.fid), class: "list-group-item"
