= content_for :title do
  - if @object.clean_path.empty?
    Create folder
  - else
    Create folder below: #{@object.clean_path}

- pl = plugin('object_storage')
- encoded_container_name = URI.encode_www_form_component(@container_name)
- encoded_object_path = URI.encode_www_form_component(@object.path)
= simple_modal_form_for @form, submit_action: 'Create folder', url: pl.create_folder_path(encoded_container_name, encoded_object_path), method: :post, cancel_url: pl.list_objects_path(encoded_container_name, encoded_object_path) do |f|
  %fieldset
    = f.input :name, as: :string, label: 'Folder name', input_html: { autofocus: true }
