= content_for :main_toolbar do
  Universal Search

- if current_user.is_allowed?("tools:application_get")
  = javascript_include_tag "tools_universal_search_widget"
- else
  %h3 Unauthorized
  %p You don't have the permissions required to see this content.
