= content_for :main_toolbar do
  Audit Log

=# react_component 'audit.AppProvider', permissions: {}, token: current_user.token, eventsApi: @events_endpoint
= javascript_include_tag 'audit_app', data: { token: current_user.token, events_api: @events_endpoint }
