:javascript
  $(function(){
    // renew popover 
    $('[data-toggle="popover"]').popover('destroy');
    $('[data-toggle="popover"][data-popover-type="help-hint"]').attr("tabindex","0");
    $('[data-toggle="popover"]').popover( {placement: 'top', trigger: 'focus'});
  });
