<!DOCTYPE html>
<html>
<head>
  <title>Monitoring</title>
  <%= stylesheet_link_tag    "monitoring/application", media: "all" %>
  <%= javascript_include_tag "monitoring/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
