= form.input :description, as: :text, input_html: {}, require: true, icon_hint: 'Describe the intended purpose of this technical user.' 
= form.input :domain_id, as: :hidden, input_html: { :value => @scoped_domain_id }

:javascript
  $(document).ready(function(){
    try {
      var textarea = $('#user_description');
      textarea.setCursorPosition(textarea.val().length+1);
      setTimeout(function(){textarea.focus()}, 100);
    } catch(e){}
  });