= simple_form_for @technical_user, url: domains_technical_user_path(id: @technical_user.id), method: :put, remote: request.xhr?, html: {data: {modal: true, roles_assignments: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @technical_user.errors.empty?
      %p.alert.alert-error= @technical_user.errors.full_messages.to_sentence
    
    = render partial: 'form', locals: {form: f} 
  
  %div.buttons{class: modal? ? 'modal-footer' : ''}  
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", domains_technical_users_path, class: 'btn btn-default'
      
    %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Save