= content_for :main_toolbar do
  Technical Users

- if current_user.is_allowed?("identity:technical_user_create",user: {domain_id: @scoped_domain_id})
  .toolbar
    = link_to 'New Technical User', new_domains_technical_user_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
    
%table.table#technical_users
  %thead
    %tr
      %th Name/ID
      %th Description
      %th 

  %tbody
    - if @technical_users.empty?
      %tr{data: {empty:true}}
        %td{colspan: 3} No technical users. 
    -else  
      - @technical_users.each do |user|
        = render partial: 'user', locals: {user: user}
