// close modal window
Dashboard.hideModal();
// reload remote inquries
PollingService.update('request');
// set the flash
$('.flashes').html('<p class="alert alert-notice"><%= escape_javascript(flash[:notice])%> </p>');