= favicon_link_tag  asset_path('favicon.png'), rel: "icon", type: "image"
= favicon_link_tag  asset_path('favicon.ico'), rel: "shortcut icon", type: "image/x-icon"
= favicon_link_tag  asset_path('apple-touch-icon.png'), rel: "apple-touch-icon"