%table.table
  %thead
    %tr
      %th Name
      %th Type
      %th Recipient
      %th.snug
  %tbody
    - if @notifications.empty?
      %tr
        %td{colspan: 4} No notification definitions found.
    - else
      -# TODO: add pagination
      - @notifications.each do |notification|
        = render partial: 'list_row', locals: { notification: notification }

= paginate @notifications, :theme => 'twitter-bootstrap-3', :remote => true
