= content_for :title do
  New Notification

.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{ type:"button", data: { dismiss:"modal" } } Cancel
  - else
    = link_to "Cancel", plugin('monitoring').notifications_path, class: 'btn btn-default'

